@use "sass:map";
@use "./variables";

@mixin export {
  :root {
    // フォールバックを目的に指定するfont familyの値はFlavorで指定しているためlintの対象から除外する
    /* stylelint-disable font-family-no-missing-generic-family-keyword */
    font-family: #{map.get(variables.$font-stack-values, japanese)};
    /* stylelint-enable font-family-no-missing-generic-family-keyword */
  }

  ::selection {
    color: #{map.get(variables.$selection-color-values, text)};
    background-color: #{map.get(variables.$selection-color-values, background)};
  }
}
