$nachiguro-color: (
  black: (
    1000: #000
  ),
  white: (
    1000: #fff
  ),
  gray: (
    50: #f7f8fa,
    100: #edeef0,
    200: #dee0e3,
    300: #c8cbcf,
    400: #afb3ba,
    500: #9297a1,
    600: #767b85,
    700: #585c63,
    800: #393c41
  ),
  blue: (
    50: #f5faff,
    100: #e6f1fa,
    200: #cee0f0,
    300: #adc8e0,
    400: #84accf,
    500: #5e8eb8,
    600: #3e6f99,
    700: #2c567a,
    800: #1f3e59,
    A200: #dbeeff,
    A400: #80b3e0,
    A700: #2571b3
  ),
  sky: (
    50: #f5fcff,
    100: #e8f6fc,
    200: #c1e5f5,
    300: #8fcfeb,
    400: #5db7de,
    500: #39a0cc,
    600: #2588b3,
    700: #1b7094,
    800: #145570,
    A200: #dbf4ff,
    A400: #78c8eb,
    A700: #1696cc
  ),
  grape: (
    50: #fffafc,
    100: #fff2f8,
    200: #fae3ed,
    300: #f7d0e0,
    400: #ebabc6,
    500: #d681a4,
    600: #ba5781,
    700: #9e3963,
    800: #782548,
    A200: #ffe0ed,
    A400: #f79ec3,
    A700: #d4397a
  ),
  red: (
    50: #fffafa,
    100: #fff5f5,
    200: #fae6e6,
    300: #fad4d4,
    400: #f0b4b4,
    500: #db8888,
    600: #c25d5d,
    700: #a63c3c,
    800: #802626,
    A200: #ffe0e0,
    A400: #faa2a2,
    A700: #db3d3d
  ),
  orange: (
    50: #fff8f2,
    100: #fff3eb,
    200: #fae7d9,
    300: #f7dac6,
    400: #ebc0a2,
    500: #d99f75,
    600: #bf7d4e,
    700: #9e5e31,
    800: #78431e,
    A200: #ffe9d9,
    A400: #f7be94,
    A700: #d9752e
  ),
  yellow: (
    50: #fffceb,
    100: #fffae0,
    200: #faf2cd,
    300: #f2e8b6,
    400: #e8d990,
    500: #d6c363,
    600: #bda840,
    700: #998626,
    800: #736317,
    A200: #fff7d1,
    A400: #f2e085,
    A700: #d6b71e
  ),
  leaf: (
    50: #fbffed,
    100: #f8ffe3,
    200: #effacf,
    300: #e1f0b6,
    400: #cfe394,
    500: #b7d169,
    600: #98b541,
    700: #769126,
    800: #586e16,
    A200: #f4ffd4,
    A400: #d5f086,
    A700: #a3cf21
  ),
  green: (
    50: #f2fcfc,
    100: #e8fafa,
    200: #daf5f5,
    300: #c1e8e8,
    400: #9dd4d4,
    500: #72baba,
    600: #469999,
    700: #237a7a,
    800: #125959,
    A200: #d9fcfc,
    A400: #92e8e8,
    A700: #2eb3b3
  )
);

@function color($name, $level: 600) {
  @return map-get(map-get($nachiguro-color, $name), $level);
}
