.ncgr-feature-banner {
  width: 360px;
  position: relative;
  border-radius: 8px;
  box-sizing: border-box;
  display: block;
  color: var(--color-default-800);
  @include shadow-2dp();
  @include mediaquery(tablet) {
    width: 320px;
  }
  @include mediaquery(mobile) {
    width: 240px;
  }
}

.ncgr-feature-banner__cover {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 8px 8px 0 0;
  background-repeat: 
    no-repeat,
    no-repeat;
  background-position:
    center,
	  center;
  @include mediaquery(tablet) {
    padding: 10px 10px 10px 20px;
  }
}

.ncgr-feature-banner__image-wrap {
  width: 50%;
  margin-right: 16px;
  display: flex;
  align-items: center;
  @include mediaquery(tablet) {
    margin-right: 10px;
  }
  &:last-child {
    margin-right: 0;
  }
}

.ncgr-feature-banner__image {
  width: 100%;
  height: auto;
}

.ncgr-feature-banner__heading {
  color: var(--color-label);
  opacity: 0.8;
  height: 1.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ncgr-feature-banner__item-count {
  color: var(--color-secondary-label);
  opacity: 0.5;
}