.ncgr-materials__step1-card {
  padding: 24px;
  @include mediaquery(mobile) {
    padding: 16px;
  }
}

.ncgr-materials__step3-card {
  padding: 24px;
  @include mediaquery(mobile) {
    padding: 16px 16px 64px 16px;
  }
}

.ncgr-materials__design-hint {
  position: relative;
}

.ncgr-materials__design-hint-title {
  margin-bottom: 24px;
  text-align: left;

  @include mediaquery(tablet) {
    padding-left: 16px;
  }
}

.ncgr-materials__design-hint-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ncgr-materials__design-hint-card-item {
  width: 32.4%;
  margin-bottom: 16px;

  @include mediaquery(tablet) {
    width: 100%;
    margin: 0 16px 16px;
  }
}

.ncgr-materials__design-hint-banner-image {
  width: 100%;
  border-radius: 8px;
  vertical-align: bottom;
  transition: all 0.2s ease-out;

  &:hover {
    transform: scale(1.05);
  }
}

.ncgr-materials__spacer {
  height: 24px;
  position: relative;
}

.ncgr-materials__arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 24px 70px 0 70px;
  border-color: var(--color-secondary-grouped-background) transparent transparent transparent;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -70px;
}

.ncgr-materials__heading-wrap {
  display: flex;
  align-items: center;
}

.ncgr-materials__heading {
  align-items: center;
  display: flex;
  font-weight: bold;
  line-height: 1;
}

.ncgr-materials__heading--step2 {
  padding: 24px;
  @include mediaquery(mobile) {
    padding: 16px;
  }
}

.ncgr-materials__hint {
  padding: 0 24px 24px 24px;
  @include mediaquery(mobile) {
    padding: 0 16px 16px 16px;
  }
}

.ncgr-materials__heading-step {
  display: block;
  font-size: 12px;
}

.ncgr-materials__heading-step-num {
  font-size: 36px;
}

.ncgr-materials__form-group {
  max-width: 560px;
  margin: 0 auto;
}

.ncgr-materials__material-texture {
  display: none;
}

.ncgr-materials__material-texture.visible {
  display: inline;
}

.ncgr-materials__upload-preview {
  img {
    width: 300px;
    height: 300px;
    @include mediaquery(mobile) {
      width: 100%;
      height: auto;
    }
  }
}

.ncgr-materials__publish-card {
  padding: 24px 24px 48px;
  @include mediaquery(mobile) {
    padding: 16px 8px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    z-index: 98;
    border-top: 1px solid var(--color-separator);
    box-sizing: border-box;
  }
}

.ncgr-materials__confirm-content {
  display: none;
  max-width: 560px;
  margin: 0 auto;
}

// システム上class名を変更することができないため接頭辞ncgrがついていません
.controller-account-materials.action-new #layout,
.controller-account-materials.action-show #layout {
  background-color: var(--color-grouped-background);
}

// index

.ncgr-materials__card {
  display: block;
  padding: 16px;
  height: 100%;
}

.ncgr-materials__card--add {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px dashed var(--color-separator);
  background-color: var(--color-secondary-grouped-background);
}

.ncgr-materials__add-button {
  width: 56px;
  height: 56px;
}

.ncgr-materials__add-button-label {
  color: var(--color-label);
  text-align: center;
  font-size: 14px;
}

.ncgr-materials__material-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--color-label);
  text-align: center;
  font-size: 14px;
  height: 24px;
}

.ncgr-materials__delete-button {
  position: absolute;
  top: 8px;
  right: 8px;
}