#overlay-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2147483645;
  height: 100%;
  overflow: scroll;
  transition: width 0.5s cubic-bezier(0, 1.2, 1, 1.2), opacity 0.5s ease-in;
  -webkit-overflow-scrolling: touch;
}

#overlay-nav-content {
  position: relative;
  padding: 48px 16px 0;
  overflow: auto;
  &.overflow-hidden {
    overflow: hidden;
  }
}

body.overflow-hidden {
  overflow: hidden;
}