.overlay {
  background-color: rgba(0, 0, 0, 0.85);
  height: 100%;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  opacity: 1;
  transition: opacity 300ms ease-out;
}

.ncgr-print {
  width: 100%;
  padding: 48px 0 48px 0;
  @include mediaquery(tablet) {
    padding: 0;
  }
}

.ncgr-print__modal {
  background-color: var(--color-tertiary-background);
  box-sizing: border-box;
  border-radius: 8px;
  width: 1280px;
  margin: 0 auto;
  @include mediaquery(tablet) {
    border-radius: 0;
    border: none;
    width: 100%;
    min-height: 100vh;
  }
}

.ncgr-print__header {
  box-sizing: border-box;
  border-bottom: 1px solid var(--color-separator);
}

.ncgr-print__header-inner {
  box-sizing: border-box;
  width: 1080px;
  margin: 0 auto;
  padding: 24px 0 24px 0;
  @include mediaquery(tablet) {
    width: 100%;
    padding: 16px;
  }
}

.ncgr-print__editor {
  background-color: var(--color-secondary-background);
  border-bottom: 1px solid var(--color-separator);
}

.ncgr-print__editor-inner {
  width: 1080px;
  margin: 0 auto;
  padding: 24px 0 24px 0;
  @include mediaquery(tablet) {
    width: 500px;
  }
  @include mediaquery(mobile) {
    width: 323px;
  }
}

.ncgr-print__editor-layout {
  display: flex;
  justify-content: space-between;
  @include mediaquery(tablet) {
    display: block;
  }
  flex-wrap: wrap;
}

.ncgr-print__settings {
  box-sizing: border-box;
  padding: 24px 0 24px 0;
  width: 1080px;
  margin: 0 auto;
  @include mediaquery(tablet) {
    width: 100%;
    padding: 16px;
  }
}

.ncgr-print__heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.ncgr-print__sell-colors {
  overflow: scroll;
  display: flex;
  flex-flow: row nowrap;
}

.ncgr-print__sell-color-image {
  width: 140px;
  height: 140px;
}

.ncgr-print__place-label {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: var(--color-label);
}

.ncgr-print__place-label--editor {
  margin-top: 0;
}

.ncgr-print__place-label--dropzone {
  margin-top: 8px;
}

.ncgr-print__option {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column nowrap;
  margin-bottom: 4px;
}

.ncgr-print__option-name {
  width: 100px;
  @include mediaquery(mobile) {
    width: 60px;
  }
}

.product-print-editor {
  background: var(--color-white);
  position: relative;
  margin-bottom: 120px;
  .body-image {
    position: relative;
    z-index: 100;
  }
  .print-area {
    position: absolute;
    border: 1px solid var(--color-primary-500);
    z-index: 300;
    &.print-area-under {
      z-index: 50;
    }
  }
  .print {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    border: 1px dashed var(--color-default-500);
    z-index: 300;
    cursor: move;
  }
  .print-corner {
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 19px;
    height: 19px;
    z-index: 400;
    border-radius: 10px;
  }
  .print-corner-tl {
    top: -10px;
    left: -10px;
    cursor: nwse-resize;
  }
  .print-corner-tr {
    top: -10px;
    right: -10px;
    cursor: nesw-resize;
  }
  .print-corner-bl {
    bottom: -10px;
    left: -10px;
    cursor: nesw-resize;
  }
  .print-corner-br {
    bottom: -10px;
    right: -10px;
    cursor: nwse-resize;
  }
  .lens-preview {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
  }
}

.ncgr-print__delete-button {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 500;
}

.ncgr-print__footer {
  border-top: 1px solid var(--color-separator);
  box-sizing: border-box;
  padding: 16px;
  @include mediaquery(mobile) {
    position: -webkit-sticky;
    position: sticky;
    z-index: 501;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-secondary-grouped-background);
  }
}
