.ncgr-trading {
  a {
    color: var(--color-label);
  }
  div {
    margin-bottom: 2em;
  }
  h3 {
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    border-bottom: 1px solid var(--color-separator);
  }
  h4 {
    margin-bottom: 0.5em;
  }
  p {
    margin: 0.5em 0;
    color: var(--color-label);
  }
  ul {
    padding: 0.5em 0.25em;
    margin-bottom: 0.5em;
    color: var(--color-label);
    li {
      margin-left: 2em;
      list-style-type: disc;
    }
  }
}