$elevation-shadow-color: #000;

$key-light-shadows: (
  0: (
    offset-x: 0,
    offset-y: 0,
    blur-radius: 0,
    spread-radius: 0,
    alpha: 0
  ),
  1: (
    offset-x: 0,
    offset-y: -0.1px,
    blur-radius: 1px,
    spread-radius: 0,
    alpha: 0.12
  ),
  2: (
    offset-x: 0,
    offset-y: 0,
    blur-radius: 4px,
    spread-radius: 0,
    alpha: 0.12
  ),
  3: (
    offset-x: 0,
    offset-y: 0,
    blur-radius: 6px,
    spread-radius: 0,
    alpha: 0.08
  ),
  4: (
    offset-x: 0,
    offset-y: 2px,
    blur-radius: 6px,
    spread-radius: 0,
    alpha: 0.08
  ),
  5: (
    offset-x: 0,
    offset-y: 4px,
    blur-radius: 16px,
    spread-radius: -16px,
    alpha: 0.28
  ),
  6: (
    offset-x: 0,
    offset-y: 4px,
    blur-radius: 40,
    spread-radius: -28px,
    alpha: 0.32
  ),
) !default;

$ambient-light-shadows: (
  0: (
    offset-x: 0,
    offset-y: 0,
    blur-radius: 0,
    spread-radius: 0,
    alpha: 0
  ),
  1: (
    offset-x: 0,
    offset-y: 1px,
    blur-radius: 2px,
    spread-radius: 0,
    alpha: 0.12
  ),
  2: (
    offset-x: 0,
    offset-y: 4px,
    blur-radius: 6px,
    spread-radius: -2px,
    alpha: 0.12
  ),
  3: (
    offset-x: 0,
    offset-y: 6px,
    blur-radius: 7px,
    spread-radius: -8px,
    alpha: 0.12
  ),
  4: (
    offset-x: 0,
    offset-y: 8px,
    blur-radius: 32px,
    spread-radius: -12px,
    alpha: 0.12
  ),
  5: (
    offset-x: 0,
    offset-y: 12px,
    blur-radius: 64px,
    spread-radius: -20,
    alpha: 0.2
  ),
  6: (
    offset-x: 0,
    offset-y: 16px,
    blur-radius: 72px,
    spread-radius: -24px,
    alpha: 0.24
  ),
);

$adjustment-shadows: (
  0: (
    offset-x: 0,
    offset-y: 0,
    blur-radius: 0,
    spread-radius: 0,
    alpha: 0
  ),
  1: (
    offset-x: 0,
    offset-y: 0,
    blur-radius: 0,
    spread-radius: 0,
    alpha: 0
  ),
  2: (
    offset-x: 0,
    offset-y: 0,
    blur-radius: 0,
    spread-radius: 0,
    alpha: 0
  ),
  3: (
    offset-x: 0,
    offset-y: 6px,
    blur-radius: 16px,
    spread-radius: 2px,
    alpha: 0.12
  ),
  4: (
    offset-x: 0,
    offset-y: 10,
    blur-radius: 28px,
    spread-radius: 4px,
    alpha: 0.12
  ),
  5: (
    offset-x: 0,
    offset-y: 16px,
    blur-radius: 48px,
    spread-radius: -8px,
    alpha: 0.24
  ),
  6: (
    offset-x: 0,
    offset-y: 24px,
    blur-radius: 64px,
    spread-radius: -12px,
    alpha: 0.28
  ),
);
