@use "sass:map";

$nachiguro-color: (
  black: (
    1000: #000
  ),
  white: (
    1000: #fff
  ),
  red: (
    50: #fff3f2,
    100: #fceae8,
    200: #faccc8,
    300: #f2a099,
    400: #eb5b4d,
    500: #d92e1e,
    600: #bf2213,
    700: #9c1609,
    800: #700d04,
    900: #520802
  ),
  pink: (
    50: #fff2f7,
    100: #fce8f0,
    200: #fac8dc,
    300: #f299bc,
    400: #eb4d8c,
    500: #d91e69,
    600: #bf1358,
    700: #9c0944,
    800: #700430,
    900: #520222,
  ),
  purple: (
    50: #f6f2ff,
    100: #efe8fc,
    200: #d9c8fa,
    300: #b699f2,
    400: #824deb,
    500: #5c1ed9,
    600: #4c13bf,
    700: #3a099c,
    800: #280470,
    900: #1c0252,
  ),
  indigo: (
    50: #f2f6ff,
    100: #e3eafc,
    200: #c0d1fa,
    300: #8da9f2,
    400: #4f7df0,
    500: #2058e5,
    600: #083Cbf,
    700: #022d9c,
    800: #002278,
    900: #001752,
  ),
  blue: (
    50: #edf9ff,
    100: #d9f0fc,
    200: #b9e3fa,
    300: #7ecaf2,
    400: #4db8f0,
    500: #129ce5,
    600: #067bbf,
    700: #02669c,
    800: #004f7a,
    900: #003552
  ),
  cyan: (
    50: #f2feff,
    100: #e3fbfc,
    200: #c0f7fa,
    300: #8dedf2,
    400: #4fe8f0,
    500: #20dce5,
    600: #08b6bf,
    700: #02949c,
    800: #006b70,
    900: #004e52,
  ),
  teal: (
    50: #f2fffb,
    100: #e3fcf5,
    200: #c0fae9,
    300: #8df2d4,
    400: #4ff0c0,
    500: #20e5aa,
    600: #08bf88,
    700: #029c6d,
    800: #00704f,
    900: #005239,
  ),
  green: (
    50: #f2fff3,
    100: #d4fad6,
    200: #aef5b0,
    300: #8ced8f,
    400: #62de66,
    500: #1fcc26,
    600: #0bb210,
    700: #06910a,
    800: #026e06,
    900: #003d02,
  ),
  lime: (
    50: #fbfff2,
    100: #f4fce3,
    200: #e7fac0,
    300: #d0f28d,
    400: #baf04f,
    500: #a4e520,
    600: #7db807,
    700: #639401,
    800: #426300,
    900: #2e4500,
  ),
  yellow: (
    50: #fffeeb,
    100: #fcfbde,
    200: #fdfac4,
    300: #fbf7a7,
    400: #fbf47f,
    500: #faf143,
    600: #e0d619,
    700: #b2aa04,
    800: #736d01,
    900: #3d3a00,
  ),
  amber: (
    50: #fff9eb,
    100: #fcf4de,
    200: #fcebc0,
    300: #fadd93,
    400: #fad169,
    500: #fac743,
    600: #e0a819,
    700: #b28104,
    800: #735301,
    900: #3d2c00
  ),
  orange: (
    50: #fff8f2,
    100: #fcf2e8,
    200: #fae0c8,
    300: #f7c89c,
    400: #f5a85f,
    500: #f28622,
    600: #d46e0f,
    700: #ab580a,
    800: #783c05,
    900: #3d1e00
  ),
  brown: (
    50: #fff8f5,
    100: #faece6,
    200: #f0d8ce,
    300: #d6b4a5,
    400: #b88b77,
    500: #7a5545,
    600: #523428,
    700: #42291e,
    800: #331e15,
    900: #24130c,
  ),
  gray: (
    50: #fafcfc,
    100: #f2f6f7,
    200: #e4e8eb,
    300: #d5dbde,
    400: #c4cbcf,
    500: #adb4bb,
    600: #8e9599,
    700: #63686b,
    800: #3a3e40,
    900: #1c1e1f
  ),
);

@function color($name, $level: 500) {
  @return map.get(map.get($nachiguro-color, $name), $level);
}
