@use "sass:map";

// コメントのインデントを揃えているせいでstylelintがエラーと判定してしまうため、
// ソースコードの読みやすさを優先させてlintの対象から除外する
/* stylelint-disable indentation */

$font-family-values: (
  sans-latin: "'Open Sans'",
  sans-japanese: "'Hiragino Kaku Gothic ProN'",
  sans-japanese-kerning: "YakuHanJP, 'Hiragino Kaku Gothic ProN'",
  monospace: "'Roboto Mono'",
  icon: "'Nachiguro Icons'",
  ui: "apple-system, BlinkMacSystemFont, Roboto, 'Lucida Grande', Helvetica, Arial"
) !default;

$font-stack-values: (
  latin: "#{map.get($font-family-values, sans-latin)}, #{map.get($font-family-values, ui)}, sans-serif",
  japanese: "#{map.get($font-family-values, sans-latin)}, #{map.get($font-family-values, sans-japanese)}, #{map.get($font-family-values, ui)}, sans-serif",
  japanese-kerning: "#{map.get($font-family-values, sans-latin)}, #{map.get($font-family-values, sans-japanese-kerning)}, #{map.get($font-family-values, ui)}, sans-serif",
  monospace: "#{map.get($font-family-values, monospace)}, monospace",
  icon: "#{map.get($font-family-values, icon)}"
) !default;

$font-sizes: (
  xxs:  0.6875rem, // 11px
  xs:   0.75rem,   // 12px
  s:    0.875rem,  // 14px
  m:    1rem,      // 16px
  l:    1.125rem,  // 18px
  xl:   1.3125rem, // 21px
  xxl:  1.625rem,  // 26px
  xxxl: 2rem       // 32px
) !default;

$line-height-sizes: (
  comfort: (
    xxs:  1.25rem, // 20px
    xs:   1.5rem,  // 24px
    s:    1.75rem, // 28px
    m:    1.75rem, // 28px
    l:    2rem,    // 32px
    xl:   2.5rem,  // 40px
    xxl:  3rem,    // 48px
    xxxl: 3.5rem   // 56px
  ),
  normal: (
    xxs:  1.25rem, // 20px
    xs:   1.25rem, // 20px
    s:    1.5rem,  // 24px
    m:    1.5rem,  // 24px
    l:    1.75rem, // 28px
    xl:   2rem,    // 32px
    xxl:  2.5rem,  // 40px
    xxxl: 2.5rem   // 40px
  ),
  dense: (
    xxs:  1rem,    // 16px
    xs:   1rem,    // 16px
    s:    1.25rem, // 20px
    m:    1.25rem, // 20px
    l:    1.5rem,  // 24px
    xl:   1.75rem, // 28px
    xxl:  2.25rem, // 36px
    xxxl: 2.5rem   // 40px
  )
) !default;

$interactive-list-font-sizes: (
  title: 1rem,          // 16px
  description: 0.875rem // 14px
) !default;
