/*doc
---
title: Button
name: button
category: Components
---

```.ncgr-button``` を指定した要素はボタンになります。

```example
<button class="ncgr-button">タップ可能</button>
```

#### .ncgr-button--active

```.ncgr-button``` を指定した要素に ```.ncgr-button--active``` をさらに指定すると、タップ中のボタンになります。

```example
<button class="ncgr-button ncgr-button--active">タップ中</button>
```

#### .ncgr-button--fluid

```.ncgr-button``` を指定した要素に ```.ncgr-button--fluid``` をさらに指定すると、ボタンの幅が内容によって可変します。

```example
<button class="ncgr-button ncgr-button--fluid">タップ可能</button>
```

#### .ncgr-button--small

```.ncgr-button``` を指定した要素に```.ncgr-button--small``` を指定すると小さいサイズのボタンになります。

```example
<button class="ncgr-button ncgr-button--small">タップ可能</button>
```

#### .ncgr-button--light

```.ncgr-button``` を指定した要素に ```.ncgr-button--light``` を指定すると、色が薄いボタンになります。

```example
<button class="ncgr-button ncgr-button--light">タップ可能</button>
```

#### .ncgr-button--disabled

```.ncgr-button``` を指定した要素に ```disabled``` または ```.ncgr-button--disabled``` を指定すると、タップできないボタンになります。

```example
<button class="ncgr-button" disabled>タップ禁止</button>
```

```example
<button class="ncgr-button ncgr-button--disabled">タップ禁止</button>
```

#### .ncgr-button--primary

```.ncgr-button``` を指定した要素に ```.ncgr-button--primary``` を指定すると、色が変わって Primary な意味を持つボタンになります。

```example
<button class="ncgr-button ncgr-button--primary ncgr-button--fluid">タップ可能</button>
<button class="ncgr-button ncgr-button--primary ncgr-button--fluid ncgr-button--active">タップ中</button>
<button class="ncgr-button ncgr-button--primary ncgr-button--fluid ncgr-button--light">タップ可能</button>
<button class="ncgr-button ncgr-button--primary ncgr-button--fluid ncgr-button--light ncgr-button--active">タップ中</button>
<button class="ncgr-button ncgr-button--primary ncgr-button--fluid" disabled>タップ禁止</button>
```

#### .ncgr-button--secondary

```.ncgr-button``` を指定した要素に ```.ncgr-button--secondary``` を指定すると、色が変わって Secondary な意味を持つボタンになります。

```example
<button class="ncgr-button ncgr-button--secondary ncgr-button--fluid">タップ可能</button>
<button class="ncgr-button ncgr-button--secondary ncgr-button--fluid ncgr-button--active">タップ中</button>
<button class="ncgr-button ncgr-button--secondary ncgr-button--fluid ncgr-button--light">タップ可能</button>
<button class="ncgr-button ncgr-button--secondary ncgr-button--fluid ncgr-button--light ncgr-button--active">タップ中</button>
<button class="ncgr-button ncgr-button--secondary ncgr-button--fluid" disabled>タップ禁止</button>
```

#### .ncgr-button--success

```.ncgr-button``` を指定した要素に ```.ncgr-button--success``` を指定すると、色が変わって Warning な意味を持つボタンになります。

```example
<button class="ncgr-button ncgr-button--success ncgr-button--fluid">タップ可能</button>
<button class="ncgr-button ncgr-button--success ncgr-button--fluid ncgr-button--active">タップ中</button>
<button class="ncgr-button ncgr-button--success ncgr-button--fluid ncgr-button--light">タップ可能</button>
<button class="ncgr-button ncgr-button--success ncgr-button--fluid ncgr-button--light ncgr-button--active">タップ中</button>
<button class="ncgr-button ncgr-button--success ncgr-button--fluid" disabled>タップ禁止</button>
```

#### .ncgr-button--warning

```.ncgr-button``` を指定した要素に ```.ncgr-button--warning``` を指定すると、色が変わって Warning な意味を持つボタンになります。

```example
<button class="ncgr-button ncgr-button--warning ncgr-button--fluid">タップ可能</button>
<button class="ncgr-button ncgr-button--warning ncgr-button--fluid ncgr-button--active">タップ中</button>
<button class="ncgr-button ncgr-button--warning ncgr-button--fluid ncgr-button--light">タップ可能</button>
<button class="ncgr-button ncgr-button--warning ncgr-button--fluid ncgr-button--light ncgr-button--active">タップ中</button>
<button class="ncgr-button ncgr-button--warning ncgr-button--fluid" disabled>タップ禁止</button>
```

#### .ncgr-button--danger

```.ncgr-button``` を指定した要素に ```.ncgr-button--danger``` を指定すると、色が変わって Danger な意味を持つボタンになります。

```example
<button class="ncgr-button ncgr-button--danger ncgr-button--fluid">タップ可能</button>
<button class="ncgr-button ncgr-button--danger ncgr-button--fluid ncgr-button--active">タップ中</button>
<button class="ncgr-button ncgr-button--danger ncgr-button--fluid ncgr-button--light">タップ可能</button>
<button class="ncgr-button ncgr-button--danger ncgr-button--fluid ncgr-button--light ncgr-button--active">タップ中</button>
<button class="ncgr-button ncgr-button--danger ncgr-button--fluid" disabled>タップ禁止</button>
```

#### .ncgr-button--default

```.ncgr-button``` を指定した要素に ```.ncgr-button--default``` を指定すると、デフォルトの色のボタンになります。

デフォルトの色を指定したいことを示したい場合に使用します。

```example
<button class="ncgr-button ncgr-button--default ncgr-button--fluid">タップ可能</button>
<button class="ncgr-button ncgr-button--default ncgr-button--fluid ncgr-button--active">タップ中</button>
<button class="ncgr-button ncgr-button--default ncgr-button--fluid ncgr-button--light">タップ可能</button>
<button class="ncgr-button ncgr-button--default ncgr-button--fluid ncgr-button--light ncgr-button--active">タップ中</button>
<button class="ncgr-button ncgr-button--default ncgr-button--fluid" disabled>タップ禁止</button>
```

#### .ncgr-button--{twitter or instagram or nicovideo}

```.ncgr-button``` を指定した要素にそれぞれの class を指定すると、各サービスのブランドカラーの文字色のボタンになります。

おもにログインボタンとして使用することを想定して用意しています。

```example
<button class="ncgr-button ncgr-button--twitter ncgr-button--light ncgr-button--fluid">
  Twitter
</button>
<button class="ncgr-button ncgr-button--instagram ncgr-button--light ncgr-button--fluid">
  Instagram
</button>
<button class="ncgr-button ncgr-button--nicovideo ncgr-button--light ncgr-button--fluid">
  ニコニコ動画
</button>
```

*/
.ncgr-button,
.ncgr-button[type="submit"],
.ncgr-button[type="button"] {
  border-style: none;
  outline: 0;
  overflow: visible;
  position: relative;
  touch-action: manipulation;
  -webkit-appearance: none;
  white-space: nowrap;
  border-bottom: solid 4px var(--color-default-600);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  appearance: none;
  box-sizing: border-box;
  width: 100%;
  height: 52px;
  text-align: center;
  display: inline-block;
  color: var(--color-white);
  font-weight: bold;
  font-size: 18px;
  line-height: 52px;
  background-color: var(--color-default-500);
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  &:focus,
  &:active:focus {
    outline: none;
  }
  &:active,
  &.ncgr-button--active {
    outline: 0;
  }
}

.ncgr-button:active,
.ncgr-button.ncgr-button--active {
  box-shadow: 0 2px 0 0 var(--color-default-800) inset;
  border-bottom: none;
  color: var(--color-default-50);
  background-color: var(--color-default-600);
}

.ncgr-button.ncgr-button--fluid {
  width: auto;
  max-width: 100%;
  padding: 0 32px 0 32px;
}

.ncgr-button.ncgr-button--small {
  height: 32px;
  padding: 0 8px 0 8px;
  line-height: 32px;
  font-size: 12px;
}

.ncgr-button--loading,
.ncgr-button--loading[type="submit"] {
  background-image: asset-url('indicator-button.gif');
  background-position: center;
  background-repeat: no-repeat;
  text-indent: -9999px;
  content: '';
  width: 120px;
  transition: width 0.25s;
}

.ncgr-button--complete,
.ncgr-button--complete[type="submit"] {
  color: rgba(255, 255, 255, 0);
  content: '✓';
  width: 160px;
  height: 53px;
}

.ncgr-button.ncgr-button--light {
  border-bottom: solid 4px var(--color-default-75);
  color: var(--color-default-900);
  font-weight: normal;
  background-color: var(--color-default-50);
  @media (prefers-color-scheme: dark) {
    border-bottom: solid 4px var(--color-default-300);
    font-weight: normal;
    background-color: var(--color-default-200);
  }
  &:active,
  &.ncgr-button--active {
    box-shadow: 0 2px 0 0 var(--color-default-100) inset;
    border-bottom: none;
    color: var(--color-default-900);
    background-color: var(--color-default-75);
    @media (prefers-color-scheme: dark) {
      box-shadow: 0 2px 0 0 var(--color-default-400) inset;
      color: var(--color-default-900);
      background-color: var(--color-default-300);
    }
  }
}

.ncgr-button[disabled],
.ncgr-button.ncgr-button--disabled {
  box-shadow: 0 2px 0 0 var(--color-default-200) inset;
  border-bottom: none;
  color: var(--color-default-50);
  background-color: var(--color-default-100);
  cursor: not-allowed;
}

.ncgr-button.ncgr-button--primary {
  border-bottom: solid 4px var(--color-primary-700);
  color: var(--color-white);
  background-color: var(--color-primary-500);
  &:active,
  &.ncgr-button--active {
    box-shadow: 0 2px 0 0 var(--color-primary-800) inset;
    border-bottom: none;
    color: var(--color-primary-50);
    background-color: var(--color-primary-600);
  }
  &.ncgr-button--light {
    border-bottom: solid 4px var(--color-primary-75);
    color: var(--color-primary-900);
    background-color: var(--color-primary-50);
    @media (prefers-color-scheme: dark) {
      border-bottom: solid 4px var(--color-primary-300);
      background-color: var(--color-primary-200);
    }
    &:active,
    &.ncgr-button--active {
      box-shadow: 0 2px 0 0 var(--color-primary-100) inset;
      border-bottom: none;
      color: var(--color-primary-900);
      background-color: var(--color-primary-75);
      @media (prefers-color-scheme: dark) {
        box-shadow: 0 2px 0 0 var(--color-primary-400) inset;
        background-color: var(--color-primary-300);
      }
    }
  }
  &[disabled],
  &.ncgr-button--disabled {
    box-shadow: 0 2px 0 0 var(--color-primary-200) inset;
    border-bottom: none;
    color: var(--color-primary-50);
    background-color: var(--color-primary-100);
  }
}

.ncgr-button.ncgr-button--secondary {
  border-bottom: solid 4px var(--color-secondary-700);
  color: var(--color-white);
  background-color: var(--color-secondary-500);
  &:active,
  &.ncgr-button--active {
    box-shadow: 0 2px 0 0 var(--color-secondary-800) inset;
    border-bottom: none;
    color: var(--color-secondary-50);
    background-color: var(--color-secondary-600);
  }
  &.ncgr-button--light {
    border-bottom: solid 4px var(--color-secondary-75);
    color: var(--color-secondary-900);
    background-color: var(--color-secondary-50);
    @media (prefers-color-scheme: dark) {
      border-bottom: solid 4px var(--color-secondary-300);
      background-color: var(--color-secondary-200);
    }
    &:active,
    &.ncgr-button--active {
      box-shadow: 0 2px 0 0 var(--color-secondary-100) inset;
      border-bottom: none;
      color: var(--color-secondary-900);
      background-color: var(--color-secondary-75);
      @media (prefers-color-scheme: dark) {
        box-shadow: 0 2px 0 0 var(--color-secondary-400) inset;
        background-color: var(--color-secondary-300);
      }
    }
  }
  &[disabled],
  &.ncgr-button--disabled {
    box-shadow: 0 2px 0 0 var(--color-secondary-200) inset;
    border-bottom: none;
    color: var(--color-secondary-50);
    background-color: var(--color-secondary-100);
  }
}

.ncgr-button.ncgr-button--success {
  border-bottom: solid 4px var(--color-success-600);
  color: var(--color-white);
  background-color: var(--color-success-500);
  &:active,
  &.ncgr-button--active {
    box-shadow: 0 2px 0 0 var(--color-success-800) inset;
    border-bottom: none;
    color: var(--color-success-50);
    background-color: var(--color-success-600);
  }
  &.ncgr-button--light {
    border-bottom: solid 4px var(--color-success-75);
    color: var(--color-success-900);
    background-color: var(--color-success-50);
    @media (prefers-color-scheme: dark) {
      border-bottom: solid 4px var(--color-success-300);
      background-color: var(--color-success-200);
    }
    &:active,
    &.ncgr-button--active {
      box-shadow: 0 2px 0 0 var(--color-success-100) inset;
      border-bottom: none;
      color: var(--color-success-900);
      background-color: var(--color-success-75);
      @media (prefers-color-scheme: dark) {
        box-shadow: 0 2px 0 0 var(--color-success-400) inset;
        background-color: var(--color-success-300);
      }
    }
  }
  &[disabled],
  &.ncgr-button--disabled {
    box-shadow: 0 2px 0 0 var(--color-success-200) inset;
    border-bottom: none;
    color: var(--color-success-50);
    background-color: var(--color-success-100);
  }
}

.ncgr-button.ncgr-button--warning {
  border-bottom: solid 4px var(--color-warning-600);
  color: var(--color-white);
  background-color: var(--color-warning-500);
  &:active,
  &.ncgr-button--active {
    box-shadow: 0 2px 0 0 var(--color-warning-800) inset;
    border-bottom: none;
    color: var(--color-warning-50);
    background-color: var(--color-warning-600);
  }
  &.ncgr-button--light {
    border-bottom: solid 4px var(--color-warning-75);
    color: var(--color-warning-900);
    background-color: var(--color-warning-50);
    @media (prefers-color-scheme: dark) {
      border-bottom: solid 4px var(--color-warning-300);
      background-color: var(--color-warning-200);
    }
    &:active,
    &.ncgr-button--active {
      box-shadow: 0 2px 0 0 var(--color-warning-100) inset;
      border-bottom: none;
      color: var(--color-warning-900);
      background-color: var(--color-warning-75);
      @media (prefers-color-scheme: dark) {
        box-shadow: 0 2px 0 0 var(--color-warning-400) inset;
        background-color: var(--color-warning-200);
      }
    }
  }
  &[disabled],
  &.ncgr-button--disabled {
    box-shadow: 0 2px 0 0 var(--color-warning-200) inset;
    border-bottom: none;
    color: var(--color-warning-50);
    background-color: var(--color-warning-100);
  }
}

.ncgr-button.ncgr-button--danger,
.ncgr-button.ncgr-button--error {
  border-bottom: solid 4px var(--color-danger-600);
  color: var(--color-white);
  background-color: var(--color-danger-500);
  &:active,
  &.ncgr-button--active {
    box-shadow: 0 2px 0 0 var(--color-danger-800) inset;
    border-bottom: none;
    color: var(--color-danger-50);
    background-color: var(--color-danger-600);
  }
  &.ncgr-button--light {
    border-bottom: solid 4px var(--color-danger-75);
    color: var(--color-danger-900);
    background-color: var(--color-danger-50);
    @media (prefers-color-scheme: dark) {
      border-bottom: solid 4px var(--color-danger-300);
      background-color: var(--color-danger-200);
    }
    &:active,
    &.ncgr-button--active {
      box-shadow: 0 2px 0 0 var(--color-danger-100) inset;
      border-bottom: none;
      color: var(--color-danger-900);
      background-color: var(--color-danger-75);
      @media (prefers-color-scheme: dark) {
        box-shadow: 0 2px 0 0 var(--color-danger-400) inset;
        background-color: var(--color-danger-300);
      }
    }
  }
  &[disabled],
  &.ncgr-button--disabled {
    box-shadow: 0 2px 0 0 var(--color-danger-200) inset;
    border-bottom: none;
    color: var(--color-danger-50);
    background-color: var(--color-danger-100);
  }
}

.ncgr-button.ncgr-button--default {
  border-bottom: solid 4px var(--color-default-600);
  color: var(--color-white);
  background-color: var(--color-default-500);
  &:active,
  &.ncgr-button--active {
    box-shadow: 0 2px 0 0 var(--color-default-800) inset;
    border-bottom: none;
    color: var(--color-default-50);
    background-color: var(--color-default-600);
  }
  &.ncgr-button--light {
    border-bottom: solid 4px var(--color-default-75);
    color: var(--color-default-900);
    background-color: var(--color-default-50);
    @media (prefers-color-scheme: dark) {
      border-bottom: solid 4px var(--color-default-300);
      background-color: var(--color-default-200);
    }
    &:active,
    &.ncgr-button--active {
      box-shadow: 0 2px 0 0 var(--color-default-100) inset;
      border-bottom: none;
      color: var(--color-default-900);
      background-color: var(--color-default-75);
      @media (prefers-color-scheme: dark) {
        box-shadow: 0 2px 0 0 var(--color-default-400) inset;
        background-color: var(--color-default-300);
      }
    }
  }
  &[disabled],
  &.ncgr-button--disabled {
    box-shadow: 0 2px 0 0 var(--color-default-200) inset;
    border-bottom: none;
    color: var(--color-default-50);
    background-color: var(--color-default-100);
  }
}

.ncgr-button.ncgr-button--transparent {
  border-bottom: solid 4px transparent;
  color: var(--color-default-600);
  background-color: transparent;
  @media (prefers-color-scheme: dark) {
    color: var(--color-white);
  }
  &:active,
  &.ncgr-button--active {
    box-shadow: 0 2px 0 0 transparent inset;
    border-bottom: none;
    color: var(--color-black);
    background-color: transparent;
    @media (prefers-color-scheme: dark) {
      color: var(--color-white);
    }
  }
  &[disabled],
  &.ncgr-button--disabled {
    box-shadow: 0 2px 0 0 transparent inset;
    border-bottom: none;
    color: var(--color-default-200);
    background-color: transparent;
    @media (prefers-color-scheme: dark) {
      color: var(--color-default-800);
    }
  }
}

.ncgr-button.ncgr-button--twitter {
  border-bottom: solid 4px var(--color-brand-twitter-darkest);
  background: var(--color-brand-twitter);
  color: var(--color-white);
  &:active,
  &.ncgr-button--active {
    box-shadow: 0 2px 0 0 var(--color-brand-twitter-darkest) inset;
    border-bottom: none;
    background: var(--color-brand-twitter-dark);
    color: var(--color-white);
  }
}

.ncgr-button.ncgr-button--instagram {
  border-bottom: solid 4px var(--color-brand-instagram-darkest);
  background: var(--color-brand-instagram);
  color: var(--color-white);
  &:active,
  &.ncgr-button--active {
    box-shadow: 0 2px 0 0 var(--color-brand-instagram-darkest) inset;
    border-bottom: none;
    background: var(--color-brand-instagram-dark);
    color: var(--color-white);
  }
}

.ncgr-button.ncgr-button--nicovideo {
  border-bottom: solid 4px var(--color-brand-nicovideo-darkest);
  background: var(--color-brand-nicovideo);
  color: var(--color-white);
  &:active,
  &.ncgr-button--active {
    box-shadow: 0 2px 0 0 var(--color-brand-nicovideo-darkest) inset;
    border-bottom: none;
    background: var(--color-brand-nicovideo-dark);
    color: var(--color-white);
  }
}

.ncgr-button.ncgr-button--embeded {
  border-bottom: none;
  background: var(--color-default-75);
  color: var(--color-default-800);
  font-size: 11px;
  line-height: 11px;
  height: 20px;
  padding: 1px 8px 1px 6px;
  border-radius: 3px;
  width: auto;
  &:active,
  &.ncgr-button--active {
    box-shadow: none;
    border-bottom: none;
    background: var(--color-default-100);
    color: var(--color-default-800);
  }
}