.ncgr-journal {
  position: relative;
}

.ncgr-journal__cover-button {
  position: absolute;
  top: 16px;
  left: 16px;
}

.ncgr-journal__title-textfield {
  border: none;
  outline: none;
  background-color: var(--color-secondary-grouped-background);
  font-size: 30px;
  font-weight: bold;
  width: 100%;
  @include mediaquery(mobile) {
    font-size: 20px;
  }
}

.ncgr-journal__text {
  & > *:first-child {
    margin-top: 0;
  }

  h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    margin: 0;
    line-height: 1.5;
    font-feature-settings: 'palt' 1;
  }
  h1 {
    font-size: 32px;
    border-bottom: 1px solid var(--color-separator);
    margin-top: 48px;
    margin-bottom: 24px;
    padding-bottom: 4px;
  }
  h2 {
    font-size: 28px;
    border-bottom: 1px solid var(--color-separator);
    margin-top: 48px;
    margin-bottom: 24px;
    padding-bottom: 4px;
  }
  h3 {
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 16px;
  }
  h4 {
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 16px;
  }
  h5 {
    font-size: 14px;
    margin-top: 24px;
    margin-bottom: 16px;
  }
  h6 {
    color: var(--color-secondary-label);
    font-size: 14px;
    margin-top: 24px;
    margin-bottom: 8px;
  }
  b {
    font-weight: bold;
  }
  i {
    font-style: italic;
  }
  ul,ol {
    padding-left: 24px;
    margin-bottom: 24px;
    ul,ol {
      margin-bottom: 0;
    }
  }
  ul {
    list-style: disc;
    ul {
      list-style: circle;
      ul {
        list-style: square;
      }
    }
  }
  ol {
    list-style: decimal;
    ol {
      list-style: lower-roman;
      ol {
        list-style: lower-alpha;
      }
    }
  }
  p {
    margin-bottom: 24px;
    line-height: 2;
    font-size: 17px;
  }
  a {
    color: var(--color-secondary-label);
    text-decoration: underline;
    &:hover {
      color: var(--color-label);
    }
  }
  img {
    max-width: 100%;
  }
  pre {
    background-color: var(--color-tertiary-grouped-background);
    border-radius: 4px;
    display: block;
    font-size: 14px;
    margin-bottom: 16px;
    padding: 16px;
  }
  code {
    background-color: var(--color-tertiary-grouped-background);
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 14px;
    padding: 0 4px 0 4px;
    margin: 0;
    word-wrap: normal;
  }
  strong {
    font-weight: bold;
  }
  em {
    font-style: italic;
  }
  blockquote {
    background-color: var(--color-tertiary-grouped-background);
    color: var(--color-secondary-label);
    padding-left: 16px;
    margin-bottom: 24px;
  }
  sup {
    font-size: 12px;
  }
  hr {
    height: 0;
    margin: 24px 0;
    padding: 0;
    border: 0;
    border-top: 1px solid var(--color-separator);
  }
  table {
    display: block;
    width: 100%;
    overflow: auto;
    margin-bottom: 16px;
  }
  tr {
    border-top: 1px solid var(--color-separator);
    &:nth-child(2n) {
      background-color: var(--color-tertiary-grouped-background);
    }
  }
  th,td {
    padding: 8px 16px;
    border: 1px solid var(--color-separator);
  }
  th {
    font-weight: bold;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
}

.ncgr-journal__permalink {
  display: flex;
}

.ncgr-journal__permalink-textfield-wrap {
  flex: 1;
}

.ncgr-journal__permalink-textfield {
  font-size: 14px;
  width: 100%;
}

.ncgr-journal__time {
  color: var(--color-secondary-label);
  display: block;
  font-size: 14px;
}

.ncgr-journal__text-textarea {
  outline: none;
  border: none;
  background-color: var(--color-secondary-grouped-background);
  font-size: 17px;
  width: 100%;
  min-height: 400px;
  resize: vertical;
  @include mediaquery(mobile) {
    min-height: 200px;
  }
}

.ncgr-journal__user-card-products {
  display: flex;
  flex-wrap: wrap;
  padding: 0 8px 0 8px;
}

.ncgr-journal__user-card-product {
  box-sizing: border-box;
  display: block;
  padding: 0 8px 16px 8px;
  width: 25%;
  @include mediaquery(tablet) {
    width: 50%;
  }
}

.ncgr-journal__user-card-product-image {
  vertical-align: top;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.ncgr-journal__user-card-description {
  font-size: 13px;
  a {
    color: var(--color-secondary-label);
    &:hover {
      color: var(--color-label);
    }
  }
}