.ncgr-product-tweet-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ncgr-product-tweet-card__thumbnail {
  min-width: 0;
  flex-basis: 40%;
}

.ncgr-product-tweet-card__image {
  border-radius: 8px;
  width: 100%;
  height: auto;
  vertical-align: top;
}

.ncgr-product-tweet-card__info {
  box-sizing: border-box;
  flex: 1;
  min-width: 0;
  flex-basis: 60%;
}

.ncgr-product-tweet-card__name {
  color: var(--color-label);
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ncgr-product-tweet-card__price {
  color: var(--color-secondary-label);
  font-size: 13px;
  padding-bottom: 4px;
}
