/*doc
---
title: Separator
name: separator
category: Components
---

各要素を区切るのに使います。

```example
<hr class="ncgr-separator">
```

*/

.ncgr-separator {
  background-color: var(--color-separator);
  box-sizing: border-box;
  border: none;
  height: 1px;
  width: 100%;
}