.ncgr-terms-checkbox {
  // data-hint属性に対してdisplay: inline-block;が指定されているのですべて置き換えたら消す。
  display: block !important;
}

.ncgr-terms-checkbox__button {
  align-items: center;
  font-size: 100%;
  padding: 0.5em 1em 0.5em 1em;
  background-color: var(--color-default-500);
  border: 0;
  color: var(--color-white);
  display: flex;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0 -4px 0 0 inset;
  @include mediaquery(mobile) {
    font-size: 86%;
    padding: 0.5em 0.75em 0.5em 0.75em;
  }
  .ncgr-terms-checkbox__check-icon {
    position: static;
    padding: 0.3em 0.15em 0.3em 0.15em;
    color: var(--color-default-200);
  }
}

.ncgr-terms-checkbox__button--active {
  background-color: var(--color-success-500);
  .ncgr-terms-checkbox__check-icon {
    color: var(--color-success-500);
  }
}

.ncgr-terms-checkbox__input {
  display: none;
}

.ncgr-terms-checkbox__check {
  background: var(--color-white);
}

.ncgr-terms-checkbox__label {
  cursor: pointer;
  padding-left: 8px;
}
