/*doc
---
title: Hidden
name: is-hidden
category: Utility
---

要素を非表示にさせるユーティリティです。
JSで要素を表示させたり消したりするときに使います。

```example
<div class="ncgr-is-hidden">
  圧倒的非表示
</div>
```
*/

.ncgr-is-hidden {
  display: none;
}
