.ncgr-account-tab {
  line-height: 2;
  font-size: 18px;
  font-weight: bold;
  @include mediaquery(tablet) {
    font-size: 14px;
    overflow-x: auto;
  }
}

.ncgr-account-tab__list {
  @include mediaquery(tablet) {
    display: inline-table;
    padding: 0 16px 0 16px;
  }
}

.ncgr-account-tab__list-item {
  cursor: pointer;
  @include mediaquery(tablet) {
    display: table-cell;
    white-space: nowrap;
    padding: 0 0 16px 0;
  }
}

.ncgr-account-tab__link {
  cursor: pointer;
  color: var(--color-secondary-label);
  padding: 0 12px 0 12px;
  &:hover {
    color: var(--color-label);
  }
  @include mediaquery(tablet) {
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 16px;
    display: inline-block;
    font-weight: bold;
    font-size: 13px;
    margin: 0;
    padding: 0 8px 0 8px;
    height: 32px;
    line-height: 32px;
    &:hover {
      opacity: 0.4;
    }
  }
}

.controller-account-orders .ncgr-account-tab__list-item--order-accounts,
.controller-account-purchases .ncgr-account-tab__list-item--purchases-accounts,
.controller-account-profiles .ncgr-account-tab__list-item--profiles,
.controller-account-bank_accounts .ncgr-account-tab__list-item--bank-accounts,
.controller-account-mail_receive_settings .ncgr-account-tab__list-item--mail-receive-settings,
.controller-account-authorized_apps .ncgr-account-tab__list-item--authorized-apps,
.controller-account-coupons .ncgr-account-tab__list-item--two-factor-authentication,
.controller-account-facebook_dpa_feeds .ncgr-account-tab__list-item--facebook-dpa-feeds {
  &:first-child {
    .ncgr-account-tab__link {
      @include mediaquery(tablet) {
        margin: 0 8px 0 0;
      }
    }
  }
  &:last-child {
    .ncgr-account-tab__link {
      @include mediaquery(tablet) {
        margin: 0 0 0 8px;
      }
    }
  }
  .ncgr-account-tab__link {
    color: var(--color-label);
    @include mediaquery(tablet) {
      color: var(--color-label);
      background-color: var(--color-segmented-control-background);
      margin: 0 8px 0 8px;
      padding: 0 12px 0 12px;
    }
  }
}
