/*doc
---
title: Alert
name: alert
category: Components
---

お得な情報、良好な状態、注意喚起、発生中のエラーなど特別にユーザーに知らせたい事柄がある場合に使用します。

背景色には2つの modifier があり、`-appearance-flat`を使うとそれぞれのセマンティックな色に、`-appearance-white`を使うと白く（ダークモード時はグレー）なります。

要素は、アイコンなどを配置できる Leading と、テキスト用の Title の2つがあります。

Title は Primary Title と Secondary title の2つがあり、 Primary title は`.-bold`を使用すると font-weight を bold に、`.-align-center`を使用すると text-align を center に変更できます。

Primary と Secondary 両方が2行になってしまうと、文字数が多くなり認知の負荷が高まるため、どちらか1つのみが2行になるように調整しましょう。

```example
<div class="ncgr-alert -color-default -appearance-flat ncgr-mar-b-8">
  <div class="_title">
    <div class="_primary-title">
      デフォルト
    </div>
  </div>
</div>
<div class="ncgr-alert -color-primary -appearance-flat ncgr-mar-b-8">
  <div class="_title">
    <div class="_primary-title">
      お得な情報
    </div>
  </div>
</div>
<div class="ncgr-alert -color-success -appearance-flat ncgr-mar-b-8">
  <div class="_title">
    <div class="_primary-title">
      良好な状態
    </div>
  </div>
</div>
<div class="ncgr-alert -color-warning -appearance-flat ncgr-mar-b-8">
  <div class="_title">
    <div class="_primary-title">
      注意喚起
    </div>
  </div>
</div>
<div class="ncgr-alert -color-danger -appearance-flat">
  <div class="_title">
    <div class="_primary-title">
      発生中のエラー
    </div>
  </div>
</div>

<hr class="ncgr-list-divider">

<div class="ncgr-alert -color-default -appearance-white ncgr-mar-b-8">
  <div class="_title">
    <div class="_primary-title">
      デフォルト
    </div>
  </div>
</div>
<div class="ncgr-alert -color-primary -appearance-white ncgr-mar-b-8">
  <div class="_title">
    <div class="_primary-title">
      お得な情報
    </div>
  </div>
</div>
<div class="ncgr-alert -color-success -appearance-white ncgr-mar-b-8">
  <div class="_title">
    <div class="_primary-title">
      良好な状態
    </div>
  </div>
</div>
<div class="ncgr-alert -color-warning -appearance-white ncgr-mar-b-8">
  <div class="_title">
    <div class="_primary-title">
      注意喚起
    </div>
  </div>
</div>
<div class="ncgr-alert -color-danger -appearance-white">
  <div class="_title">
    <div class="_primary-title">
      発生中のエラー
    </div>
  </div>
</div>

<hr class="ncgr-list-divider">

<div class="ncgr-alert -color-default -appearance-flat ncgr-mar-b-8">
  <div class="_title">
    <div class="_primary-title -align-center">
      デフォルト
    </div>
  </div>
</div>
<div class="ncgr-alert -color-primary -appearance-flat ncgr-mar-b-8">
  <div class="_title">
    <div class="_primary-title -align-center">
      お得な情報
    </div>
  </div>
</div>
<div class="ncgr-alert -color-success -appearance-flat ncgr-mar-b-8">
  <div class="_title">
    <div class="_primary-title -align-center">
      良好な状態
    </div>
  </div>
</div>
<div class="ncgr-alert -color-warning -appearance-flat ncgr-mar-b-8">
  <div class="_title">
    <div class="_primary-title -align-center">
      注意喚起
    </div>
  </div>
</div>
<div class="ncgr-alert -color-danger -appearance-flat">
  <div class="_title">
    <div class="_primary-title -align-center">
      発生中のエラー
    </div>
  </div>
</div>

<hr class="ncgr-list-divider">

<div class="ncgr-alert -color-default -appearance-flat ncgr-mar-b-8">
  <div class="_title">
    <h4 class="_primary-title -bold">
      デフォルト
    </h4>
    <div class="_secondary-title">
      モバイルで2行以上にはならないように、できるだけ簡潔に伝える。
    </div>
  </div>
</div>
<div class="ncgr-alert -color-primary -appearance-flat ncgr-mar-b-8">
  <div class="_title">
    <h4 class="_primary-title -bold">
      お得な情報
    </h4>
    <div class="_secondary-title">
      モバイルで2行以上にはならないように、できるだけ簡潔に伝える。
    </div>
  </div>
</div>
<div class="ncgr-alert -color-success -appearance-flat ncgr-mar-b-8">
  <div class="_title">
    <h4 class="_primary-title -bold">
      良好な状態
    </h4>
    <div class="_secondary-title">
      モバイルで2行以上にはならないように、できるだけ簡潔に伝える。
    </div>
  </div>
</div>
<div class="ncgr-alert -color-warning -appearance-flat ncgr-mar-b-8">
  <div class="_title">
    <h4 class="_primary-title -bold">
      注意喚起
    </h4>
    <div class="_secondary-title">
      モバイルで2行以上にはならないように、できるだけ簡潔に伝える。
    </div>
  </div>
</div>
<div class="ncgr-alert -color-danger -appearance-flat">
  <div class="_title">
    <h4 class="_primary-title -bold">
      発生中のエラー
    </h4>
    <div class="_secondary-title">
      モバイルで2行以上にはならないように、できるだけ簡潔に伝える。
    </div>
  </div>
</div>

<hr class="ncgr-list-divider">

<a class="ncgr-alert -color-default -appearance-flat ncgr-mar-b-8">
  <div class="_title">
    <h4 class="_primary-title -bold">
      デフォルト
    </h4>
    <div class="_secondary-title">
      詳しく見る
      <i class="fa fa-angle-right ncgr-mar-l-4"></i>
    </div>
  </div>
</a>
<a class="ncgr-alert -color-primary -appearance-flat ncgr-mar-b-8">
  <div class="_title">
    <h4 class="_primary-title -bold">
      お得な情報
    </h4>
    <div class="_secondary-title">
      詳しく見る
      <i class="fa fa-angle-right ncgr-mar-l-4"></i>
    </div>
  </div>
</a>
<a class="ncgr-alert -color-success -appearance-flat ncgr-mar-b-8">
  <div class="_title">
    <h4 class="_primary-title -bold">
      良好な状態
    </h4>
    <div class="_secondary-title">
      詳しく見る
      <i class="fa fa-angle-right ncgr-mar-l-4"></i>
    </div>
  </div>
</a>
<a class="ncgr-alert -color-warning -appearance-flat ncgr-mar-b-8">
  <div class="_title">
    <h4 class="_primary-title -bold">
      注意喚起
    </h4>
    <div class="_secondary-title">
      詳しく見る
      <i class="fa fa-angle-right ncgr-mar-l-4"></i>
    </div>
  </div>
</a>
<a class="ncgr-alert -color-danger -appearance-flat">
  <div class="_title">
    <h4 class="_primary-title -bold">
      発生中のエラー
    </h4>
    <div class="_secondary-title">
      詳しく見る
      <i class="fa fa-angle-right ncgr-mar-l-4"></i>
    </div>
  </div>
</a>

<hr class="ncgr-list-divider">

<a class="ncgr-alert -color-default -appearance-flat ncgr-mar-b-8">
  <div class="_leading">
    <img class="_icon" src="./images/components/alert/alert-icon-white.svg">
  </div>
  <div class="_title">
    <h4 class="_primary-title -bold">
      デフォルト
    </h4>
    <div class="_secondary-title">
      詳しく見る
      <i class="fa fa-angle-right ncgr-mar-l-4"></i>
    </div>
  </div>
</a>
<a class="ncgr-alert -color-primary -appearance-flat ncgr-mar-b-8">
  <div class="_leading">
    <img class="_icon" src="./images/components/alert/alert-icon-white.svg">
  </div>
  <div class="_title">
    <h4 class="_primary-title -bold">
      お得な情報
    </h4>
    <div class="_secondary-title">
      詳しく見る
      <i class="fa fa-angle-right ncgr-mar-l-4"></i>
    </div>
  </div>
</a>
<a class="ncgr-alert -color-success -appearance-flat ncgr-mar-b-8">
  <div class="_leading">
    <img class="_icon" src="./images/components/alert/alert-icon-white.svg">
  </div>
  <div class="_title">
    <h4 class="_primary-title -bold">
      良好な状態
    </h4>
    <div class="_secondary-title">
      詳しく見る
      <i class="fa fa-angle-right ncgr-mar-l-4"></i>
    </div>
  </div>
</a>
<a class="ncgr-alert -color-warning -appearance-flat ncgr-mar-b-8">
  <div class="_leading">
    <img class="_icon" src="./images/components/alert/alert-icon-white.svg">
  </div>
  <div class="_title">
    <h4 class="_primary-title -bold">
      注意喚起
    </h4>
    <div class="_secondary-title">
      詳しく見る
      <i class="fa fa-angle-right ncgr-mar-l-4"></i>
    </div>
  </div>
</a>
<a class="ncgr-alert -color-danger -appearance-flat">
  <div class="_leading">
    <img class="_icon" src="./images/components/alert/alert-icon-white.svg">
  </div>
  <div class="_title">
    <h4 class="_primary-title -bold">
      発生中のエラー
    </h4>
    <div class="_secondary-title">
      詳しく見る
      <i class="fa fa-angle-right ncgr-mar-l-4"></i>
    </div>
  </div>
</a>
```

*/

$colors: default, primary, success, warning, danger;

.ncgr-alert {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 1rem;
  position: relative;
  width: 100%;
  @each $color in $colors {
    &.-color-#{$color} {
      color: var(--color-#{$color}-900);
      &.-appearance-white {
        background-color: var(--color-secondary-grouped-background);
      }
      &.-appearance-flat {
        background-color: var(--color-#{$color}-50);
        @media (prefers-color-scheme: dark) {
          background-color: var(--color-#{$color}-200);
        }
      }
    }
  }
}

a.ncgr-alert {
  cursor: pointer;
}

._leading {
  display: flex;
  padding-right: 1rem;
}

._icon {
  width: 3rem;
  height: 3rem;
}

._title {
  flex: 1;
}

h1,h2,h3,h4,h5,h6._primary-title {
  font-weight: bold;
}

._primary-title {
  &.-align-center {
    text-align: center;
  }
}

._secondary-title {
  font-size: 0.8125rem;
}
