/*doc
---
title: Alert
name: alert
category: Components
---

お得な情報、良好な状態、注意喚起、発生中のエラーなど特別にユーザーに知らせたい事柄がある場合に使用します。

```example
<div class="ncgr-alert ncgr-alert--default">
  デフォルト
</div>
<div class="ncgr-alert ncgr-alert--primary">
  お得な情報
</div>
<div class="ncgr-alert ncgr-alert--success">
  良好な状態
</div>
<div class="ncgr-alert ncgr-alert--warning">
  注意喚起
</div>
<div class="ncgr-alert ncgr-alert--danger">
  発生中のエラー
</div>
```

見出しとテキストリンクを用いてより詳細に内容を伝える場合は、`.ncgr-alert__heading`と`.ncgr-alert__link`を追加することができます。

```example
<div class="ncgr-alert ncgr-alert--default">
  <h4 class="ncgr-alert__heading">デフォルト</h4>
  詳細な情報と<a class="ncgr-alert__link">テキストリンク</a>を追加する。
</div>
<div class="ncgr-alert ncgr-alert--primary">
  <h4 class="ncgr-alert__heading">お得な情報</h4>
  詳細な情報と<a class="ncgr-alert__link">テキストリンク</a>を追加する。
</div>
<div class="ncgr-alert ncgr-alert--success">
  <h4 class="ncgr-alert__heading">良好な状態</h4>
  詳細な情報と<a class="ncgr-alert__link">テキストリンク</a>を追加する。
</div>
<div class="ncgr-alert ncgr-alert--warning">
  <h4 class="ncgr-alert__heading">注意喚起</h4>
  詳細な情報と<a class="ncgr-alert__link">テキストリンク</a>を追加する。
</div>
<div class="ncgr-alert ncgr-alert--danger">
  <h4 class="ncgr-alert__heading">発生中のエラー</h4>
  詳細な情報と<a class="ncgr-alert__link">テキストリンク</a>を追加する。
</div>
```

*/

.ncgr-alert {
  background-color: var(--color-default-50);
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--color-default-900);
  padding: 16px;
  position: relative;
  width: 100%;
  @media (prefers-color-scheme: dark) {
    background-color: var(--color-default-200);
  }
  &.ncgr-alert--default {
    background-color: var(--color-default-50);
    color: var(--color-default-900);
    @media (prefers-color-scheme: dark) {
      background-color: var(--color-default-200);
    }
    .ncgr-alert__link {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  &.ncgr-alert--primary {
    background-color: var(--color-primary-50);
    color: var(--color-primary-900);
    @media (prefers-color-scheme: dark) {
      background-color: var(--color-primary-200);
    }
    .ncgr-alert__link {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  &.ncgr-alert--success {
    background-color: var(--color-success-50);
    color: var(--color-success-900);
    @media (prefers-color-scheme: dark) {
      background-color: var(--color-success-200);
    }
    .ncgr-alert__link {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  &.ncgr-alert--warning {
    background-color: var(--color-warning-50);
    color: var(--color-warning-900);
    @media (prefers-color-scheme: dark) {
      background-color: var(--color-warning-200);
    }
    .ncgr-alert__link {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  &.ncgr-alert--danger {
    background-color: var(--color-danger-50);
    color: var(--color-danger-900);
    @media (prefers-color-scheme: dark) {
      background-color: var(--color-danger-200);
    }
    .ncgr-alert__link {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .ncgr-alert__heading {
    font-size: 18px;
    font-weight: bold;
  }
}
