/*doc
---
title: App Bar
name: app-bar
category: Components
---

アプリケーションの最上位のHeaderです。

アプリケーション本体のタイトル（またはロゴ）の表示し、サービスのブランド名の印象付けを行います。また、アプリケーションの主要アクションを行えるようにします。

さらに、ナビゲーションを行うこともできます。Headerが逆方向の遷移のみ行えるのに対し、App BarはMenuアイコンのButtonのクリックイベントでNavigation系のコンポーネント（Side NavigationまたはNavigation Drawer）を開閉し、横方向の画面遷移を行えます。

```example
<header class="ncgr-app-bar -appearance-white -brightness-light -position-static --activated">
  <div class="_leading">
    <button aria-label="More" class="ncgr-botan -appearance-transparent -shape-circle">
      <div class="_leading">
        <span class="ncgr-icon _icon" data-icon="menu"></span>
      </div>
    </button>
  </div>
  <div class="_body">
    <h1 class="_title">
      <a href="#">
        App
      </a>
    </h1>
  </div>
  <div class="_trailing">
    <div class="_list">
      <div class="_item">
        <button aria-label="Filter" class="ncgr-botan -appearance-transparent -shape-circle">
          <div class="_leading">
            <span class="ncgr-icon _icon" data-icon="funnel"></span>
          </div>
        </button>
      </div>
      <div class="_item">
        <button aria-label="Share" class="ncgr-botan -appearance-transparent -shape-circle">
          <div class="_leading">
            <span class="ncgr-icon _icon" data-icon="node"></span>
          </div>
        </button>
      </div>
      <div class="_item">
        <button aria-label="More" class="ncgr-botan -appearance-transparent -shape-circle">
          <div class="_leading">
            <span class="ncgr-icon _icon" data-icon="ellipsis_vertical"></span>
          </div>
        </button>
      </div>
    </div>
  </div>
</header>

```

*/

@use '@inhouse/app-bar/mixins';

.ncgr-app-bar {
  @include mixins.style();

  display: none;

  &.--activated {
    display: flex;
  }

  // BadgeがInhouseに実装されてButtonにつけられるようになったら消す
  & > ._trailing {
    ._list {
      ._item {
        position: relative;
      }
    }
  }
}

