.ncgr-avatar-dialog {
  border-radius: 8px;
  position: fixed;
  top: 160px;
  left: 50%;
  margin-left: -180px;
  width: 360px;
  z-index: 10000000;
  background-color: var(--color-secondary-grouped-background);
  @include mediaquery(mobile) {
    border-radius: 0;
    top: 0;
    left: 0;
    width: 100%;
    margin-left: 0;
  }
}

.ncgr-avatar-dialog__action {
  border-top: 1px solid var(--color-separator);
  padding: 16px;
}