/*doc
---
title: Avatar
name: avatar
category: Components
---

ある箇所が特定のユーザーが所有するものであることを表す場合に使用します。
大きさはそのセクションでの重要度に合わせて「Small・Medium・Large」の3種類を使い分けます。

```example
<div class="ncgr-avatar -s">
  <img src="./images/components/avatar/avatar.png">
</div>
<div class="ncgr-avatar -m">
  <img src="./images/components/avatar/avatar.png">
</div>
<div class="ncgr-avatar -l">
  <img src="./images/components/avatar/avatar.png">
</div>
```
*/

// Nachiguro Variables
$avatar-sizes: (
  s: 1.5rem,
  m: 2.5rem,
  l: 3.5rem
) !default;

// Mixins
@mixin avatar() {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  user-select: none;
  overflow: hidden;
  position: relative;
  width: map-get($avatar-sizes, m);
  height: map-get($avatar-sizes, m);

  @each $avatar-size in map-keys($avatar-sizes) {
    &.-#{$avatar-size} {
      width: map-get($avatar-sizes, $avatar-size);
      height: map-get($avatar-sizes, $avatar-size);
    }
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.ncgr-avatar {
  @include avatar();
}
