/*doc
---
title: Avatar
name: avatar
category: Components
---

対象のオブジェクトがユーザーに関するものであることを明確にするために使用します。

```example
<div class="ncgr-avatar -size-s">
  <img alt="Avatar" src="./images/components/avatar/avatar.png">
</div>
<div class="ncgr-avatar -size-m">
  <img alt="Avatar" src="./images/components/avatar/avatar.png">
</div>
<div class="ncgr-avatar -size-l">
  <img alt="Avatar" src="./images/components/avatar/avatar.png">
</div>
```
*/

@use '@inhouse/avatar/mixins';

.ncgr-avatar {
  @include mixins.style();
}
