.ncgr-balloon {
  height: 12px;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: -12px;
    margin-left: -12px;
    border: 12px solid transparent;
  }
}

.ncgr-balloon--tertiary-grouped-background {
  &:before {
    border-bottom: 12px solid var(--color-tertiary-grouped-background);
  }
}

.ncgr-balloon--center {
  &:before {
    left: 50%;
  }
}