/*doc
---
title: Botan
name: botan
category: Components
---

`.ncgr-botan` を指定した要素はボタンになります。
内部は`_body`でマークアップします。

```example
<button class="ncgr-botan">
  <div class="_body">Botan</div>
</button>
```

#### Size

`.-size-{size}`を指定するとそのサイズのボタンになります。

```example
<button class="ncgr-botan -size-xs">
  <div class="_body">Botan</div>
</button>
<button class="ncgr-botan -size-s">
  <div class="_body">Botan</div>
</button>
<button class="ncgr-botan -size-m">
  <div class="_body">Botan</div>
</button>
<button class="ncgr-botan -size-l">
  <div class="_body">Botan</div>
</button>
<button class="ncgr-botan -size-xl">
  <div class="_body">Botan</div>
</button>
```

#### Appearance

`.-appearance-{appearance}` を指定するとその見た目のボタンになります。

```example
<button class="ncgr-botan -appearance-flat">
  <div class="_body">Botan</div>
</button>
<button class="ncgr-botan -appearance-outlined">
  <div class="_body">Botan</div>
</button>
<button class="ncgr-botan -appearance-solid">
  <div class="_body">Botan</div>
</button>
<button class="ncgr-botan -appearance-white">
  <div class="_body">Botan</div>
</button>
<button class="ncgr-botan -appearance-transparent">
  <div class="_body">Botan</div>
</button>
<button class="ncgr-botan -appearance-hollow">
  <div class="_body">Botan</div>
</button>
```

#### State

`.--{state}` を指定すると、その状態のボタンになります。

```example
<button class="ncgr-botan --enabled">
  <div class="_body">Botan</div>
</button>
<button class="ncgr-botan --hover">
  <div class="_body">Botan</div>
</button>
<button class="ncgr-botan --focused">
  <div class="_body">Botan</div>
</button>
<button class="ncgr-botan --disabled">
  <div class="_body">Botan</div>
</button>
```

### Shape

`.-shape-{shape}` を指定するとその形状のボタンになります。

```example
<button class="ncgr-botan -shape-square">
  <div class="_body">Botan</div>
</button>
<button class="ncgr-botan -shape-circle">
  <div class="_body">Botan</div>
</button>
```

#### Color

`.-color-{intention}` を指定すると、色が変わって意味を持つボタンになります。

```example
<button class="ncgr-botan -color-informative">
  <div class="_body">Botan</div>
</button>
<button class="ncgr-botan -color-neutral">
  <div class="_body">Botan</div>
</button>
<button class="ncgr-botan -color-positive">
  <div class="_body">Botan</div>
</button>
<button class="ncgr-botan -color-notice">
  <div class="_body">Botan</div>
</button>
<button class="ncgr-botan -color-negative">
  <div class="_body">Botan</div>
</button>
<button class="ncgr-botan -color-attention">
  <div class="_body">Botan</div>
</button>
<button class="ncgr-botan -color-interactive">
  <div class="_body">Botan</div>
</button>
<button class="ncgr-botan -color-favorite">
  <div class="_body">Botan</div>
</button>
```

#### Leading

`_body`の直前に`_leading`でIconをマークアップすると前にアイコンがついたボタンになります。
アイコンには`_icon`クラスを付与します。

```example
<button class="ncgr-botan">
  <div class="_leading">
    <span class="ncgr-icon _icon" data-icon="heart"></span>
  </div>
  <div class="_body">Botan</div>
</button>
```

Leadingのみにしてアイコンのみのボタンにすることもできます。
アイコンのみのボタンにする場合はボタンの意味がわかりやすいように必ず`aria-label`をつけます。

```example
<button aria-label="Favorite" class="ncgr-botan">
  <div class="_leading">
    <span class="ncgr-icon _icon" data-icon="heart"></span>
  </div>
</button>
```

他にもLeadingにはAvatarを入れることができます。

```example
<button aria-label="Favorite" class="ncgr-botan">
  <div class="_leading">
    <div class="ncgr-avatar -size-xs">
      <img src="https://picsum.photos/id/177/200/300">
    </div>
  </div>
</button>
```

#### Trailing

`_body`の直後に`_trailing`でIconをマークアップすると後にアイコンがついたボタンになります。
アイコンには`_icon`クラスを付与します。

```example
<button class="ncgr-botan">
  <div class="_body">Botan</div>
  <div class="_trailing">
    <span class="ncgr-icon _icon" data-icon="chevron_right"></span>
  </div>
</button>
```

#### Apple

`.ncgr-apple-botan` を指定すると、Appleの色のボタンになります。

```example
<button class="ncgr-apple-botan">
  <div class="_body">Botan</div>
</button>
```

#### Twitter

`.ncgr-twitter-botan` を指定すると、Twitterの色のボタンになります。

```example
<button class="ncgr-twitter-botan">
  <div class="_body">Botan</div>
</button>
```

#### Facebook

`.ncgr-facebook-botan` を指定すると、Facebookの色のボタンになります。

```example
<button class="ncgr-facebook-botan">
  <div class="_body">Botan</div>
</button>
```

#### ニコニコ動画

`.ncgr-nicovideo-botan` を指定すると、ニコニコ動画の色のボタンになります。

```example
<button class="ncgr-nicovideo-botan">
  <div class="_body">Botan</div>
</button>
```

#### LINE

`.ncgr-line-botan` を指定すると、LINEの色のボタンになります。

```example
<button class="ncgr-line-botan">
  <div class="_body">Botan</div>
</button>
```

#### Skeleton

```example
<div class="ncgr-skeleton-botan">
</div>
```


*/

// TODO: 全部置き換えできたら名前をbotanからbuttonにする

@use '@inhouse/button/mixins';
@use '@inhouse/adapter/functions' as adapter;

.ncgr-botan {
  @include mixins.style((
    appearance: solid,
    brightness: light,
    color: neutral,
    size: m,
    shape: square,
    width: auto,
  ));

  // NachiguroのユースケースだとOutlinedのborder-colorはintentionの影響がない単純なStroke Colorがよい
  &.-appearance-outlined {
    border-color: adapter.get-color(gray, 200) !important;
  }
}

.ncgr-skeleton-botan {
  @include mixins.skeleton-style();
}

.ncgr-apple-botan {
  @include mixins.style((
    appearance: solid,
    brightness: light,
    color: #000,
    size: m,
    shape: square,
    width: auto,
  ));
}

.ncgr-twitter-botan {
  @include mixins.style((
    appearance: solid,
    brightness: light,
    color: #55ACEE,
    size: m,
    shape: square,
    width: auto,
  ));
}

.ncgr-facebook-botan {
  @include mixins.style((
    appearance: solid,
    brightness: light,
    color: #1877f2,
    size: m,
    shape: square,
    width: auto,
  ));
}

.ncgr-nicovideo-botan {
  @include mixins.style((
    appearance: solid,
    brightness: light,
    color: #EFB10A,
    size: m,
    shape: square,
    width: auto,
  ));
}

.ncgr-line-botan {
  @include mixins.style((
    appearance: solid,
    brightness: light,
    color: #00C300,
    size: m,
    shape: square,
    width: auto,
  ));
}
