/*doc
---
title: Breadcrumbs
name: breadcrumbs
category: Components
---

パンくずリストのコンポーネントです。
ユーザーの現在位置をわかりやすくするため、またSEO対策のために用いられます。

```example
<ol class="ncgr-breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
  <li class="ncgr-breadcrumbs__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
    <a class="ncgr-breadcrumbs__link" itemtype="http://schema.org/Thing" itemprop="item" href="#">
      <span itemprop="name">
        SUZURI
      </span>
    </a>
    <meta itemprop="position" content="1" />
  </li>
  <li class="ncgr-breadcrumbs__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
    <div class="ncgr-breadcrumbs__link--active" itemtype="http://schema.org/Thing" itemprop="item">
      <span itemprop="name">
        アイテム
      </span>
    </div>
    <meta itemprop="position" content="2" />
  </li>
</ol>
```
*/

.ncgr-breadcrumbs {
  font-size: 12px;
}

.ncgr-breadcrumbs__item {
  display: inline-block;
  &:after {
    content: '>';
    margin: 0 4px;
  }
  &:last-child {
    &:after {
      content: '';
      margin: 0;
    }
  }
}

.ncgr-breadcrumbs__item_02 {
  display: inline-block;
}

.ncgr-breadcrumbs__link {
  color: var(--color-primary-500);
  display: inline-block;
  &:hover {
    color: var(--color-primary-700);
    text-decoration: underline;
  }
  &--active {
    color: var(--color-label);
    text-decoration: none;
  }
}
