/*doc
---
title: Breadcrumbs
name: breadcrumbs
category: Components
---

パンくずリストのコンポーネントです。
ユーザーの現在位置をわかりやすくするため、またSEO対策のために用いられます。

```example
<ol class="ncgr-breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
  <li class="ncgr-breadcrumbs__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
    <a class="ncgr-breadcrumbs__link" itemtype="http://schema.org/Thing" itemprop="item" href="#">
      <span itemprop="name">
        トップ
      </span>
    </a>
    <meta itemprop="position" content="1" />
  </li>
  <li class="ncgr-breadcrumbs__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
    <a class="ncgr-breadcrumbs__link ncgr-breadcrumbs__link--active" itemtype="http://schema.org/Thing" itemprop="item" href="#">
      <span itemprop="name">
        アイテム
      </span>
    </a>
    <meta itemprop="position" content="2" />
  </li>
</ol>
```
*/

.ncgr-breadcrumbs {
  font-size: 12px;
}

.ncgr-breadcrumbs__item {
  display: inline-block;
  &:after {
    content: '_';
  }
  &:last-child {
    &:after {
      content: '';
    }
  }
}

.ncgr-breadcrumbs__link {
  color: var(--color-secondary-label);
  display: inline-block;
  &:hover {
    color: var(--color-label);
  }
  &--active {
    color: var(--color-label);
    font-weight: bold;
  }
}
