.ncgr-carousel {
  width: 100%;
}
.ncgr-carousel__inner {
  overflow-x: auto;
  padding: 24px 0 24px 0;
  @include mediaquery(tablet) {
    padding: 16px 0 16px 0;
  }
}
.ncgr-carousel__list {
  display: flex;
  align-items: center;
}
.ncgr-carousel__list-item {
  white-space: nowrap;
  padding-right: 16px;
  &:first-child {
    padding-left: 24px;
    @include mediaquery(tablet) {
      padding-left: 16px;
    }
  }
}

.ncgr-carousel__more {
  font-size: 14px;
  font-weight: bold;
  display: block;
  width: 200px;
  text-align: center;
  color: var(--color-secondary-label);
  margin-right: 16px;
}

.ncgr-carousel__more-button {
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 8px;
  display: inline-block; 
  background-color: var(--color-tertiary-background);
  width: 56px;
  height: 56px;
  border-radius: 28px;
  @include shadow-2dp();
}