.ncgr-category-menu {
  background-color: var(--color-tertiary-background);
  border-radius: 4px;
  color: var(--color-label);
  cursor: pointer;
  left: 0;
  min-width: 200px;
  padding: 8px 0 8px 0;
  position: absolute;
  top: 36px;
  z-index: 99;
  box-sizing: border-box;
  @include shadow-8dp();
  &:before {
    border: 8px solid transparent;
    border-bottom-color: var(--color-tertiary-background);
    border-top-width: 0;
    content: '';
    display: block;
    left: 16px;
    position: absolute;
    top: -7px;
    width: 0;
    z-index: 1;
  }
  &:after {
    border: 8px solid transparent;
    border-bottom-color: var(--color-separator);
    border-top-width: 0;
    content: '';
    display: block;
    left: 16px;
    position: absolute;
    top: -8px;
    width: 0;
  }
  @include mediaquery(tablet) {
    border: none;
    border-radius: 0;
    height: 100vh;
    left: 0;
    padding-top: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: scroll;
    &:before {
      border: none;
    }
    &:after {
      border: none;
    }
  }
}

.ncgr-category-menu__heading {
  display: none;
  @include mediaquery(tablet) {
    display: block;
    font-weight: bold;
    font-size: 36px;
    height: 50px;
    line-height: 50px;
    padding: 0 24px 0 24px;
    color: var(--color-label);
  }
}

.ncgr-category-menu__close-button {
  display: none;
  @include mediaquery(tablet) {
    background-color: var(--color-secondary-500);
    box-shadow: rgba(0, 0, 0, 0.15) 0 -4px 0 0 inset;
    box-sizing: border-box;
    color: var(--color-white);
    display: block;
    font-size: 30px;
    height: 50px;
    line-height: 50px;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 50px;
  }
}

.ncgr-category-menu__list--overflow {
  height: 100%;
  @include mediaquery(mobile) {
    padding-bottom: 200px;  
  }
}

.ncgr-category-menu__list-item {
  box-sizing: border-box;
  cursor: pointer;
  @include mediaquery(tablet) {
    font-size: 18px;
    height: 50px;
    @for $i from 1 through 20 {
      &:nth-child(#{$i}) {
        @include animation(slide-enter-left, 0.6s, #{$i/10 + 's'}, 1);
      }
    }
  }
}

.ncgr-category-menu__link {
  color: var(--color-label);
  cursor: pointer;
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 12px 0 12px;
  &:hover {
    background-color: var(--color-secondary-background);
  }
  @include mediaquery(tablet) {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    line-height: 50px;
    padding: 0 24px 0 24px;
    width: 100%;
    &:hover {
      background-color: var(--color-tertiary-background);
    }
  }
}
