/*doc
---
title: Checkbox
name: checkbox
category: Components
---

オプションのオン/オフ切り替えなどをする際に使用します。
List Viewのleadingやtrailingなどの中に入れて使用することもできます。

オプションから選択できる項目が２つ以上の場合には(ただし任意選択を除く)、Checkboxの代わりにRadioを使用しましょう。

```example
<div class="ncgr-row">
  <div class="ncgr-col -col-6 -col-s-4">
    <label class="ncgr-cursor-pointer" for="koga">
      <div class="ncgr-checkbox ncgr-mar-r-4">
        <input type="checkbox" id="koga">
        <div class="ncgr-checkbox__background">
          <i class="fas fa-check"></i>
        </div>
      </div>
      甲賀流
    </label>
  </div>
  <div class="ncgr-col -col-6 -col-s-4">
    <label class="ncgr-cursor-pointer" for="iga">
      <div class="ncgr-checkbox ncgr-mar-r-4">
        <input type="checkbox" id="iga">
        <div class="ncgr-checkbox__background">
          <i class="fas fa-check"></i>
        </div>
      </div>
      伊賀流
    </label>
  </div>
  <div class="ncgr-col -col-6 -col-s-4">
    <label class="ncgr-cursor-pointer" for="others">
      <div class="ncgr-checkbox ncgr-mar-r-4">
        <input type="checkbox" id="others">
        <div class="ncgr-checkbox__background">
          <i class="fas fa-check"></i>
        </div>
      </div>
      その他
    </label>
  </div>
</div>
<hr class="ncgr-list-divider">
<div class="ncgr-list-view">
  <label class="ncgr-list-tile" for="koga2">
    <div class="ncgr-list-tile__title">
      甲賀流
    </div>
    <div class="ncgr-list-tile__trailing">
      <div class="ncgr-checkbox">
        <input type="checkbox" id="koga2">
        <div class="ncgr-checkbox__background">
          <i class="fas fa-check"></i>
        </div>
      </div>
    </div>
  </label>
  <label class="ncgr-list-tile" for="iga2">
    <div class="ncgr-list-tile__title">
      伊賀流
    </div>
    <div class="ncgr-list-tile__trailing">
      <div class="ncgr-checkbox">
        <input type="checkbox" id="iga2">
        <div class="ncgr-checkbox__background">
          <i class="fas fa-check"></i>
        </div>
      </div>
    </div>
  </label>
</div>
<hr class="ncgr-list-divider">
<div class="ncgr-list-view">
  <label class="ncgr-list-tile" for="koga3">
    <div class="ncgr-list-tile__leading">
      <div class="ncgr-checkbox">
        <input type="checkbox"" id="koga3">
        <div class="ncgr-checkbox__background">
          <i class="fas fa-check"></i>
        </div>
      </div>
    </div>
    <div class="ncgr-list-tile__title">
      甲賀流
    </div>
  </label>
  <label class="ncgr-list-tile" for="iga3">
    <div class="ncgr-list-tile__leading">
      <div class="ncgr-checkbox">
        <input type="checkbox" id="iga3">
        <div class="ncgr-checkbox__background">
          <i class="fas fa-check"></i>
        </div>
      </div>
    </div>
    <div class="ncgr-list-tile__title">
      伊賀流
    </div>
  </label>
</div>
```
*/

.ncgr-checkbox {
  position: relative;
  display: inline-block;
  cursor: pointer;
  input {
    display: none;
  }
  input:checked + .ncgr-checkbox__background {
    background: var(--color-primary-500);
    border-color: var(--color-primary-500);
    color: var(--color-white);
  }  
  input:disabled + .ncgr-checkbox__background {
    color:rgba(var(--color-white), 0.2);
  }
}

.ncgr-checkbox__background {
  box-sizing: border-box;
  width: 1.25rem;
  height: 1.25rem;
  background-color: var(--color-textfield-background);
  border-radius: 0.25rem;
  border: 2px solid rgba(var(--color-textfield-separator), 0.15);
  transition-property: background-color, border-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  font-size: 0.875rem;
  &:hover {
    border-color: rgba(var(--color-textfield-separator), 0.2);
  }
}