/*doc
---
title: Choice Card
name: choice-card
category: Components
---

オモイデの一覧に使うカードのコンポーネントです。

```example
<a class="ncgr-choice-card">
  <div class="ncgr-choice-card__inner">
    <img src="./images/components/choice-card/cover-image.png" width="100%">
    <div class="ncgr-choice-card__info">
      <p class="ncgr-choice-card__item-num">
        50 アイテム
      </p>
      <p class="ncgr-choice-card__title">
        忍者特集
      </p>
    </div>
  </div>
</a>
```
*/

.ncgr-choice-card {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  &:before {
    content:"";
    display: block;
    padding-top: 100%;
  }
}

.ncgr-choice-card__inner {
  background-color: var(--color-default-100);
  background-position: 0 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.ncgr-choice-card__info {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 24px;
  box-sizing: border-box;
  position: absolute;
  text-align: left;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: background-color 0.15s ease-in-out;
  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
  @include mediaquery(mobile) {
    padding: 12px;
  }
}

.ncgr-choice-card__item-num {
  font-size: 12px;
  opacity: 0.8;
  color: var(--color-white);
  font-feature-settings: "palt" 1;
  @include mediaquery(mobile) {
    font-size: 10px;
  }
}

.ncgr-choice-card__title {
  font-weight: bold;
  font-size: 20px;
  font-feature-settings: "palt" 1;
  overflow: hidden;
  color: var(--color-white);
  @include mediaquery(mobile) {
    font-size: 16px;
  }
}
