/*doc
---
title: Dialog
name: dialog
category: Components
---

ページ中央に浮遊して現れるダイアログウインドウを生成するコンポーネントです。`body`, `footer`の２要素があります。
「閉じる」ボタンやタイトル、アクションボタン等を使用したい場合はApp Barコンポーネントを使用してください。

ダイアログの領域外を暗くする場合や、領域外を選択してダイアログを閉じるアクションを実装する場合は、`ncgr-overlay`を併せて使用してください。
また、`.ncgr-dialog`をアクティブにするときには、同時にbodyに`.overflow-hidden`を付与してください。
下の要素のスクロールを制限し、モーダル内のスクロールの誤動作を防ぐことができます。

```code
<div class="ncgr-overlay -active">
</div>
<div class="ncgr-dialog -active">
  <div class="ncgr-app-bar -active">
    <div class="ncgr-app-bar__leading">
      <div class="ncgr-app-bar__icon ncgr-typography-label">
        ×
      </div>
    </div>
    <div class="ncgr-app-bar__title">
      甲賀流
    </div>
    <div class="ncgr-app-bar__actions">
      <li>
        <i class="fas fa-ellipsis-v ncgr-typography-label"></i>
      </li>
    </div>
  </div>
  <div class="ncgr-dialog__body">
    <div class="ncgr-pad-16">
      甲賀流（こうかりゅう）とは、近江国甲賀の地に伝わっていた忍術流派の総称。<br>
      山を一つ隔てた場所に存在する伊賀流と並び、最も有名な忍術の一派として知られる。<br>
      甲賀流伊賀流ともに伝系に関しては仮託の説が多く信用できるものはあまりない。<br>
      しかし、民家で史料が発見されるなど研究も進み、少なくとも江戸時代には確実に存在したとされている。<br>
      なお、「甲賀流」という名称の単一の流派は存在せず、あくまで甲賀に伝わる複数の流派があわさって甲賀流と呼ばれているにすぎない。<br>
    </div>
  </div>
  <div class="ncgr-dialog__footer">
    <button class="ncgr-button ncgr-button-default ncgr-button--fluid ncgr-button--light">とじる</button>
  </div>
</div>
```

*/

// Variables
$dialog-width: 30rem;
$dialog-vertical-gap: 12rem;
$dialog-horizontal-gap: 1.5rem; 

.ncgr-dialog {
  width: $dialog-width;
  height: auto;
  max-height: calc(100vh - #{$dialog-vertical-gap});
  position: fixed;
  top: 50vh;
  left: calc(50vw - (#{$dialog-width} / 2));
  transform: translateY(-50%);
  background-color: var(--color-secondary-grouped-background);
  border-radius: 0.5rem;
  overflow: hidden;
  display: none;
  flex-direction: column;
  z-index: 2147483645;
  & * {
    z-index: 2147483645;
  }
  @include mediaquery(mobile) {
    height: auto;
    width: calc(100vw - (#{$dialog-horizontal-gap} * 2));
    left: $dialog-horizontal-gap;
  }
  &.-active {
    display: flex;
    animation: dialog-fade-in 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    dialog-shadow-fade-in 0.5s ease;
    @include shadow-16dp();
    @include mediaquery(mobile) {
      animation: dialog-fade-in-mobile 0.5s cubic-bezier(0.4, 0, 0.2, 1),
      dialog-shadow-fade-in 0.5s ease;
    }
    * {
      animation: dialog-inner-fade-in 0.5s ease;
    }
  }
}

.ncgr-dialog__body {
  position: relative;
  width: $dialog-width;
  height: auto;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  @include mediaquery(tablet) {
    width: 100%;
  }
}

.ncgr-dialog__footer {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0.5rem;
}

// animation

@keyframes dialog-fade-in {

  0% {
    width: 0;
    height: 10px;
    left: 50%;
  }

  40% {
    width: $dialog-width;
    height: 10px;
    left: calc(50vw - (#{$dialog-width} / 2));
  }

  100% {
    width: $dialog-width;
    height: auto;
    left: calc(50vw - (#{$dialog-width} / 2));
  }
}

@keyframes dialog-fade-in-mobile {

  0% {
    width: 0;
    height: 10px;
    left: 50%;
  }

  40% {
    width: calc(100vw - (#{$dialog-horizontal-gap} * 2));
    height: 10px;
    left: $dialog-horizontal-gap;
  }

  100% {
    width: calc(100vw - (#{$dialog-horizontal-gap} * 2));
    height: auto;
    left: $dialog-horizontal-gap;
  }
}

@keyframes dialog-inner-fade-in {

  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes dialog-shadow-fade-in {

  0% {
    box-shadow: none;
  }

  30% {
    box-shadow: none;
  }

  100% {
    @include shadow-16dp();
  }
}


