/*doc
---
title: Expansion List-View
name: expansion-list-view
category: Components
---

少ない情報からさらに詳しい情報を見せたい場合に、伸縮するカードを使用します。

```example
<div class="ncgr-expansion-list-tile">
  <input id="koga" class="ncgr-expansion-list-tile__checkbox" type="checkbox">  
  <label for="koga">
    <div class="ncgr-expansion-list-tile__header">
      <div class="ncgr-expansion-list-tile__title">
        <div class="ncgr-expansion-list-tile__primary-title">
          甲賀流
        </div>
        <div class="ncgr-expansion-list-tile__secondary-title">
          近江国甲賀の地に伝わっていた忍術流派の総称
        </div>
      </div>
      <div class="ncgr-expansion-list-tile__trailing">
        <div class="ncgr-expansion-list-tile__arrow">
          <i class="fa fa-angle-down"></i>
        </div>
      </div>
    </div>
  </label>
  <div class="ncgr-expansion-list-tile__hidden">
    <div class="ncgr-expansion-list-tile__body">
      甲賀流（こうかりゅう）とは、近江国甲賀の地に伝わっていた忍術流派の総称。<br>
      山を一つ隔てた場所に存在する伊賀流と並び、最も有名な忍術の一派として知られる。<br>
      甲賀流伊賀流ともに伝系に関しては仮託の説が多く信用できるものはあまりない。<br>
      しかし、民家で史料が発見されるなど研究も進み、少なくとも江戸時代には確実に存在したとされている。<br>
      なお、「甲賀流」という名称の単一の流派は存在せず、あくまで甲賀に伝わる複数の流派があわさって甲賀流と呼ばれているにすぎない。
    </div>
  </div>
</div>
<hr class="ncgr-expansion-list-divider">
<div class="ncgr-expansion-list-tile">
  <input id="iga" class="ncgr-expansion-list-tile__checkbox" type="checkbox">  
  <label for="iga">
    <div class="ncgr-expansion-list-tile__header">
      <div class="ncgr-expansion-list-tile__title">
        <div class="ncgr-expansion-list-tile__primary-title">
          伊賀流
        </div>
        <div class="ncgr-expansion-list-tile__secondary-title">
          伊賀国の地に伝わっていた忍術流派の総称
        </div>
      </div>
      <div class="ncgr-expansion-list-tile__trailing">
        <div class="ncgr-expansion-list-tile__arrow">
          <i class="fa fa-angle-down"></i>
        </div>
      </div>
    </div>
  </label>
  <div class="ncgr-expansion-list-tile__hidden">
    <div class="ncgr-expansion-list-tile__body">
      伊賀流（いがりゅう）は、伊賀国の地に伝わっていた忍術流派の総称。<br>
      甲賀流と並んで忍術の中で最も有名な流派の一つである。<br>
      根拠地は、現在の三重県伊賀市と名張市にあった。<br>
      普段は農業や行商をして各地の情報を探る一方、指令が下ると戦場やその後方へ出向き、工作活動に励んだ。
    </div>
  </div>
</div>
```

*/

// Nachiguro Variables
$boundaries: (
  s: 480px,
  m: 768px,
  l: 1280px
) !default;

$gaps: (
  s: 1rem,
  m: 1.5rem,
  l: 1.5rem,
) !default;

// Inhouse Mixins
@mixin mq-boundary-up($boundary) {
  @media screen and (min-width: map-get($boundaries, $boundary)) {
    @content;
  }
}

// Variables
$expansion-list-boundaries: $boundaries;
$expansion-list-gaps: $gaps;

// Functions
@function expansion-list-gap($expansion-list-boundary) {
  @return map-get($expansion-list-gaps, $expansion-list-boundary);
}

.ncgr-expansion-list-divider {
  background-color: var(--color-separator);
  box-sizing: border-box;
  border: none;
  height: 1px;
  width: 100%;
  margin-top: expansion-list-gap(s) / 2;
  margin-right: 0;
  margin-bottom: expansion-list-gap(s) / 2;
  margin-left: 0;
  @each $expansion-list-boundary in map-keys($expansion-list-boundaries) {
    @include mq-boundary-up($expansion-list-boundary) {
      margin-top: expansion-list-gap($expansion-list-boundary) / 2;
      margin-bottom: expansion-list-gap($expansion-list-boundary) / 2;
    }
  }
}

.ncgr-expansion-list-tile {

  box-sizing: border-box;
  color: var(--color-label);
  width: 100%;
  height: auto;
  padding-top: 0;
  padding-right: expansion-list-gap(s) / 2;
  padding-bottom: 0;
  padding-left: expansion-list-gap(s) / 2;
  @each $expansion-list-boundary in map-keys($expansion-list-boundaries) {
    @include mq-boundary-up($expansion-list-boundary) {
      padding-right: expansion-list-gap($expansion-list-boundary) / 2;
      padding-left: expansion-list-gap($expansion-list-boundary) / 2;
    }
  }
  &.-two-line {
    .ncgr-expansion-list-tile__leading {
      align-self: flex-start;
    }
  }
  &.-multi-line {
    .ncgr-expansion-list-tile__header {
      align-items: flex-start;
    }
    .ncgr-expansion-list-tile__secondary-title {
      white-space: normal;
      overflow: auto;
      text-overflow: clip;
    }
  }
  &.-dense {
    .ncgr-expansion-list-tile__header {
      padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }
  }
}

.ncgr-expansion-list-tile__header {
  box-sizing: border-box;
  width: 100%;
  line-height: 1.5;
  height: auto;
  display: flex;
  align-items: center;
  padding: 1rem;
  padding-top: 1rem;
  padding-right: expansion-list-gap(s) / 2;
  padding-bottom: 1rem;
  padding-left: expansion-list-gap(s) / 2;
  border-radius: 0.5rem;
  @each $expansion-list-boundary in map-keys($expansion-list-boundaries) {
    @include mq-boundary-up($expansion-list-boundary) {
      padding-right: expansion-list-gap($expansion-list-boundary) / 2;
      padding-left: expansion-list-gap($expansion-list-boundary) / 2;
    }
  }
  cursor: pointer;
  &:hover,
  &:active {
    background: var(--color-tertiary-grouped-background);
  }
}

.ncgr-expansion-list-tile__leading {
  width: 3.5rem;
}

.ncgr-expansion-list-tile__icon {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ncgr-expansion-list-tile__title {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  word-break: break-all;
}

.ncgr-expansion-list-tile__primary-title {
  font-size: 1rem;
  color: var(--color-label);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ncgr-expansion-list-tile__secondary-title {
  font-size: 0.75rem;
  color: var(--color-secondary-label);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ncgr-expansion-list-tile__trailing {
  box-sizing: border-box;
  padding-left: 1rem;
}

.ncgr-expansion-list-tile__checkbox {
  display: none;
}

.ncgr-expansion-list-tile__checkbox ~ .ncgr-expansion-list-tile__hidden {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease;
}

.ncgr-expansion-list-tile__checkbox:checked ~ .ncgr-expansion-list-tile__hidden {
  max-height: 9999px;
  transition: max-height 0.4s ease;
}

.ncgr-expansion-list-tile__body {
  padding: 0.5rem;
  a {
    color: var(--color-secondary-label);
    text-decoration: underline;
    display: inline;
  }
}

.ncgr-expansion-list-tile__arrow {
  color: var(--color-secondary-label);
  font-size: 1.25rem;
  transform: rotate(0deg);
  transition: transform 0.4s ease;
  pointer-events: none;
}

.ncgr-expansion-list-tile__checkbox:checked ~ label {
  .ncgr-expansion-list-tile__arrow {
    transform: rotate(-180deg);
  }
}
