.ncgr-flying-emoji {
  position: fixed;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: center center;
  perspective: 600px;
  z-index: 2147483647;
  pointer-events: none;
}

.ncgr-flying-emoji__inner {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
}

.ncgr-flying-emoji__item {
  position: absolute;
}

.ncgr-flying-emoji__item:nth-child(1) {
  font-size: 98px;
  opacity: 0;
  animation-name: move1;
  animation-duration: 4.5s;
  animation-timing-function: ease-in-out;
  animation-delay: -0.2s;
  animation-iteration-count: 2;
}

@keyframes move1 {
  0% {
    transform: translate3d(22px, 1000px, 0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(201px, 0, 0);
    opacity: 0;
  }
}
.ncgr-flying-emoji__item:nth-child(2) {
  font-size: 62px;
  opacity: 0;
  animation-name: move2;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: -0.4s;
  animation-iteration-count: 2;
}

@keyframes move2 {
  0% {
    transform: translate3d(889px, 1000px, 0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(940px, 0, 0);
    opacity: 0;
  }
}
.ncgr-flying-emoji__item:nth-child(3) {
  font-size: 73px;
  opacity: 0;
  animation-name: move3;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: -0.6s;
  animation-iteration-count: 2;
}

@keyframes move3 {
  0% {
    transform: translate3d(613px, 1000px, 0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(654px, 0, 0);
    opacity: 0;
  }
}
.ncgr-flying-emoji__item:nth-child(4) {
  font-size: 89px;
  opacity: 0;
  animation-name: move4;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: -0.8s;
  animation-iteration-count: 2;
}

@keyframes move4 {
  0% {
    transform: translate3d(848px, 1000px, 0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(867px, 0, 0);
    opacity: 0;
  }
}
.ncgr-flying-emoji__item:nth-child(5) {
  font-size: 69px;
  opacity: 0;
  animation-name: move5;
  animation-duration: 4.5s;
  animation-timing-function: ease-in-out;
  animation-delay: -1s;
  animation-iteration-count: 2;
}

@keyframes move5 {
  0% {
    transform: translate3d(723px, 1000px, 0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(703px, 0, 0);
    opacity: 0;
  }
}
.ncgr-flying-emoji__item:nth-child(6) {
  font-size: 78px;
  opacity: 0;
  animation-name: move6;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: -1.2s;
  animation-iteration-count: 2;
}

@keyframes move6 {
  0% {
    transform: translate3d(211px, 1000px, 0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(339px, 0, 0);
    opacity: 0;
  }
}
.ncgr-flying-emoji__item:nth-child(7) {
  font-size: 62px;
  opacity: 0;
  animation-name: move7;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: -1.4s;
  animation-iteration-count: 2;
}

@keyframes move7 {
  0% {
    transform: translate3d(977px, 1000px, 0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(370px, 0, 0);
    opacity: 0;
  }
}
.ncgr-flying-emoji__item:nth-child(8) {
  font-size: 84px;
  opacity: 0;
  animation-name: move8;
  animation-duration: 4.5s;
  animation-timing-function: ease-in-out;
  animation-delay: -1.6s;
  animation-iteration-count: 2;
}

@keyframes move8 {
  0% {
    transform: translate3d(406px, 1000px, 0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(911px, 0, 0);
    opacity: 0;
  }
}
.ncgr-flying-emoji__item:nth-child(9) {
  font-size: 87px;
  opacity: 0;
  animation-name: move9;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: -1.8s;
  animation-iteration-count: 2;
}

@keyframes move9 {
  0% {
    transform: translate3d(540px, 1000px, 0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(648px, 0, 0);
    opacity: 0;
  }
}
.ncgr-flying-emoji__item:nth-child(10) {
  font-size: 87px;
  opacity: 0;
  animation-name: move10;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: -2s;
  animation-iteration-count: 2;
}

@keyframes move10 {
  0% {
    transform: translate3d(815px, 1000px, 0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(321px, 0, 0);
    opacity: 0;
  }
}
.ncgr-flying-emoji__item:nth-child(11) {
  font-size: 96px;
  opacity: 0;
  animation-name: move11;
  animation-duration: 4.5s;
  animation-timing-function: ease-in-out;
  animation-delay: -2.2s;
  animation-iteration-count: 2;
}

@keyframes move11 {
  0% {
    transform: translate3d(923px, 1000px, 0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(714px, 0, 0);
    opacity: 0;
  }
}
.ncgr-flying-emoji__item:nth-child(12) {
  font-size: 67px;
  opacity: 0;
  animation-name: move12;
  animation-duration: 4.5s;
  animation-timing-function: ease-in-out;
  animation-delay: -2.4s;
  animation-iteration-count: 2;
}

@keyframes move12 {
  0% {
    transform: translate3d(251px, 1000px, 0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(384px, 0, 0);
    opacity: 0;
  }
}
.ncgr-flying-emoji__item:nth-child(13) {
  font-size: 99px;
  opacity: 0;
  animation-name: move13;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: -2.6s;
  animation-iteration-count: 2;
}

@keyframes move13 {
  0% {
    transform: translate3d(762px, 1000px, 0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(490px, 0, 0);
    opacity: 0;
  }
}
.ncgr-flying-emoji__item:nth-child(14) {
  font-size: 90px;
  opacity: 0;
  animation-name: move14;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: -2.8s;
  animation-iteration-count: 2;
}

@keyframes move14 {
  0% {
    transform: translate3d(787px, 1000px, 0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(651px, 0, 0);
    opacity: 0;
  }
}
.ncgr-flying-emoji__item:nth-child(15) {
  font-size: 78px;
  opacity: 0;
  animation-name: move15;
  animation-duration: 4.5s;
  animation-timing-function: ease-in-out;
  animation-delay: -3s;
  animation-iteration-count: 2;
}

@keyframes move15 {
  0% {
    transform: translate3d(11px, 1000px, 0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(448px, 0, 0);
    opacity: 0;
  }
}
.ncgr-flying-emoji__item:nth-child(16) {
  font-size: 70px;
  opacity: 0;
  animation-name: move16;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: -3.2s;
  animation-iteration-count: 2;
}

@keyframes move16 {
  0% {
    transform: translate3d(19px, 1000px, 0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(572px, 0, 0);
    opacity: 0;
  }
}
.ncgr-flying-emoji__item:nth-child(17) {
  font-size: 64px;
  opacity: 0;
  animation-name: move17;
  animation-duration: 4.5s;
  animation-timing-function: ease-in-out;
  animation-delay: -3.4s;
  animation-iteration-count: 2;
}

@keyframes move17 {
  0% {
    transform: translate3d(39px, 1000px, 0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(609px, 0, 0);
    opacity: 0;
  }
}
.ncgr-flying-emoji__item:nth-child(18) {
  font-size: 63px;
  opacity: 0;
  animation-name: move18;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: -3.6s;
  animation-iteration-count: 2;
}

@keyframes move18 {
  0% {
    transform: translate3d(3px, 1000px, 0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(988px, 0, 0);
    opacity: 0;
  }
}
.ncgr-flying-emoji__item:nth-child(19) {
  font-size: 89px;
  opacity: 0;
  animation-name: move19;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: -3.8s;
  animation-iteration-count: 2;
}

@keyframes move19 {
  0% {
    transform: translate3d(706px, 1000px, 0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(752px, 0, 0);
    opacity: 0;
  }
}
.ncgr-flying-emoji__item:nth-child(20) {
  font-size: 75px;
  opacity: 0;
  animation-name: move20;
  animation-duration: 4.5s;
  animation-timing-function: ease-in-out;
  animation-delay: -4s;
  animation-iteration-count: 2;
}

@keyframes move20 {
  0% {
    transform: translate3d(615px, 1000px, 0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(938px, 0, 0);
    opacity: 0;
  }
}
.ncgr-flying-emoji__item:nth-child(21) {
  font-size: 61px;
  opacity: 0;
  animation-name: move21;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: -4.2s;
  animation-iteration-count: 2;
}

@keyframes move21 {
  0% {
    transform: translate3d(759px, 1000px, 0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(768px, 0, 0);
    opacity: 0;
  }
}
.ncgr-flying-emoji__item:nth-child(22) {
  font-size: 63px;
  opacity: 0;
  animation-name: move22;
  animation-duration: 4.5s;
  animation-timing-function: ease-in-out;
  animation-delay: -4.4s;
  animation-iteration-count: 2;
}

@keyframes move22 {
  0% {
    transform: translate3d(313px, 1000px, 0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(620px, 0, 0);
    opacity: 0;
  }
}
.ncgr-flying-emoji__item:nth-child(23) {
  font-size: 79px;
  opacity: 0;
  animation-name: move23;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: -4.6s;
  animation-iteration-count: 2;
}

@keyframes move23 {
  0% {
    transform: translate3d(596px, 1000px, 0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(148px, 0, 0);
    opacity: 0;
  }
}
.ncgr-flying-emoji__item:nth-child(24) {
  font-size: 91px;
  opacity: 0;
  animation-name: move24;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: -4.8s;
  animation-iteration-count: 2;
}

@keyframes move24 {
  0% {
    transform: translate3d(222px, 1000px, 0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(906px, 0, 0);
    opacity: 0;
  }
}
.ncgr-flying-emoji__item:nth-child(25) {
  font-size: 62px;
  opacity: 0;
  animation-name: move25;
  animation-duration: 4.5s;
  animation-timing-function: ease-in-out;
  animation-delay: -5s;
  animation-iteration-count: 2;
}

@keyframes move25 {
  0% {
    transform: translate3d(959px, 1000px, 0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(859px, 0, 0);
    opacity: 0;
  }
}
.ncgr-flying-emoji__item:nth-child(26) {
  font-size: 78px;
  opacity: 0;
  animation-name: move26;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: -5.2s;
  animation-iteration-count: 2;
}

@keyframes move26 {
  0% {
    transform: translate3d(480px, 1000px, 0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(69px, 0, 0);
    opacity: 0;
  }
}
.ncgr-flying-emoji__item:nth-child(27) {
  font-size: 93px;
  opacity: 0;
  animation-name: move27;
  animation-duration: 4.5s;
  animation-timing-function: ease-in-out;
  animation-delay: -5.4s;
  animation-iteration-count: 2;
}

@keyframes move27 {
  0% {
    transform: translate3d(239px, 1000px, 0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(438px, 0, 0);
    opacity: 0;
  }
}
.ncgr-flying-emoji__item:nth-child(28) {
  font-size: 65px;
  opacity: 0;
  animation-name: move28;
  animation-duration: 4.5s;
  animation-timing-function: ease-in-out;
  animation-delay: -5.6s;
  animation-iteration-count: 2;
}

@keyframes move28 {
  0% {
    transform: translate3d(348px, 1000px, 0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(813px, 0, 0);
    opacity: 0;
  }
}
.ncgr-flying-emoji__item:nth-child(29) {
  font-size: 81px;
  opacity: 0;
  animation-name: move29;
  animation-duration: 4.5s;
  animation-timing-function: ease-in-out;
  animation-delay: -5.8s;
  animation-iteration-count: 2;
}

@keyframes move29 {
  0% {
    transform: translate3d(733px, 1000px, 0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(490px, 0, 0);
    opacity: 0;
  }
}
.ncgr-flying-emoji__item:nth-child(30) {
  font-size: 80px;
  opacity: 0;
  animation-name: move30;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: -6s;
  animation-iteration-count: 2;
}

@keyframes move30 {
  0% {
    transform: translate3d(276px, 1000px, 0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(586px, 0, 0);
    opacity: 0;
  }
}