/*doc
---
title: Full Modal
name: full-modal
category: Components
---

画面全体の領域のモーダルを展開させるコンポーネントです。`body`, `footer`の２要素があります。
「閉じる」ボタンやタイトル、アクションボタン等を使用したい場合はApp Barコンポーネントを使用してください。

`-active`のmodifierがある要素は、それを付与することでアクティブな状態になります。
また、`ncgr-full-modal__contents`を付与したクラスを複数配置し、
`-active`の付け外しをすることでシート内に階層を持たせることができます。

`ncgr-full-modal`をアクティブにするときには、同時にbodyに`.overflow-hidden`を付与してください。
下の要素のスクロールを制限し、モーダル内のスクロールの誤動作を防ぐことができます。

```code
<div class="ncgr-full-modal -active">
  <div class="ncgr-app-bar -appearance-transparent -position-static --activated">
    <div class="_content">
      <div class="_leading">
        <div class="ncgr-button -appearance-transparent -shape-circle">
          <div class="_leading">
            <span class="ncgr-icon" data-icon="arrow_left"></span>
          </div>
        </div>
      </div>
      <div class="_body">
        <h1 class="_title">
          メニュー
        </h1>
      </div>
    </div>
  </div>
  <div class="ncgr-full-modal__body">
    <div class="ncgr-full-modal__contents -active">
      <div class="ncgr-interactive-list">
        <ul> 
          <li class="_item">
            <div class=_body">
              <div class="_title">
                スリスリする
              </div>
            </div>
          </li>
          <li class="_item">
            <div class=_body">
              <div class="_title">
                スリスリしない
              </div>
            </div>
          </li>
          <li class="_item">
            <div class=_body">
              <div class="_title">
                スリスリする
              </div>
            </div>
          </li>
          <li class="_item">
            <div class=_body">
              <div class="_title">
                スリスリしない
              </div>
            </div>
          </li>
        </ul>
      </ul>
    </div>
  </div>
  <div class="ncgr-full-modal__footer">
    <button class="ncgr-button -appearance-transparent">
      <div class="_body">
        とじる
      </div>
    </button>
  </div>
</div>
```

*/

.ncgr-full-modal {
  background-color: var(--color-secondary-grouped-background);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100vh;
  transform: translateY(100vh);
  z-index: 2147483645;
  @include mediaquery(tablet) {
    height: stretch;
    @supports (-webkit-touch-callout: none) {
      transform: translateY(120vh);
    }
  }
  .ncgr-full-modal__body,
  .ncgr-full-modal__footer {
    z-index: 2147483645;
  }
  &.-active {
    transform: translateY(0);
  }
}

.ncgr-full-modal__body {
  position: relative;
  width: 100vw;
  height: auto;
  flex-grow: 1;
  overflow: hidden;
}

.ncgr-full-modal__contents {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(100vw);
  overflow-y: scroll;
  width: 100vw;
  height: 100%;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--color-secondary-grouped-background);
  &.-active {
    transform: translateX(0);
  }
}

.ncgr-full-modal__footer {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0.5rem;
  @include mediaquery(tablet) {
    margin-bottom: env(safe-area-inset-bottom);
  }
}
