.ncgr-glitch-text {
  position: relative;
  animation: glitch-skew 1s infinite linear alternate-reverse;
}
.ncgr-glitch-text::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.ncgr-glitch-text::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% {
    clip: rect(85px, 9999px, 92px, 0);
    transform: skew(0.19deg);
  }
  5% {
    clip: rect(67px, 9999px, 63px, 0);
    transform: skew(0.1deg);
  }
  10% {
    clip: rect(39px, 9999px, 64px, 0);
    transform: skew(0.04deg);
  }
  15% {
    clip: rect(74px, 9999px, 26px, 0);
    transform: skew(0.39deg);
  }
  20% {
    clip: rect(20px, 9999px, 20px, 0);
    transform: skew(0.47deg);
  }
  25% {
    clip: rect(31px, 9999px, 89px, 0);
    transform: skew(0.24deg);
  }
  30% {
    clip: rect(59px, 9999px, 71px, 0);
    transform: skew(0.81deg);
  }
  35% {
    clip: rect(21px, 9999px, 62px, 0);
    transform: skew(0.52deg);
  }
  40% {
    clip: rect(62px, 9999px, 2px, 0);
    transform: skew(0.93deg);
  }
  45% {
    clip: rect(73px, 9999px, 73px, 0);
    transform: skew(0.04deg);
  }
  50% {
    clip: rect(81px, 9999px, 69px, 0);
    transform: skew(0.07deg);
  }
  55% {
    clip: rect(37px, 9999px, 50px, 0);
    transform: skew(0.98deg);
  }
  60% {
    clip: rect(93px, 9999px, 67px, 0);
    transform: skew(0.04deg);
  }
  65% {
    clip: rect(45px, 9999px, 93px, 0);
    transform: skew(0.5deg);
  }
  70% {
    clip: rect(15px, 9999px, 61px, 0);
    transform: skew(0.57deg);
  }
  75% {
    clip: rect(25px, 9999px, 60px, 0);
    transform: skew(0.59deg);
  }
  80% {
    clip: rect(43px, 9999px, 57px, 0);
    transform: skew(0.93deg);
  }
  85% {
    clip: rect(99px, 9999px, 48px, 0);
    transform: skew(0.48deg);
  }
  90% {
    clip: rect(82px, 9999px, 95px, 0);
    transform: skew(0.36deg);
  }
  95% {
    clip: rect(52px, 9999px, 12px, 0);
    transform: skew(0.02deg);
  }
  100% {
    clip: rect(65px, 9999px, 47px, 0);
    transform: skew(0.04deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(22px, 9999px, 73px, 0);
    transform: skew(0.27deg);
  }
  5% {
    clip: rect(65px, 9999px, 94px, 0);
    transform: skew(0.59deg);
  }
  10% {
    clip: rect(36px, 9999px, 40px, 0);
    transform: skew(0.52deg);
  }
  15% {
    clip: rect(81px, 9999px, 81px, 0);
    transform: skew(0.67deg);
  }
  20% {
    clip: rect(33px, 9999px, 57px, 0);
    transform: skew(0.38deg);
  }
  25% {
    clip: rect(43px, 9999px, 82px, 0);
    transform: skew(0.2deg);
  }
  30% {
    clip: rect(69px, 9999px, 99px, 0);
    transform: skew(0.04deg);
  }
  35% {
    clip: rect(21px, 9999px, 6px, 0);
    transform: skew(0.28deg);
  }
  40% {
    clip: rect(56px, 9999px, 82px, 0);
    transform: skew(0.35deg);
  }
  45% {
    clip: rect(50px, 9999px, 15px, 0);
    transform: skew(0.68deg);
  }
  50% {
    clip: rect(60px, 9999px, 85px, 0);
    transform: skew(0.23deg);
  }
  55% {
    clip: rect(1px, 9999px, 61px, 0);
    transform: skew(0.33deg);
  }
  60% {
    clip: rect(33px, 9999px, 68px, 0);
    transform: skew(0.18deg);
  }
  65% {
    clip: rect(9px, 9999px, 20px, 0);
    transform: skew(0.29deg);
  }
  70% {
    clip: rect(63px, 9999px, 7px, 0);
    transform: skew(0.03deg);
  }
  75% {
    clip: rect(71px, 9999px, 2px, 0);
    transform: skew(0.2deg);
  }
  80% {
    clip: rect(38px, 9999px, 53px, 0);
    transform: skew(0.17deg);
  }
  85% {
    clip: rect(90px, 9999px, 74px, 0);
    transform: skew(0.58deg);
  }
  90% {
    clip: rect(35px, 9999px, 29px, 0);
    transform: skew(0.11deg);
  }
  95% {
    clip: rect(29px, 9999px, 11px, 0);
    transform: skew(0.02deg);
  }
  100% {
    clip: rect(42px, 9999px, 83px, 0);
    transform: skew(0.34deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(0deg);
  }
  10% {
    transform: skew(1deg);
  }
  20% {
    transform: skew(-3deg);
  }
  30% {
    transform: skew(3deg);
  }
  40% {
    transform: skew(-4deg);
  }
  50% {
    transform: skew(5deg);
  }
  60% {
    transform: skew(1deg);
  }
  70% {
    transform: skew(3deg);
  }
  80% {
    transform: skew(-2deg);
  }
  90% {
    transform: skew(-3deg);
  }
  100% {
    transform: skew(-3deg);
  }
}