/*doc
---
title: Grid
name: grid
category: Utilities
---

グリッドレイアウトを実現します。
columnsコンポーネントと役割がかぶっていますが、gridコンポーネントの方がmediaqueryやgutterを柔軟に使用できるので今後はこちらを使います。

```example
<div class="ncgr-grid ncgr-grid--1of4 ncgr-grid--1of2-tablet ncgr-grid--1of1-mobile">
  <div class="ncgr-grid__cell">
    1
  </div>
  <div class="ncgr-grid__cell">
    2
  </div>
  <div class="ncgr-grid__cell">
    3
  </div>
  <div class="ncgr-grid__cell">
    4
  </div>
</div>
```

*/

.ncgr-grid {
  display: flex;
  flex-wrap: wrap;
}

.ncgr-grid--gutters-16 {
  margin: -16px 0 0 -16px;
  @include mediaquery(tablet) {
    margin: -16px 0 0 -16px;
  }
}

.ncgr-grid--gutters-16 > .ncgr-grid__cell {
  padding: 16px 0 0 16px;
  @include mediaquery(tablet) {
    padding: 16px 0 0 16px;
  }
}

.ncgr-grid__cell {
  flex: 1;
  box-sizing: border-box;
}

// 行ぞろえ
.ncgr-grid--top {
  align-items: flex-start;
}
.ncgr-grid--bottom {
  align-items: flex-end;
}
.ncgr-grid--center {
  align-items: center;
}

// セルごとに整列
.ncgr-grid__cell--top {
  align-self: flex-start;
}
.ncgr-grid__cell--bottom {
  align-self: flex-end;
}
.ncgr-grid__cell--center {
  align-self: center;
}

$columns: 1, 2, 3, 4, 5, 6;

@each $column in $columns {
  .ncgr-grid--1of#{$column} > .ncgr-grid__cell {
    flex: 0 0 calc(1 / #{$column} * 100%);
  }
}
@each $column in $columns {
  .ncgr-grid--1of#{$column}-desktop > .ncgr-grid__cell {
    @include mediaquery(desktop) {
      flex: 0 0 calc(1 / #{$column} * 100%);
    }
  }
}
@each $column in $columns {
  .ncgr-grid--1of#{$column}-tablet > .ncgr-grid__cell {
    @include mediaquery(tablet) {
      flex: 0 0 calc(1 / #{$column} * 100%);
    }
  }
}
@each $column in $columns {
  .ncgr-grid--1of#{$column}-mobile > .ncgr-grid__cell {
    @include mediaquery(mobile) {
      flex: 0 0 calc(1 / #{$column} * 100%);
    }
  }
}