/*doc
---
title: Heading
name: heading
category: Components
---

見出しをマークアップするコンポーネントです。
h1からh6、どのタグに関わらず大きさを調整できます。


```example
<h1 class="ncgr-heading ncgr-heading--large">忍者スリスリ君</h1>
<h1 class="ncgr-heading ncgr-heading--medium">忍者スリスリ君</h1>
<h1 class="ncgr-heading ncgr-heading--small">忍者スリスリ君</h1>
```

見出しにボーダーをつける場合はspanで入れ子にして`.ncgr-heading__border`のclassをつけます。

```example
<h1 class="ncgr-heading ncgr-heading--large">
  <span class="ncgr-heading__border">
    忍者スリスリ君
  </span>
</h1>
<h1 class="ncgr-heading ncgr-heading--medium">
  <span class="ncgr-heading__border">
    忍者スリスリ君
  </span>
</h1>
<h1 class="ncgr-heading ncgr-heading--small">
  <span class="ncgr-heading__border">
    忍者スリスリ君
  </span>
</h1>
```

*/

.ncgr-heading {
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: var(--color-label);
  a {
    color: var(--color-label);
  }
}

.ncgr-heading__border {
  display: inline-block;
}

.ncgr-heading--large {
  font-size: 46px;
  @include mediaquery(mobile) {
    font-size: 28px;
  }
  .ncgr-heading__border {
    border-bottom: 4px solid var(--color-label);
    padding-bottom: 8px;
  }
}

.ncgr-heading--medium {
  font-size: 30px;
  @include mediaquery(mobile) {
    font-size: 20px;
  }
  .ncgr-heading__border {
    border-bottom: 3px solid var(--color-label);
    padding-bottom: 8px;
  }
}

.ncgr-heading--small {
  font-size: 18px;
  @include mediaquery(mobile) {
    font-size: 16px;
  }
  .ncgr-heading__border {
    border-bottom: 2px solid var(--color-label);
    padding-bottom: 8px;
  }
}

.ncgr-heading--white {
  color: var(--color-white);
  a {
    color: var(--color-white);
  }
  .ncgr-heading__border {
    border-bottom: 4px solid var(--color-white);
  }
}

.controller-developer-apps {
  .ncgr-heading {
    color: var(--color-white);
    a {
      color: var(--color-white);
    }
  }
}