/*doc
---
title: Hint
name: hint
category: Components
---

このコンポーネントを使うことで忍者スリスリくんというキャラクターを通してユーザーにコンテンツに対する一言コメントや、SUZURIを使う上でのヒントを教えます。

ヒントは内容がないものから実用的なものまで様々に用意しています。
「<a href="https://suzuri.jp/hint">https://suzuri.jp/hint</a>」にアクセスすることで確認できます。
また、内容を変更する場合は`https://git.pepabo.com/suzuri/suzuri`の`config/locales/ja.hint.yml`、`config/locales/en.hint.yml`、を修正します。

```example
<div class="ncgr-hint">
  <div class="ncgr-hint__sprite-anime">
  </div>
  <div class="ncgr-hint__content">
    こんちくわマン！
  </div>
</div>
```

*/

.ncgr-hint {
  align-items: center;
  display: flex;
  background-repeat: no-repeat;
  background-position: left bottom;
  height: 117px;

  @include mediaquery(mobile) {
    height: 43px;
    margin-top: 8px;
  }
}

.ncgr-hint__sprite-anime {
  height: 117px;
  width: 190px;
  overflow: hidden;
  background-image: ncgr-asset-url('images/suri-sprite.png');
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  animation: pc-surisuri-sprite 3.8s steps(28, start) infinite;

  @include mediaquery(mobile) {
    height: 40px;
    width: 64px;
    animation: sp-surisuri-sprite 3.8s steps(28, start) infinite;
  }
}

.ncgr-hint__content {
  text-align: left;
  vertical-align: middle;
  font-size: 18px;
  flex: 1;
  line-height: 2;
  position: relative;
  left: -24px;

  @include mediaquery(mobile) {
    font-size: 12px;
    line-height: 1.5;
    left: 0;
  }

  a {
    text-decoration: underline;
    color: var(--color-label);
  }
}

.ncgr-hint__content--white {
  color: var(--color-white);

  a {
    text-decoration: underline;
    color: var(--color-white);
  }
}

.ncgr-hint--small {
  height: 43px;
  margin-top: 8px;
  .ncgr-hint__sprite-anime {
    height: 40px;
    width: 64px;
    animation: sp-surisuri-sprite 3.8s steps(28, start) infinite;
  }
  .ncgr-hint__content {
    font-size: 12px;
    line-height: 1.5;
    left: 0;
  }
}

@keyframes pc-surisuri-sprite {
  0% { background-position: 0 0; }
  100%{ background-position: -5656px 0; }
}
@keyframes sp-surisuri-sprite {
  0%{ background-position: 0 0; }
  100%{ background-position: -1932px 0; }
}
