/*doc
---
title: Icon Button
name: icon-button
category: Components
---

Icon Buttonはある商品やユーザー情報に対してアクションをするボタンに使用します。

一般的にモバイルでのタップターゲットは44px以上確保するとよいと言われていますが、ボタンそのものの大きさを44px以上にするとアイテムの画像と比較したボタンの領域が大きくなりすぎるため、外周のpaddingを2px以上確保していることでタップターゲットが確保できているとみなします。

```example
<button class="ncgr-icon-button -circle">
  <i class="fa fa-bell"></i>
</button>
```

Light Mode, Dark Modeに関わらず、強制的に明るい背景にしたい場合は `-light` Modifier を使用します。

```example
<button class="ncgr-icon-button -light">
  <i class="fa fa-folder"></i>
</button>
```

明度の高い画像の上に乗せるときなどに、ボタンのタップできる範囲を明確にしたい場合は `-bordered` Modifier を使用します。

```example
<button class="ncgr-icon-button -light -bordered">
  <i class="fa fa-folder"></i>
</button>
```

Light Mode, Dark Modeに関わらず、強制的に暗い背景色を敷きたい場合は `-dark` Modifier を使用します。主にログインしているユーザー自身（管理者）のアクション（編集・削除）に使用します。

```example
<button class="ncgr-icon-button -dark">
  <i class="fas fa-pencil-alt"></i>
</button>
```

ズッキュンボタンには `-favorite -bordered` Modifier を使用します。

```example
<button class="ncgr-icon-button -favorite -bordered">
  <i class="fa fa-heart"></i>
  <span class="ncgr-pad-l-4">246</span>
</button>
```

プロフィール画像やカバー画像などの画像をアップロードする箇所には `-circle -dark` Modifier を使用します。

```example
<button class="ncgr-icon-button -circle -dark">
  <i class="fas fa-pencil-alt"></i>
</button>
```

*/

.ncgr-icon-button {
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  height: 2.5rem;
  text-align: center;
  width: auto;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  line-height: 2.5rem;
  min-width: 2.5rem;
  transition: all .2s ease-in-out;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--color-secondary-label);
  &:hover,
  &:focus,
  &:active {
    background-color: var(--color-tertiary-grouped-background);
  }

  &.-bordered {
    border: 1px solid var(--color-separator);
  }

  &.-circle {
    width: 2.5rem;
    border-radius: 50%;
  }

  &.-light {
    background-color: var(--color-white);
    color: var(--color-default-300);
    &:hover,
    &:focus,
    &:active {
      background-color: var(--color-default-50);
    }
  }

  &.-dark {
    background-color: var(--color-default-900);
    color: var(--color-white);
    &:hover,
    &:focus,
    &:active {
      background-color: var(--color-default-700);
    }
  }

  &.-favorite {
    background-color: var(--color-white);
    color: var(--color-danger-300);
    &:hover,
    &:focus,
    &:active {
      background-color: var(--color-default-50);
    }
  }
}
