/*doc
---
title: Icon
name: icon
category: Components
---

```example
<span class="ncgr-icon" data-icon="heart"></span>
```

*/

@use "@pepabo-inhouse/icon" as icon;

.ncgr-icon {
  @include icon.style();
}
