/*doc
---
title: InteractiveList
name: interactive-list
category: Components
---

選択可能なリストを表現するコンポーネントです。

```example
<div class="ncgr-interactive-list">
  <h1 class="_title">Multi Line</h1>
  <ul class="_list">
    <li class="_item">
      <div>
        <div class="_body">
          <div class="_title">Lorem ipsum dolor sit amet,</div>
          <div class="_description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </div>
        </div>
      </div>
    </li>
    <li class="_item --disabled">
      <div>
        <div class="_body">
          <div class="_title">Lorem ipsum dolor sit amet,</div>
          <div class="_description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </div>
        </div>
      </div>
    </li>
    <li class="_item --activated">
      <div>
        <div class="_body">
          <div class="_title">Lorem ipsum dolor sit amet,</div>
          <div class="_description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </div>
        </div>
      </div>
    </li>
    <li class="_item">
      <a href="#" rel="">
        <div class="_body">
          <div class="_title">Lorem ipsum dolor sit amet,</div>
          <div class="_description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </div>
        </div>
        <div class="_trailing">
          <div class="_icon">
            <span class="ncgr-icon" data-icon="chevron_right"></span>
          </div>
        </div>
      </a>
    </li>
    <li class="_item --activated">
      <a href="#" rel="">
        <div class="_body">
          <div class="_title">Lorem ipsum dolor sit amet,</div>
          <div class="_description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </div>
        </div>
        <div class="_trailing">
          <div class="_icon">
            <span class="ncgr-icon" data-icon="chevron_right"></span>
          </div>
        </div>
      </a>
    </li>
    <li class="_item">
      <button>
        <div class="_body">
          <div class="_title">Lorem ipsum dolor sit amet,</div>
          <div class="_description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </div>
        </div>
      </button>
    </li>
    <li class="_item --activated">
      <button>
        <div class="_body">
          <div class="_title">Lorem ipsum dolor sit amet,</div>
          <div class="_description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </div>
        </div>
      </button>
    </li>
    <li class="_item">
      <label for="SingleLineItem"
        ><div class="_body">
          <div class="_title">Lorem ipsum dolor sit amet,</div>
          <div class="_description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </div>
        </div>
        <div class="_trailing">
          <div class="_input">
            <input
              class="ncgr-checkbox"
              id="SingleLineItem"
              name="SingleLineItem"
              type="checkbox"
              value=""
            />
          </div></div
      ></label>
    </li>
    <li class="_item --selected">
      <label for="SingleLineItemSelected"
        ><div class="_body">
          <div class="_title">Lorem ipsum dolor sit amet,</div>
          <div class="_description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </div>
        </div>
        <div class="_trailing">
          <div class="_input">
            <input
              class="ncgr-checkbox"
              id="SingleLineItemSelected"
              name="SingleLineItemSelected"
              type="checkbox"
              value=""
              checked=""
            />
          </div></div
      ></label>
    </li>
    <li class="_item">
      <a href="#" rel="">
        <div class="_leading">
          <div class="_icon">
            <span class="ncgr-icon" data-icon="home"></span>
          </div>
        </div>
        <div class="_body">
          <div class="_title">Lorem ipsum dolor sit amet,</div>
          <div class="_description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </div>
        </div>
      </a>
    </li>
    <li class="_item --activated">
      <a href="#" rel="">
        <div class="_leading">
          <div class="_icon">
            <span class="ncgr-icon" data-icon="home"></span>
          </div>
        </div>
        <div class="_body">
          <div class="_title">Lorem ipsum dolor sit amet,</div>
          <div class="_description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </div>
        </div>
      </a>
    </li>
    <li class="_item">
      <button>
        <div class="_leading">
          <div class="_icon">
            <span class="ncgr-icon" data-icon="home"></span>
          </div>
        </div>
        <div class="_body">
          <div class="_title">Lorem ipsum dolor sit amet,</div>
          <div class="_description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </div>
        </div>
      </button>
    </li>
    <li class="_item --activated">
      <button>
        <div class="_leading">
          <div class="_icon">
            <span class="ncgr-icon" data-icon="home"></span>
          </div>
        </div>
        <div class="_body">
          <div class="_title">Lorem ipsum dolor sit amet,</div>
          <div class="_description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </div>
        </div>
      </button>
    </li>
    <li class="_item -is-draggable" draggable="true">
      <div>
        <div class="_leading">
          <div class="_icon">
            <span class="ncgr-icon" data-icon="drag_handle"></span>
          </div>
        </div>
        <div class="_body">
          <div class="_title">Lorem ipsum dolor sit amet,</div>
          <div class="_description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </div>
        </div>
      </div>
    </li>
    <li class="_item -is-draggable" draggable="true">
      <div>
        <div class="_leading">
          <div class="_icon">
            <span class="ncgr-icon" data-icon="drag_handle"></span>
          </div>
        </div>
        <div class="_body">
          <div class="_title">Lorem ipsum dolor sit amet,</div>
          <div class="_description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </div>
        </div>
        <div class="_trailing">
          <div class="_icon">
            <span class="ncgr-icon" data-icon="chevron_right"></span>
          </div>
        </div>
      </div>
    </li>
    <li class="_item">
      <label for="SingleLineItemWithCheckboxLeading"
        ><div class="_leading">
          <div class="_input">
            <input
              class="ncgr-checkbox"
              id="SingleLineItemWithCheckboxLeading"
              name="SingleLineItemWithCheckboxLeading"
              type="checkbox"
              value=""
            />
          </div>
        </div>
        <div class="_body">
          <div class="_title">Lorem ipsum dolor sit amet,</div>
          <div class="_description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </div>
        </div></label
      >
    </li>
    <li class="_item">
      <label for="SingleLineItemWithCheckboxLeadingTrailing"
        ><div class="_leading">
          <div class="_input">
            <input
              class="ncgr-checkbox"
              id="SingleLineItemWithCheckboxLeadingTrailing"
              name="SingleLineItemWithCheckboxLeadingTrailing"
              type="checkbox"
              value=""
            />
          </div>
        </div>
        <div class="_body">
          <div class="_title">Lorem ipsum dolor sit amet,</div>
          <div class="_description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </div>
        </div>
        <div class="_trailing">
          <div class="_icon">
            <span class="ncgr-icon" data-icon="chevron_right"></span>
          </div></div
      ></label>
    </li>
    <li class="_item --selected">
      <label for="SingleLineItemWithCheckboxLeadingTrailingSelected"
        ><div class="_leading">
          <div class="_input">
            <input
              class="ncgr-checkbox"
              id="SingleLineItemWithCheckboxLeadingTrailingSelected"
              name="SingleLineItemWithCheckboxLeadingTrailingSelected"
              type="checkbox"
              value=""
              checked=""
            />
          </div>
        </div>
        <div class="_body">
          <div class="_title">Lorem ipsum dolor sit amet,</div>
          <div class="_description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </div>
        </div>
        <div class="_trailing">
          <div class="_icon">
            <span class="ncgr-icon" data-icon="chevron_right"></span>
          </div></div
      ></label>
    </li>
    <li class="_item">
      <label for="SingleLineItemWithRadioLeading"
        ><div class="_leading">
          <div class="_input">
            <input
              class="ncgr-radio"
              id="SingleLineItemWithRadioLeading"
              name="SingleLineItemWithRadio"
              type="radio"
              value="SingleLineItemWithRadioLeading"
            />
          </div>
        </div>
        <div class="_body">
          <div class="_title">Lorem ipsum dolor sit amet,</div>
          <div class="_description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </div>
        </div></label
      >
    </li>
    <li class="_item">
      <label for="SingleLineItemWithRadioLeadingTrailing"
        ><div class="_leading">
          <div class="_input">
            <input
              class="ncgr-radio"
              id="SingleLineItemWithRadioLeadingTrailing"
              name="SingleLineItemWithRadio"
              type="radio"
              value="SingleLineItemWithRadioLeadingTrailing"
            />
          </div>
        </div>
        <div class="_body">
          <div class="_title">Lorem ipsum dolor sit amet,</div>
          <div class="_description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </div>
        </div>
        <div class="_trailing">
          <div class="_icon">
            <span class="ncgr-icon" data-icon="chevron_right"></span>
          </div></div
      ></label>
    </li>
    <li class="_item --selected">
      <label for="SingleLineItemWithRadioLeadingTrailingSelected"
        ><div class="_leading">
          <div class="_input">
            <input
              class="ncgr-radio"
              id="SingleLineItemWithRadioLeadingTrailingSelected"
              name="SingleLineItemWithRadio"
              type="radio"
              value="SingleLineItemWithRadioLeadingTrailingSelected"
              checked=""
            />
          </div>
        </div>
        <div class="_body">
          <div class="_title">Lorem ipsum dolor sit amet,</div>
          <div class="_description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </div>
        </div>
        <div class="_trailing">
          <div class="_icon">
            <span class="ncgr-icon" data-icon="chevron_right"></span>
          </div></div
      ></label>
    </li>
    <li class="_item">
      <div>
        <div class="_leading">
          <div class="_avatar">
            <div class="ncgr-avatar">
              <img src="https://picsum.photos/id/177/200/300" />
            </div>
          </div>
        </div>
        <div class="_body">
          <div class="_title">Lorem ipsum dolor sit amet,</div>
          <div class="_description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </div>
        </div>
      </div>
    </li>
    <li class="_item">
      <a href="#" rel="">
        <div class="_leading">
          <div class="_avatar">
            <div class="ncgr-avatar">
              <img src="https://picsum.photos/id/177/200/300" />
            </div>
          </div>
        </div>
        <div class="_body">
          <div class="_title">Lorem ipsum dolor sit amet,</div>
          <div class="_description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </div>
        </div>
        <div class="_trailing">
          <div class="_icon">
            <span class="ncgr-icon" data-icon="chevron_right"></span>
          </div>
        </div>
      </a>
    </li>
    <li class="_item">
      <button>
        <div class="_leading">
          <div class="_avatar">
            <div class="ncgr-avatar">
              <img src="https://picsum.photos/id/177/200/300" />
            </div>
          </div>
        </div>
        <div class="_body">
          <div class="_title">Lorem ipsum dolor sit amet,</div>
          <div class="_description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </div>
        </div>
        <div class="_trailing">
          <div class="_icon">
            <span class="ncgr-icon" data-icon="chevron_right"></span>
          </div>
        </div>
      </button>
    </li>
    <li class="_item">
      <label for="SingleLineItemWithAvatar"
        ><div class="_leading">
          <div class="_avatar">
            <div class="ncgr-avatar">
              <img src="https://picsum.photos/id/177/200/300" />
            </div>
          </div>
        </div>
        <div class="_body">
          <div class="_title">Lorem ipsum dolor sit amet,</div>
          <div class="_description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </div>
        </div>
        <div class="_trailing">
          <div class="_input">
            <input
              class="ncgr-checkbox"
              id="SingleLineItemWithAvatar"
              name="SingleLineItemWithAvatar"
              type="checkbox"
              value=""
            />
          </div></div
      ></label>
    </li>
    <li class="_item --selected">
      <label for="SingleLineItemWithAvatarSelected"
        ><div class="_leading">
          <div class="_avatar">
            <div class="ncgr-avatar">
              <img src="https://picsum.photos/id/177/200/300" />
            </div>
          </div>
        </div>
        <div class="_body">
          <div class="_title">Lorem ipsum dolor sit amet,</div>
          <div class="_description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </div>
        </div>
        <div class="_trailing">
          <div class="_input">
            <input
              class="ncgr-checkbox"
              id="SingleLineItemWithAvatarSelected"
              name="SingleLineItemWithAvatarSelected"
              type="checkbox"
              value=""
              checked=""
            />
          </div></div
      ></label>
    </li>
    <li class="_item --activated">
      <a href="#" rel="">
        <div class="_leading">
          <div class="_avatar">
            <div class="ncgr-avatar">
              <img src="https://picsum.photos/id/177/200/300" />
            </div>
          </div>
        </div>
        <div class="_body">
          <div class="_title">Lorem ipsum dolor sit amet,</div>
          <div class="_description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </div>
        </div>
        <div class="_trailing">
          <div class="_icon">
            <span class="ncgr-icon" data-icon="chevron_right"></span>
          </div>
        </div>
      </a>
    </li>
    <li class="_item">
      <div>
        <div class="_leading">
          <div class="_media -size-s">
            <div class="_thumbnail">
              <img src="https://picsum.photos/id/219/200/200" />
            </div>
          </div>
        </div>
        <div class="_body">
          <div class="_title">Lorem ipsum dolor sit amet,</div>
          <div class="_description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </div>
        </div>
      </div>
    </li>
    <li class="_item">
      <a href="#" rel="">
        <div class="_leading">
          <div class="_media -size-s">
            <div class="_thumbnail">
              <img src="https://picsum.photos/id/219/200/200" />
            </div>
          </div>
        </div>
        <div class="_body">
          <div class="_title">Lorem ipsum dolor sit amet,</div>
          <div class="_description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </div>
        </div>
        <div class="_trailing">
          <div class="_icon">
            <span class="ncgr-icon" data-icon="chevron_right"></span>
          </div>
        </div>
      </a>
    </li>
    <li class="_item">
      <button>
        <div class="_leading">
          <div class="_media -size-s">
            <div class="_thumbnail">
              <img src="https://picsum.photos/id/219/200/200" />
            </div>
          </div>
        </div>
        <div class="_body">
          <div class="_title">Lorem ipsum dolor sit amet,</div>
          <div class="_description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </div>
        </div>
        <div class="_trailing">
          <div class="_icon">
            <span class="ncgr-icon" data-icon="chevron_right"></span>
          </div>
        </div>
      </button>
    </li>
    <li class="_item">
      <label for="SingleLineItemWithImage"
        ><div class="_leading">
          <div class="_media -size-s">
            <div class="_thumbnail">
              <img src="https://picsum.photos/id/219/200/200" />
            </div>
          </div>
        </div>
        <div class="_body">
          <div class="_title">Lorem ipsum dolor sit amet,</div>
          <div class="_description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </div>
        </div>
        <div class="_trailing">
          <div class="_input">
            <input
              class="ncgr-checkbox"
              id="SingleLineItemWithImage"
              name="SingleLineItemWithImage"
              type="checkbox"
              value=""
            />
          </div></div
      ></label>
    </li>
    <li class="_item --selected">
      <label for="SingleLineItemWithImageSelected"
        ><div class="_leading">
          <div class="_media -size-s">
            <div class="_thumbnail">
              <img src="https://picsum.photos/id/219/200/200" />
            </div>
          </div>
        </div>
        <div class="_body">
          <div class="_title">Lorem ipsum dolor sit amet,</div>
          <div class="_description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </div>
        </div>
        <div class="_trailing">
          <div class="_input">
            <input
              class="ncgr-checkbox"
              id="SingleLineItemWithImageSelected"
              name="SingleLineItemWithImageSelected"
              type="checkbox"
              value=""
              checked=""
            />
          </div></div
      ></label>
    </li>
    <li class="_item --activated">
      <a href="#" rel="">
        <div class="_leading">
          <div class="_media -size-s">
            <div class="_thumbnail">
              <img src="https://picsum.photos/id/219/200/200" />
            </div>
          </div>
        </div>
        <div class="_body">
          <div class="_title">Lorem ipsum dolor sit amet,</div>
          <div class="_description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </div>
        </div>
        <div class="_trailing">
          <div class="_icon">
            <span class="ncgr-icon" data-icon="chevron_right"></span>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>

```

#### Skeleton

```example
<div class="ncgr-skeleton-interactive-list">
  <ul class="_list">
    <li class="_item">
      <div>
        <div class="_body">
          <div class="_title"><span class="_skeleton"></span></div>
          <div class="_description"><span class="_skeleton"></span></div>
        </div>
      </div>
    </li>
    <li class="_item">
      <div>
        <div class="_body">
          <div class="_title"><span class="_skeleton"></span></div>
          <div class="_description"><span class="_skeleton"></span></div>
        </div>
        <div class="_trailing">
          <div class="_input"><div class="ncgr-skeleton-checkbox"></div></div>
        </div>
      </div>
    </li>
    <li class="_item">
      <div>
        <div class="_leading">
          <div class="_input"><div class="ncgr-skeleton-checkbox"></div></div>
        </div>
        <div class="_body">
          <div class="_title"><span class="_skeleton"></span></div>
          <div class="_description"><span class="_skeleton"></span></div>
        </div>
      </div>
    </li>
    <li class="_item">
      <div>
        <div class="_leading">
          <div class="_input"><div class="ncgr-skeleton-radio"></div></div>
        </div>
        <div class="_body">
          <div class="_title"><span class="_skeleton"></span></div>
          <div class="_description"><span class="_skeleton"></span></div>
        </div>
      </div>
    </li>
    <li class="_item">
      <div>
        <div class="_leading">
          <div class="_avatar"><div class="ncgr-skeleton-avatar"></div></div>
        </div>
        <div class="_body">
          <div class="_title"><span class="_skeleton"></span></div>
          <div class="_description"><span class="_skeleton"></span></div>
        </div>
      </div>
    </li>
    <li class="_item">
      <div>
        <div class="_leading">
          <div class="_avatar"><div class="ncgr-skeleton-avatar"></div></div>
        </div>
        <div class="_body">
          <div class="_title"><span class="_skeleton"></span></div>
          <div class="_description"><span class="_skeleton"></span></div>
        </div>
        <div class="_trailing">
          <div class="_input"><div class="ncgr-skeleton-checkbox"></div></div>
        </div>
      </div>
    </li>
    <li class="_item">
      <div>
        <div class="_leading">
          <div class="_media -size-s">
            <div class="_thumbnail"><span class="_skeleton"></span></div>
          </div>
        </div>
        <div class="_body">
          <div class="_title"><span class="_skeleton"></span></div>
          <div class="_description"><span class="_skeleton"></span></div>
        </div>
      </div>
    </li>
    <li class="_item">
      <div>
        <div class="_leading">
          <div class="_media -size-s">
            <div class="_thumbnail"><span class="_skeleton"></span></div>
          </div>
        </div>
        <div class="_body">
          <div class="_title"><span class="_skeleton"></span></div>
          <div class="_description"><span class="_skeleton"></span></div>
        </div>
        <div class="_trailing">
          <div class="_input"><div class="ncgr-skeleton-checkbox"></div></div>
        </div>
      </div>
    </li>
  </ul>
</div>

```

*/

@use 'sass:math';
@use 'sass:map';
@use '@inhouse/interactive-list/mixins';
@use '@inhouse/flavor/variables' as flavor;
@use '@inhouse/adapter/functions' as adapter-functions;
@use '@inhouse/adapter/mixins' as adapter-mixins;

.ncgr-interactive-list {
  @include mixins.style();

  ._item {
    padding: 0 math.div(adapter-functions.get-gap-size($level: m), 2);
    a {
      background-color: -var(--color-white);
    }

    @each $boundary-size in adapter-functions.get-boundary-sizes() {
      @include adapter-mixins.mq-boundary(up, $boundary-size) {
        padding: 0
          math.div(adapter-functions.get-gap-size($level: $boundary-size), 2);
      }
    }

    & > * {
      padding: 0 math.div(adapter-functions.get-gap-size($level: m), 2);
      border-radius: adapter-functions.get-radius-size($level: l);

      @each $boundary-size in adapter-functions.get-boundary-sizes() {
        @include adapter-mixins.mq-boundary(up, $boundary-size) {
          padding: 0
            math.div(adapter-functions.get-gap-size($level: $boundary-size), 2);
        }
      }
    }

    & > ._input {
      display: none;
    }

    & > ._input ~ ._content {
      box-sizing: border-box;
      max-height: 0;
      overflow: hidden;
      transition: all 0.1s ease;
    }

    & > ._input:checked ~ ._content {
      max-height: none;
      padding-top: adapter-functions.get-cell-vertical-spacing-size(
        $density: normal
      );
      padding-bottom: adapter-functions.get-cell-vertical-spacing-size(
        $density: normal
      );
      transition: all 0.1s ease;
    }

    & > ._input ~ * {
      ._icon {
        transform: rotate(0);
        transition: all 0.1s ease;
      }
    }

    & > ._input:checked ~ * {
      ._icon {
        transform: rotate(-180deg);
        transition: all 0.1s ease;
      }
    }
  }
}

.ncgr-skeleton-interactive-list {
  @include mixins.skeleton-style();
}
