/*doc
---
title: List
name: list
category: Components
---

`.ncgr-ul`を指定すると黒丸のリストになります。

```example
<ul class="ncgr-ul">
  <li>臨</li>
  <li>兵</li>
  <li>闘</li>
  <li>者</li>
  <li>皆</li>
  <li>陣</li>
  <li>烈</li>
  <li>在</li>
  <li>前</li>
</ul>
```

`.ncgr-ol`を指定すると算用数字のリストになります。

```example
<ol class="ncgr-ol">
  <li>臨</li>
  <li>兵</li>
  <li>闘</li>
  <li>者</li>
  <li>皆</li>
  <li>陣</li>
  <li>烈</li>
  <li>在</li>
  <li>前</li>
</ul>
```

*/

@use '@inhouse/list/mixins';

.ncgr-ol {
  @include mixins.style();
}

.ncgr-ul {
  @include mixins.style((
    density: normal,
    list-style-type: disc,
    size: m,
  ));
}
