/*doc
---
title: ListView
name: list-view
category: Components
---

選択可能なリストを表現するコンポーネントです。

リスト内の要素は、ユーザーアイコンなどの要素を配置できる`leading`と、テキスト用の`title`、アクションボタン等ほかの要素を配置できる`trailing`に分かれています。

`text`には、PrimaryとSecondaryの二つの属性を持った文章を格納でき、これにより複数行のリストを作成することが可能です。

タイトルが2行になる場合、`.ncgr-list-view`に`-two-line`のmodifierを付与してください。それにより`leading`内の要素が適した位置に調整されます。

タイトルが3行以上になる場合、`.ncgr-list-view`に`-multi-line`のmodifierを付与してください。それにより`leading`及び、`trailing`内の要素が適した位置に調整されます。

また、`.ncgr-list-view`に`-dense`のmodifierを付与すると、リストの上下paddingが半分のサイズになります。


```example
<section class="ncgr-list-group">
  <div class="ncgr-list-group__subheader">
    One-line
  </div>
  <ul class="ncgr-list-view">
    <li class="ncgr-list-tile">
      <div class="ncgr-list-tile__title">
        <div class="ncgr-list-tile__primary-title">
          One-line item
        </div>
      </div>
      <div class="ncgr-list-tile__trailing">
        <div class="ncgr-list-tile__icon">
          <i class="fas fa-ellipsis-v ncgr-typography-light"></i>
        </div>
      </div>
    </li>
    <li class="ncgr-list-tile">
      <div class="ncgr-list-tile__title">
        <div class="ncgr-list-tile__primary-title">
          One-line item
        </div>
      </div>
      <div class="ncgr-list-tile__trailing">
        <div class="ncgr-list-tile__icon">
          <i class="fas fa-ellipsis-v ncgr-typography-light"></i>
        </div>
      </div>
    </li>
    <li class="ncgr-list-tile">
      <div class="ncgr-list-tile__title">
        <div class="ncgr-list-tile__primary-title">
          One-line item
        </div>
      </div>
      <div class="ncgr-list-tile__trailing">
        <div class="ncgr-list-tile__icon">
          <i class="fas fa-ellipsis-v ncgr-typography-light"></i>
        </div>
      </div>
    </li>
  </ul>
  <hr class="ncgr-list-divider">
  <ul class="ncgr-list-view">
    <li class="ncgr-list-tile">
      <div class="ncgr-list-tile__leading">
        <div class="ncgr-list-tile__icon">
          <i class="fab fa-bluetooth-b"></i>
        </div>
      </div>
      <div class="ncgr-list-tile__title">
        <div class="ncgr-list-tile__primary-title">
          One-line item
        </div>
      </div>
      <div class="ncgr-list-tile__trailing">
        <div class="ncgr-list-tile__icon">
          <i class="fas fa-ellipsis-v ncgr-typography-light"></i>
        </div>
      </div>
    </li>
    <li class="ncgr-list-tile">
      <div class="ncgr-list-tile__leading">
        <div class="ncgr-list-tile__icon">
          <i class="fab fa-bluetooth-b"></i>
        </div>
      </div>
      <div class="ncgr-list-tile__title">
        <div class="ncgr-list-tile__primary-title">
          One-line item
        </div>
      </div>
      <div class="ncgr-list-tile__trailing">
        <div class="ncgr-list-tile__icon">
          <i class="fas fa-ellipsis-v ncgr-typography-light"></i>
        </div>
      </div>
    </li>
    <li class="ncgr-list-tile">
      <div class="ncgr-list-tile__leading">
        <div class="ncgr-list-tile__icon">
          <i class="fab fa-bluetooth-b"></i>
        </div>
      </div>
      <div class="ncgr-list-tile__title">
        <div class="ncgr-list-tile__primary-title">
          One-line item
        </div>
      </div>
      <div class="ncgr-list-tile__trailing">
        <div class="ncgr-list-tile__icon">
          <i class="fas fa-ellipsis-v ncgr-typography-light"></i>
        </div>
      </div>
    </li>
  </ul>
  <hr class="ncgr-list-divider">
  <ul class="ncgr-list-view">
    <li class="ncgr-list-tile">
      <div class="ncgr-list-tile__leading">
        <div class="ncgr-avatar ncgr-avatar--medium">
          <img class="ncgr-avatar__image" src="./images/components/avatar/avatar.png">
        </div>
      </div>
      <div class="ncgr-list-tile__title">
        <div class="ncgr-list-tile__primary-title">
          One-line item
        </div>
      </div>
      <div class="ncgr-list-tile__trailing">
        <div class="ncgr-list-tile__icon">
          <i class="fas fa-ellipsis-v ncgr-typography-light"></i>
        </div>
      </div>
    </li>
    <li class="ncgr-list-tile">
      <div class="ncgr-list-tile__leading">
        <div class="ncgr-avatar ncgr-avatar--medium">
          <img class="ncgr-avatar__image" src="./images/components/avatar/avatar.png">
        </div>
      </div>
      <div class="ncgr-list-tile__title">
        <div class="ncgr-list-tile__primary-title">
          One-line item
        </div>
      </div>
      <div class="ncgr-list-tile__trailing">
        <div class="ncgr-list-tile__icon">
          <i class="fas fa-ellipsis-v ncgr-typography-light"></i>
        </div>
      </div>
    </li>
    <li class="ncgr-list-tile">
      <div class="ncgr-list-tile__leading">
        <div class="ncgr-avatar ncgr-avatar--medium">
          <img class="ncgr-avatar__image" src="./images/components/avatar/avatar.png">
        </div>
      </div>
      <div class="ncgr-list-tile__title">
        <div class="ncgr-list-tile__primary-title">
          One-line item
        </div>
      </div>
      <div class="ncgr-list-tile__trailing">
        <div class="ncgr-list-tile__icon">
          <i class="fas fa-ellipsis-v ncgr-typography-light"></i>
        </div>
      </div>
    </li>
  </ul>
  <hr class="ncgr-list-divider">
</section>
<section class="ncgr-list-group">
  <div class="ncgr-list-group__subheader">
    Two-line
  </div>
  <ul class="ncgr-list-view -two-line">
    <li class="ncgr-list-tile">
      <div class="ncgr-list-tile__title">
        <div class="ncgr-list-tile__primary-title">
          Two-line item
        </div>
        <div class="ncgr-list-tile__secondary-title">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </div>
      <div class="ncgr-list-tile__trailing">
        <div class="ncgr-list-tile__icon">
          <i class="fas fa-ellipsis-v ncgr-typography-light"></i>
        </div>
      </div>
    </li>
    <li class="ncgr-list-tile">
      <div class="ncgr-list-tile__title">
        <div class="ncgr-list-tile__primary-title">
          Two-line item
        </div>
        <div class="ncgr-list-tile__secondary-title">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </div>
      <div class="ncgr-list-tile__trailing">
        <div class="ncgr-list-tile__icon">
          <i class="fas fa-ellipsis-v ncgr-typography-light"></i>
        </div>
      </div>
    </li>
    <li class="ncgr-list-tile">
      <div class="ncgr-list-tile__title">
        <div class="ncgr-list-tile__primary-title">
          Two-line item
        </div>
        <div class="ncgr-list-tile__secondary-title">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </div>
      <div class="ncgr-list-tile__trailing">
        <div class="ncgr-list-tile__icon">
          <i class="fas fa-ellipsis-v ncgr-typography-light"></i>
        </div>
      </div>
    </li>
  </ul>
  <hr class="ncgr-list-divider">
  <ul class="ncgr-list-view -two-line">
    <li class="ncgr-list-tile">
      <div class="ncgr-list-tile__leading">
        <div class="ncgr-list-tile__icon">
          <i class="fab fa-bluetooth-b"></i>
        </div>
      </div>
      <div class="ncgr-list-tile__title">
        <div class="ncgr-list-tile__primary-title">
          Two-line item
        </div>
        <div class="ncgr-list-tile__secondary-title">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </div>
      <div class="ncgr-list-tile__trailing">
        <div class="ncgr-list-tile__icon">
          <i class="fas fa-ellipsis-v ncgr-typography-light"></i>
        </div>
      </div>
    </li>
    <li class="ncgr-list-tile">
      <div class="ncgr-list-tile__leading">
        <div class="ncgr-list-tile__icon">
          <i class="fab fa-bluetooth-b"></i>
        </div>
      </div>
      <div class="ncgr-list-tile__title">
        <div class="ncgr-list-tile__primary-title">
          Two-line item
        </div>
        <div class="ncgr-list-tile__secondary-title">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </div>
      <div class="ncgr-list-tile__trailing">
        <div class="ncgr-list-tile__icon">
          <i class="fas fa-ellipsis-v ncgr-typography-light"></i>
        </div>
      </div>
    </li>
    <li class="ncgr-list-tile">
      <div class="ncgr-list-tile__leading">
        <div class="ncgr-list-tile__icon">
          <i class="fab fa-bluetooth-b"></i>
        </div>
      </div>
      <div class="ncgr-list-tile__title">
        <div class="ncgr-list-tile__primary-title">
          Two-line item
        </div>
        <div class="ncgr-list-tile__secondary-title">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </div>
      <div class="ncgr-list-tile__trailing">
        <div class="ncgr-list-tile__icon">
          <i class="fas fa-ellipsis-v ncgr-typography-light"></i>
        </div>
      </div>
    </li>
  </ul>
  <hr class="ncgr-list-divider">
  <ul class="ncgr-list-view -two-line">
    <li class="ncgr-list-tile">
      <div class="ncgr-list-tile__leading">
        <div class="ncgr-avatar ncgr-avatar--medium">
          <img class="ncgr-avatar__image" src="./images/components/avatar/avatar.png">
        </div>
      </div>
      <div class="ncgr-list-tile__title">
         <div class="ncgr-list-tile__primary-title">
          Two-line item
        </div>
        <div class="ncgr-list-tile__secondary-title">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </div>
      <div class="ncgr-list-tile__trailing">
        <div class="ncgr-list-tile__icon">
          <i class="fas fa-ellipsis-v ncgr-typography-light"></i>
        </div>
      </div>
    </li>
    <li class="ncgr-list-tile">
      <div class="ncgr-list-tile__leading">
        <div class="ncgr-avatar ncgr-avatar--medium">
          <img class="ncgr-avatar__image" src="./images/components/avatar/avatar.png">
        </div>
      </div>
      <div class="ncgr-list-tile__title">
         <div class="ncgr-list-tile__primary-title">
          Two-line item
        </div>
        <div class="ncgr-list-tile__secondary-title">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </div>
      <div class="ncgr-list-tile__trailing">
        <div class="ncgr-list-tile__icon">
          <i class="fas fa-ellipsis-v ncgr-typography-light"></i>
        </div>
      </div>
    </li>
    <li class="ncgr-list-tile">
      <div class="ncgr-list-tile__leading">
        <div class="ncgr-avatar ncgr-avatar--medium">
          <img class="ncgr-avatar__image" src="./images/components/avatar/avatar.png">
        </div>
      </div>
      <div class="ncgr-list-tile__title">
         <div class="ncgr-list-tile__primary-title">
          Two-line item
        </div>
        <div class="ncgr-list-tile__secondary-title">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </div>
      <div class="ncgr-list-tile__trailing">
        <div class="ncgr-list-tile__icon">
          <i class="fas fa-ellipsis-v ncgr-typography-light"></i>
        </div>
      </div>
    </li>
  </ul>
  <hr class="ncgr-list-divider">
</section>
<section class="ncgr-list-group">
  <div class="ncgr-list-group__subheader">
    Multi-line
  </div>
  <ul class="ncgr-list-view -multi-line">
    <li class="ncgr-list-tile">
      <div class="ncgr-list-tile__title">
        <div class="ncgr-list-tile__primary-title">
          Multi-line item
        </div>
        <div class="ncgr-list-tile__secondary-title">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </div>
      <div class="ncgr-list-tile__trailing">
        <div class="ncgr-list-tile__icon">
          <i class="fas fa-ellipsis-v ncgr-typography-light"></i>
        </div>
      </div>
    </li>
    <li class="ncgr-list-tile">
      <div class="ncgr-list-tile__title">
        <div class="ncgr-list-tile__primary-title">
          Multi-line item
        </div>
        <div class="ncgr-list-tile__secondary-title">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </div>
      <div class="ncgr-list-tile__trailing">
        <div class="ncgr-list-tile__icon">
          <i class="fas fa-ellipsis-v ncgr-typography-light"></i>
        </div>
      </div>
    </li>
    <li class="ncgr-list-tile">
      <div class="ncgr-list-tile__title">
        <div class="ncgr-list-tile__primary-title">
          Multi-line item
        </div>
        <div class="ncgr-list-tile__secondary-title">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </div>
      <div class="ncgr-list-tile__trailing">
        <div class="ncgr-list-tile__icon">
          <i class="fas fa-ellipsis-v ncgr-typography-light"></i>
        </div>
      </div>
    </li>
  </ul>
  <hr class="ncgr-list-divider">
  <ul class="ncgr-list-view -multi-line">
    <li class="ncgr-list-tile">
      <div class="ncgr-list-tile__leading">
        <div class="ncgr-list-tile__icon">
          <i class="fab fa-bluetooth-b"></i>
        </div>
      </div>
      <div class="ncgr-list-tile__title">
        <div class="ncgr-list-tile__primary-title">
          Multi-line item
        </div>
        <div class="ncgr-list-tile__secondary-title">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </div>
      <div class="ncgr-list-tile__trailing">
        <div class="ncgr-list-tile__icon">
          <i class="fas fa-ellipsis-v ncgr-typography-light"></i>
        </div>
      </div>
    </li>
    <li class="ncgr-list-tile">
      <div class="ncgr-list-tile__leading">
        <div class="ncgr-list-tile__icon">
          <i class="fab fa-bluetooth-b"></i>
        </div>
      </div>
      <div class="ncgr-list-tile__title">
        <div class="ncgr-list-tile__primary-title">
          Multi-line item
        </div>
        <div class="ncgr-list-tile__secondary-title">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </div>
      <div class="ncgr-list-tile__trailing">
        <div class="ncgr-list-tile__icon">
          <i class="fas fa-ellipsis-v ncgr-typography-light"></i>
        </div>
      </div>
    </li>
    <li class="ncgr-list-tile">
      <div class="ncgr-list-tile__leading">
        <div class="ncgr-list-tile__icon">
          <i class="fab fa-bluetooth-b"></i>
        </div>
      </div>
      <div class="ncgr-list-tile__title">
        <div class="ncgr-list-tile__primary-title">
          Multi-line item
        </div>
        <div class="ncgr-list-tile__secondary-title">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </div>
      <div class="ncgr-list-tile__trailing">
        <div class="ncgr-list-tile__icon">
          <i class="fas fa-ellipsis-v ncgr-typography-light"></i>
        </div>
      </div>
    </li>
  </ul>
  <hr class="ncgr-list-divider">
  <ul class="ncgr-list-view -multi-line">
    <li class="ncgr-list-tile">
      <div class="ncgr-list-tile__leading">
        <div class="ncgr-avatar ncgr-avatar--medium">
          <img class="ncgr-avatar__image" src="./images/components/avatar/avatar.png">
        </div>
      </div>
      <div class="ncgr-list-tile__title">
        <div class="ncgr-list-tile__primary-title">
          Multi-line item
        </div>
        <div class="ncgr-list-tile__secondary-title">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </div>
      <div class="ncgr-list-tile__trailing">
        <div class="ncgr-list-tile__icon">
          <i class="fas fa-ellipsis-v ncgr-typography-light"></i>
        </div>
      </div>
    </li>
    <li class="ncgr-list-tile">
      <div class="ncgr-list-tile__leading">
        <div class="ncgr-avatar ncgr-avatar--medium">
          <img class="ncgr-avatar__image" src="./images/components/avatar/avatar.png">
        </div>
      </div>
      <div class="ncgr-list-tile__title">
        <div class="ncgr-list-tile__primary-title">
          Multi-line item
        </div>
        <div class="ncgr-list-tile__secondary-title">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </div>
      <div class="ncgr-list-tile__trailing">
        <div class="ncgr-list-tile__icon">
          <i class="fas fa-ellipsis-v ncgr-typography-light"></i>
        </div>
      </div>
    </li>
    <li class="ncgr-list-tile">
      <div class="ncgr-list-tile__leading">
        <div class="ncgr-avatar ncgr-avatar--medium">
          <img class="ncgr-avatar__image" src="./images/components/avatar/avatar.png">
        </div>
      </div>
      <div class="ncgr-list-tile__title">
        <div class="ncgr-list-tile__primary-title">
          Multi-line item
        </div>
        <div class="ncgr-list-tile__secondary-title">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </div>
      <div class="ncgr-list-tile__trailing">
        <div class="ncgr-list-tile__icon">
          <i class="fas fa-ellipsis-v ncgr-typography-light"></i>
        </div>
      </div>
    </li>
  </ul>
  <hr class="ncgr-list-divider">
</section>
```

*/

// Nachiguro Variables
$boundaries: (
  s: 480px,
  m: 768px,
  l: 1280px
) !default;

$gaps: (
  s: 1rem,
  m: 1.5rem,
  l: 1.5rem,
) !default;

// Inhouse Mixins
@mixin mq-boundary-up($boundary) {
  @media screen and (min-width: map-get($boundaries, $boundary)) {
    @content;
  }
}

// Variables
$list-view-boundaries: $boundaries;
$list-view-gaps: $gaps;

// Functions
@function list-view-gap($list-view-boundary) {
  @return map-get($list-view-gaps, $list-view-boundary);
}

.ncgr-list-group__subheader {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  padding-top: 0.5rem;
  padding-right: list-view-gap(s);
  padding-bottom: 0.5rem;
  padding-left: list-view-gap(s);
  @each $list-view-boundary in map-keys($list-view-boundaries) {
    @include mq-boundary-up($list-view-boundary) {
      padding-right: list-view-gap($list-view-boundary);
      padding-left: list-view-gap($list-view-boundary);
    }
  }
  font-size: 0.8rem;
  font-weight: bold;
}

.ncgr-list-divider {
  background-color: var(--color-separator);
  box-sizing: border-box;
  border: none;
  height: 1px;
  width: 100%;
  margin-top: list-view-gap(s) / 2;
  margin-right: 0;
  margin-bottom: list-view-gap(s) / 2;
  margin-left: 0;
  @each $list-view-boundary in map-keys($list-view-boundaries) {
    @include mq-boundary-up($list-view-boundary) {
      margin-top: list-view-gap($list-view-boundary) / 2;
      margin-bottom: list-view-gap($list-view-boundary) / 2;
    }
  }
}

.ncgr-list-view {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding-top: 0;
  padding-right: list-view-gap(s) / 2;
  padding-bottom: 0;
  padding-left: list-view-gap(s) / 2;
  margin: 0;
  @each $list-view-boundary in map-keys($list-view-boundaries) {
    @include mq-boundary-up($list-view-boundary) {
      padding-right: list-view-gap($list-view-boundary) / 2;
      padding-left: list-view-gap($list-view-boundary) / 2;
    }
  }
  &.-two-line {
    .ncgr-list-tile__leading {
      align-self: flex-start;
    }
  }
  &.-multi-line {
    .ncgr-list-tile {
      align-items: flex-start;
    }
    .ncgr-list-tile__secondary-title {
      white-space: normal;
      overflow: auto;
      text-overflow: clip;
    }
  }
  &.-dense {
    .ncgr-list-tile {
      padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }
  }
}

.ncgr-list-tile {
  box-sizing: border-box;
  width: 100%;
  line-height: 1.5;
  height: auto;
  display: flex;
  align-items: center;
  padding: 1rem;
  padding-top: 1rem;
  padding-right: list-view-gap(s) / 2;
  padding-bottom: 1rem;
  padding-left: list-view-gap(s) / 2;
  border-radius: 0.5rem;
  @each $list-view-boundary in map-keys($list-view-boundaries) {
    @include mq-boundary-up($list-view-boundary) {
      padding-right: list-view-gap($list-view-boundary) / 2;
      padding-left: list-view-gap($list-view-boundary) / 2;
    }
  }
  cursor: pointer;
  &:hover,
  &:active {
    background: var(--color-tertiary-grouped-background);
  }
}

.ncgr-list-tile__leading {
  width: 3.5rem;
}

.ncgr-list-tile__icon {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ncgr-list-tile__title {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  word-break: break-all;
}

.ncgr-list-tile__primary-title {
  font-size: 1rem;
  color: var(--color-label);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ncgr-list-tile__secondary-title {
  font-size: 0.75rem;
  color: var(--color-secondary-label);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ncgr-list-tile__trailing {
  box-sizing: border-box;
  padding-left: 1rem;
}
