.ncgr-search-bar {
  background-color: var(--color-search-bar-background);
  border-radius: 8px;
  height: 32px;
  padding: 0;
  position: relative;
}

.ncgr-search-bar__input[type="search"] {
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  color: var(--color-label);
  display: block;
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  margin: 0;
  padding: 8px 8px 8px 32px;
  width: 100%;
  outline: none;
  &::placeholder {
    color: var(--color-placeholder-text);
  }
  &:-ms-input-placeholder {
    color: var(--color-placeholder-text);
  }
  &::-ms-input-placeholder {
    color: var(--color-placeholder-text);
  }
}

.ncgr-search-bar__icon {
  color: var(--color-placeholder-text);
  position: absolute;
  top: 8px;
  left: 12px;
}