/*doc
---
title: Section
name: section
category: Components
---

各セクションをマークアップするのに使用します。

主に見出しコンポーネントの`.ncgr-heading--medium`とあわせて使用します。

```example
<section class="ncgr-section">
  <div class="ncgr-section__inner">
    <h2 class="ncgr-heading ncgr-heading--medium">近頃ウワサのあのショップ</h2>
  </div>
</section>
```

sectionの背景色は`.ncgr-section--background`、`.ncgr-section--secondary-background`、`.ncgr-section--grouped-background`のようにセマンティックカラーで指定します。

```example
<section class="ncgr-section ncgr-section--background">
  <h2 class="ncgr-heading ncgr-heading--medium">近頃ウワサのあのショップ</h2>
</section>

<section class="ncgr-section ncgr-section--secondary-background">
  <h2 class="ncgr-heading ncgr-heading--medium">近頃ウワサのあのショップ</h2>
</section>

<section class="ncgr-section ncgr-section--grouped-background">
  <h2 class="ncgr-heading ncgr-heading--medium">近頃ウワサのあのショップ</h2>
</section>
```

*/

.ncgr-section {
  box-sizing: border-box;
  width: 100%;
}

// コンテンツの高さが100%よりも少ないとき
.ncgr-section--short {
  min-height: 100vh;
}

.ncgr-section--background {
  background-color: var(--color-background);
}

.ncgr-section--secondary-background {
  background-color: var(--color-secondary-background);
}

.ncgr-section--grouped-background {
  background-color: var(--color-grouped-background);
}
