/*doc
---
title: Section
name: section
category: Components
---

各セクションをマークアップするのに使用します。

主に見出しコンポーネントの`.ncgr-heading--medium`とあわせて使用します。

```example
<section class="ncgr-section">
  <div class="ncgr-section__inner">
    <h2 class="ncgr-heading ncgr-heading--medium">近頃ウワサのあのショップ</h2>
  </div>
</section>
```

sectionの背景色は`.ncgr-section--background`、`.ncgr-section--secondary-background`、`.ncgr-section--grouped-background`のようにセマンティックカラーで指定します。

```example
<section class="ncgr-section ncgr-section--background">
  <div class="ncgr-section__inner">
    <h2 class="ncgr-heading ncgr-heading--medium">近頃ウワサのあのショップ</h2>
  </div>
</section>

<section class="ncgr-section ncgr-section--secondary-background">
  <div class="ncgr-section__inner">
    <h2 class="ncgr-heading ncgr-heading--medium">近頃ウワサのあのショップ</h2>
  </div>
</section>

<section class="ncgr-section ncgr-section--grouped-background">
  <div class="ncgr-section__inner">
    <h2 class="ncgr-heading ncgr-heading--medium">近頃ウワサのあのショップ</h2>
  </div>
</section>
```

`.ncgr-section__inner--narrow`をModifierで指定すると幅が最大幅の半分になります。
文章を読むことが主要なコンテンツの場合は幅が広いと目を動かす距離が大きくなり、ユーザーに負担がかかるので幅を狭くして読みやすくします。

```example
<section class="ncgr-section">
  <div class="ncgr-section__inner ncgr-section__inner--narrow">
    <h2 class="ncgr-heading ncgr-heading--medium">近頃ウワサのあのショップ</h2>
  </div>
</section>
```

*/

.ncgr-section {
  box-sizing: border-box;
  width: 100%;
}

// コンテンツの高さが100%よりも少ないとき
.ncgr-section--short {
  min-height: 100vh;
}

.ncgr-section--background {
  background-color: var(--color-background);
}

.ncgr-section--secondary-background {
  background-color: var(--color-secondary-background);
}

.ncgr-section--grouped-background {
  background-color: var(--color-grouped-background);
}

.ncgr-section__inner {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
}

.ncgr-section__inner--narrow {
  max-width: 42em;
  @include mediaquery(mobile) {
    padding: 0 12px 0 12px;
  }
}

.ncgr-section__inner--orders,
.ncgr-section__inner--silk {
  max-width: 42em;
}

.ncgr-section__inner--materials {
  max-width: 1080px;
}

.ncgr-section__inner--signup {
  max-width: 32em;
  @include mediaquery(mobile) {
    padding: 0 12px 0 12px;
  }
}