/*doc
---
title: Semi-modal
name: semi-modal
category: Components
---
Semi-modalコンポーネントはSheetコンポーネントをアップデートしたものです。
`-active`のmodifierがある要素は、それを付与することでアクティブな状態になります。

また、`ncgr-semi-modal__contents`を付与したクラスを複数配置し、
`-active`の付け外しをすることでシート内に階層を持たせることができます。

`.semi-modal`をアクティブにするときに、bodyに`.overflow-hidden`を付与することで下の要素のスクロールを制限し、
モーダル内のスクロールの誤動作を防ぐことができます。

```example
<section class="ncgr-semi-modal -active">
  <div class="ncgr-semi-modal__overlay"></div>
  <div class="ncgr-semi-modal__sheet">
    <div class="ncgr-semi-modal__header -active">
      <div class="ncgr-semi-modal__leading">
        <div class="ncgr-semi-modal__icons">
          <i class="fas fa-bars ncgr-typography-light"></i>
        </div>
      </div>
      <div class="ncgr-semi-modal__title">
          メニュー
      </div>
      <div class="ncgr-semi-modal__trailing">
        <i class="fas fa-ellipsis-v ncgr-typography-light"></i>
      </div>
      <div class="ncgr-semi-modal__trailing">
        <i class="fas fa-ellipsis-v ncgr-typography-light"></i>
      </div>
      <div class="ncgr-semi-modal__trailing">
        <i class="fas fa-ellipsis-v ncgr-typography-light"></i>
      </div>
    </div>
    <div class="ncgr-semi-modal__body">
      <div class="ncgr-semi-modal__contents -active">
        <ul class="ncgr-list-view"> 
          <li class="ncgr-list-tile">
            <div class="ncgr-list-tile__title">
              スリスリする
            </div>
          </li>
          <li class="ncgr-list-tile">
            <div class="ncgr-list-tile__title">
              スリスリしない
            </div>
          </li>
          <li class="ncgr-list-tile">
            <div class="ncgr-list-tile__title">
              スリスリする
            </div>
          </li>
          <li class="ncgr-list-tile">
            <div class="ncgr-list-tile__title">
              スリスリしない
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
```

*/

.ncgr-semi-modal {
  &.-active {
    .ncgr-semi-modal__overlay {
      display: block;
      animation: fade-in 0.3s ease;
    }
    .ncgr-semi-modal__sheet {
      transform: translateX(0);
      @include mediaquery(tablet) {
        transform: translateY(0);
      }
    }
  }
}

.ncgr-semi-modal__overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 100;
}

@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

.ncgr-semi-modal__sheet {
  background-color: var(--color-secondary-grouped-background);
  position: fixed;
  top: 0;
  right: 0;
  width: 25rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  transform: translateX(25rem);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 101;
  box-shadow: none !important;
  @include shadow-16dp();
  @include mediaquery(tablet) {
    width: 100%;
    height: 50vh;
    top: auto;
    bottom: 0;
    transform: translateY(50vh);
  }
}

.ncgr-semi-modal__header {
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-secondary-grouped-background);
  display: flex;
  box-sizing: border-box;
  height: 3.5rem;
  display: flex;
  align-items: flex-start;
  padding: 0;
  display: none;
  &.-active {
    display: flex;
  }
}

.ncgr-semi-modal__leading {
  width: auto;
  height: auto;
  min-width: 2.5rem;
  margin: auto 0 auto 1rem;
  flex-shrink: 0;
}

.ncgr-semi-modal__icon {
  font-size: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ncgr-semi-modal__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-self: stretch;
  flex-grow: 1;
  height: 3.5rem;
  font-size: 1rem;
  margin: 0 1rem;
}

.ncgr-semi-modal__trailing {
  min-width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 1rem auto 0.5rem;
}

.ncgr-semi-modal__body {
  position: relative;
  width: 25rem;
  height: auto;
  flex-grow: 1;
  overflow: hidden;
  @include mediaquery(tablet) {
    width: 100vw;
  }
}

.ncgr-semi-modal__contents {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(25rem);
  overflow-y: scroll;
  width: 25rem;
  height: 100%;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--color-secondary-grouped-background);
  &.-active {
    transform: translateX(0);
  }
  @include mediaquery(tablet) {
    width: 100vw;
    transform: translateX(100vw);
  }
}
