/*doc
---
title: Sheet
name: sheet
category: Components
---
Semi-modalコンポーネントはSheetコンポーネントをアップデートしたものです。
Sheetコンポーネントには画面の主要コンテンツを補完するコンテンツが表示されます。

```example
<input id="drawer-menu-trigger" type="checkbox" hidden="">
<div class="ncgr-sheet ncgr-sheet--half">
  <label class="ncgr-sheet__overlay" for="drawer-menu-trigger">
  <section class="ncgr-sheet__sheet">
    <header class="ncgr-sheet__header">
    <main class="ncgr-sheet__contents">
      コンテンツ
    </main>
  </section>
</div>
```

*/

.ncgr-semi-modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    display: none;
    display: grid;
    grid-template-areas: 'OVERLAY SHEET';
    grid-template-columns: 1fr 420px;
    z-index: 100;
    @include mediaquery(tablet) {
      grid-template-areas: 'OVERLAY' 'SHEET';
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 60vh;
    }
  }
  
  .ncgr-semi-modal--half {
    @include mediaquery(tablet) {
      grid-template-rows: 1fr 50vh;
    }
  }
  
  input[type="checkbox"]:checked + .ncgr-semi-modal {
    display: block;
    .ncgr-semi-modal__contents {
        transform: translateX(0);
        @include mediaquery(tablet) {
          transform: translateY(0);
        }
    }
  }
  
  .ncgr-semi-modal__overlay {
    display: block;
    grid-area: OVERLAY;
    
  }
  
  .ncgr-semi-modal__contents {
    grid-area: SHEET;
    background-color: var(--color-secondary-grouped-background);
    height: 100%;
    overflow-y: scroll;
    transform: translateX(420px);
    transition: transform 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
    @include shadow-16dp();
    @include mediaquery(tablet) {
      border-radius: 14px 14px 0 0;
      transform: translateY(60vh);
    }
  }
  
  .ncgr-semi-modal__header {
    position: sticky;
    top: 0;
    left: 0;
    widows: 100%;
    background-color: var(--color-secondary-grouped-background);
    display: flex;
    align-items: center;
    height: 56px;
    border-bottom: 1px solid var(--color-separator);
    @include mediaquery(tablet) {
      flex-direction: row-reverse;
    }
  }
  
  .ncgr-semi-modal__heading {
    flex-grow: 1;
    padding-left: 16px;
    @include mediaquery(tablet) {
      padding-left: 0;
    }
  }
  
  .ncgr-semi-modal__close {
    width: 56px;
    height: 56px;
    cursor: pointer;
    font-size: 24px;
    line-height: 56px;
    text-align: center;
    color: var(--color-secondary-label);
  }
  
  .ncgr-semi-modal__body {
    padding: 16px;
  }