/*doc
---
title: Semi-modal
name: semi-modal
category: Components
---
Semi-modalコンポーネントはSheetコンポーネントをアップデートしたものです。
`-active`のmodifierがある要素は、それを付与することでアクティブな状態になります。

また、`ncgr-semi-modal__contents`を付与したクラスを複数配置し、
`-active`の付け外しをすることでシート内に階層を持たせることができます。

```example
<section class="ncgr-semi-modal">
  <div class="ncgr-semi-modal__overlay -active"></div>
  <div class="ncgr-semi-modal__sheet -active -sheet-half">
    <div class="ncgr-semi-modal__header">
      <div class="ncgr-semi-modal__icon -active">
        ×
      </div>
      <div class="ncgr-semi-modal__heading">
        メニュー
      </div>
    </div>
    <div class="ncgr-semi-modal__body">
      <div class="ncgr-semi-modal__contents -active">
        <ul> 
          <li class="ncgr-pad-16">
            スリスリする
          </li>
          <li class="ncgr-pad-16">
            スリスリしない
          </li>
          <li class="ncgr-pad-16">
            スリスリする
          </li>
          <li class="ncgr-pad-16">
            スリスリしない
          </li>
        </ul>
      </div>
    </div>
</section>
```

*/

.ncgr-semi-modal {
  z-index: 100;
}

.ncgr-semi-modal__overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 100;
  &.-active {
    display: block;
  }
}

.ncgr-semi-modal__sheet {
  background-color: var(--color-secondary-grouped-background);
  position: fixed;
  top: 0;
  right: 0;
  width: 420px;
  height: 100%;
  overflow-y: scroll;
  transform: translateX(420px);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 101;
  &.-sheet-half {
    @include mediaquery(tablet) {
      height: 50vh;
      transform: translateY(50vh);
    }
  }
  &.-active {
    transform: translateX(0);
    @include mediaquery(tablet) {
      transform: translateY(0);
    }
  }
  @include shadow-16dp();
  @include mediaquery(tablet) {
    width: 100%;
    height: 60vh;
    top: auto;
    bottom: 0;
    border-radius: 14px 14px 0 0;
    transform: translateY(60vh);
  }
}

.ncgr-semi-modal__header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-secondary-grouped-background);
  z-index: 102;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  border-bottom: 1px solid var(--color-separator);
  @include mediaquery(tablet) {
    flex-direction: row-reverse;
  }
}

.ncgr-semi-modal__heading {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: var(--color-label);
}

.ncgr-semi-modal__icon {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 56px;
  cursor: pointer;
  font-size: 24px;
  line-height: 56px;
  text-align: center;
  color: var(--color-secondary-label);
  &.-active {
    display: block;
  }
}



.ncgr-semi-modal__body {
  position: relative;
  width: 420px;
  min-height: calc(100vh - 56px);
  height: auto;
  overflow: hidden;
  @include mediaquery(tablet) {
    width: 100vw;
  }
}

.ncgr-semi-modal__contents {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(420px);
  overflow-y: scroll;
  width: 420px;
  height: 100%;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--color-secondary-grouped-background);
  border-radius: 0;
  &.-active {
    transform: translateX(0);
    @include mediaquery(tablet) {
      transform: translateX(0);
    }
  }
  @include mediaquery(tablet) {
    width: 100vw;
    transform: translateX(100vw);
  }
}
