.ncgr-share-button__item {
  display: inline-block;
  line-height: 1;
  position: relative;
  vertical-align: middle;
  margin: 0;
  height: 20px;
}

.ncgr-share-button__item--line {
  margin: 0 0 0 -1px;
  display: none;
  @include mediaquery(tablet) {
    display: inline-block;
  }
}

.ncgr-share-button__tweet-button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  appearance: none;
  height: 20px;
  line-height: 20px;
  font-size: 11px;
  border-radius: 4px;
  width: auto;
  max-width: 100%;
  padding: 0 8px 0 8px;
  background: var(--color-brand-twitter);
  color: var(--color-white);
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  &:focus,
  &:active:focus {
    outline: none;
  }
  &:active,
  &.ncgr-button--active {
    outline: 0;
  }
}
