.ncgr-snackbar {
  z-index: 2;
  margin: 8px;
  display: block;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  bottom: 24px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  pointer-events: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  @include mediaquery(tablet) {
    bottom: 0;
    left: 0;
    right: 0;
    transform: translate(0);
  }
}

.ncgr-snackbar--open {
  display: flex;
  .ncgr-snackbar__surface {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
    transition: opacity .15s cubic-bezier(0, 0, .2, 1) 0ms, transform .15s cubic-bezier(0, 0, .2, 1) 0ms, -webkit-transform .15s cubic-bezier(0, 0, .2, 1) 0ms;
  }
}

.ncgr-snackbar__surface {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  transform: scale(.8);
  opacity: 0;
  @include shadow-6dp();
  border-radius: 8px;
  min-width: 320px;
  background-color: var(--color-default-800);
}

.ncgr-snackbar__label {
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  flex-grow: 1;
  box-sizing: border-box;
  margin: 0;
  padding: 16px 8px 16px 16px;
  color: var(--color-white);
  text-align: left;
}

.ncgr-snackbar__actions {
  margin-left: 0;
  margin-right: 8px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  box-sizing: border-box;
}

.ncgr-snackbar__action {
  padding: 0 8px 0 8px;
  background-color: transparent;
  border-radius: 20px;
  @include shadow-0dp();
  &:hover,
  &:active,
  &:visited,
  &:focus {
    @include shadow-0dp();
  }
  &:hover {
    background-color: var(--color-default-600);
  }
  &:active,
  &:focus {
    background-color: var(--color-default-700);
  }
}

.ncgr-snackbar__action--dismiss {
  color: var(--color-primary-200);
  &:hover,
  &:active,
  &:visited,
  &:focus {
    color: var(--color-primary-200);
  }
}
