.ncgr-sort-menu {
  padding: 0 24px 0 24px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @include mediaquery(mobile) {
    padding: 0 16px 0 16px;
    margin-bottom: 16px;
  }
}

.ncgr-sort-menu__options {
  position: relative;
  display: inline-block;
  select {
    appearance: none;
    border: 0 !important;
    outline: 0;
    box-shadow: none;
    color: var(--color-primary-500);
    cursor: pointer;
    background-color: transparent;
    direction: rtl;
  }
  select::-ms-expand {
    display: none;
  }
  i {
    color: var(--color-primary-500);
  }
  option {
    text-align: right;
  }
}
