#spoofing-notification {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2147483647;
  background-color: var(--color-danger-500);
  color: var(--color-white);
}

#spoofing-notification div {
  font-size: 0.75em;
  margin: auto;
  padding: 0;
  text-align: center;
}