/*doc
---
title: Switch
name: switch
category: Components
---

ON/OFFが切り替えられるスイッチ式のボタンコンポーネントです。

```example
<div class="ncgr-switch">
  <input class="ncgr-switch__input tooltipstered" type="radio" value="false" checked="checked" name="profile[favorites_mail_unreceived]" id="profile_favorites_mail_unreceived_false"><label class="ncgr-switch__item ncgr-switch__item--on" for="profile_favorites_mail_unreceived_false">ON</label><input class="ncgr-switch__input tooltipstered" type="radio" value="true" name="profile[favorites_mail_unreceived]" id="profile_favorites_mail_unreceived_true"><label class="ncgr-switch__item ncgr-switch__item--off" for="profile_favorites_mail_unreceived_true">OFF</label>
</div>
```

*/

.ncgr-switch {
  display: inline-block;
}

.ncgr-switch__input {
  display: none;
}

.ncgr-switch__item {
  display: inline-block;
  cursor: pointer;
  width: 60px;
  margin: 0;
  padding: 16px;
  background: var(--color-textfield-background);
  text-align: center;
  line-height: 1;
  transition: .2s;
}

.ncgr-switch__item--on {
  border-radius: 4px 0 0 4px;
  border-top: 2px solid rgba(var(--color-textfield-separator), 0.15);
  border-bottom: 2px solid rgba(var(--color-textfield-separator), 0.15);
  border-left: 2px solid rgba(var(--color-textfield-separator), 0.15);
}
.ncgr-switch__item--off {
  border-radius: 0 4px 4px 0;
  border-top: 2px solid rgba(var(--color-textfield-separator), 0.15);
  border-right: 2px solid rgba(var(--color-textfield-separator), 0.15);
  border-bottom: 2px solid rgba(var(--color-textfield-separator), 0.15);
}

.ncgr-switch__input[type="radio"]:checked + .ncgr-switch__item--on {
  background-color: var(--color-primary-500);
  color: var(--color-white);
  border-top: 2px solid var(--color-primary-500);
  border-bottom: 2px solid var(--color-primary-500);
  border-left: 2px solid var(--color-primary-500);
}
.ncgr-switch__input[type="radio"]:checked + .ncgr-switch__item--off {
  background-color: var(--color-primary-500);
  color: var(--color-white);
  border-top: 2px solid var(--color-primary-500);
  border-right: 2px solid var(--color-primary-500);
  border-bottom: 2px solid var(--color-primary-500);
}
