/*doc
---
title: Tooltip
name: tooltip
category: Components
---

フォームの入力に誤りがある場合などに使用します。

```example
<div style="position: relative;">
  <div class="ncgr-text-field -color-negative">
    <label class="_label" for="name">名前</label>
    <div class="_control">
      <input class="_input" type="text" name="name" placeholder="スリスリ君">
      <div class="_trailing">
        <span class="ncgr-icon _icon -color-negative" data-icon="exclamation_on_triangle"></span>
      </div>
    </div>
  </div>
  <div class="ncgr-tooltip -top -active" role="tooltip">
    名前は8文字以上で入力してください
  </div>
</div>
```

*/

$tooltip-arrow-size: 0.5rem;
$tooltip-border-radius: 0.25rem;
$tooltip-font-size: 0.75rem;
$tooltip-background-color: var(--color-black);
$tooltip-text-color: var(--color-white);

.ncgr-tooltip {
  background-color: $tooltip-background-color;
  border-radius: $tooltip-border-radius;
  box-sizing: border-box;
  color: $tooltip-text-color;
  font-size: $tooltip-font-size;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  position: absolute;
  visibility: hidden;
  z-index: 1;
  left: 0;
  &.-active {
    visibility: visible;
  }
  &::after {
    content: '';
    position: absolute;
    left: 0.5rem;
    border-style: solid;
    border-width: calc(#{$tooltip-arrow-size} / 2);
  }
}

.ncgr-tooltip.-top {
  bottom: calc(100% + #{$tooltip-arrow-size});
  &::after {
    top: 100%;
    border-color: $tooltip-background-color transparent transparent
      transparent;
  }
}

.ncgr-tooltip.-bottom {
  top: calc(100% + #{$tooltip-arrow-size});
  &::after {
    bottom: 100%;
    border-color: transparent transparent $tooltip-background-color
      transparent;
  }
}
