/*doc
---
title: Uploader
name: uploader
category: Components
---

画像をアップロードするために使用します。

```example
<div class="ncgr-uploader">
  <div class="ncgr-uploader__inner">
    <div class="ncgr-uploader__icon">
      <i class="fas fa-image"></i>
    </div>
    <ul class="ncgr-mar-b-8 ncgr-typography-small ncgr-typography-light">
      <li>.jpg .pngの形式ですか？</li>
      <li>サイズは15MB以下ですか？</li>
      <li>権利侵害していませんか？</li>
    </ul>
    <button class="ncgr-button ncgr-button--primary ncgr-button--fluid">
      <i class="fas fa-upload"></i>
      画像をアップロード
    </button>
  </div>
</div>
```

*/

.ncgr-uploader {
  background-color: var(--color-tertiary-grouped-background);
  border: rgba(var(--color-textfield-separator), 0.15) 4px dashed;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 100%;
  position: relative;
  text-align: center;
}

.ncgr-uploader--sub {
  background-color: var(--color-tertiary-background);
  width: 500px;
  height: 500px;
  margin: 0 auto;
  @include mediaquery(mobile) {
    width: 323px;
    height: 323px;
  }
  .ncgr-uploader__inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.ncgr-uploader--developer {
  background-color: var(--color-default-600);
  border: var(--color-default-300) 4px dashed;
}

.ncgr-uploader__inner {
  box-sizing: border-box;
  display: block;
  padding: 16px;
  margin: 0 auto;
  position: relative;
}

.ncgr-uploader__icon {
  color: var(--color-secondary-label);
  font-size: 64px;
  line-height: 1;
  width: 120px;
  height: 120px;
  margin: 8px auto;
}
.ncgr-hide-dark {
  @media (prefers-color-scheme: dark) {
    display: none;
  }
}

.ncgr-hide-light {
  @media (prefers-color-scheme: light) {
    display: none;
  }
}

.ncgr-texthighlight--first {
  opacity: 60%;
  animation: uploader_textanim 7s ease 0s infinite;
}
.ncgr-texthighlight--second {
  opacity: 60%;
  animation: uploader_textanim 7s ease 2100ms infinite;
}
.ncgr-texthighlight--third {
  opacity: 60%;
  animation: uploader_textanim 7s ease 4200ms infinite;
}

@keyframes uploader_textanim {
  0% {
    opacity: 100%;
  }
  33% {
    opacity: 100%;
  }
  36% {
    opacity: 60%;
  }
  100% {
    opacity: 60%;
  }
}
