/*doc
---
title: User Card
name: user-card
category: Components
---

「User Card」の上部にはクリエイターさんの商品を4枚並べ、そのクリエイターさんがどのようなラインナップのアイテムを販売しているかわかるようにします。

その下にはどのユーザーを示すカードなのか印象づけるためアバター画像を配置します。

また、さらにクリエイターさんの情報を伝えるため、プロフィール文を2行表示します。文字数がオーバーする場合は三点リーダーで省略します。

```example
<div class="ncgr-user-card">
  <div class="ncgr-user-card__products-wrap">
    <div class="ncgr-user-card__products">
      <a class="ncgr-user-card__product" href="#">
        <img class="ncgr-user-card__product-image" src="./images/components/user-card/product-1.jpg">
      </a>
      <a class="ncgr-user-card__product" href="#">
        <img class="ncgr-user-card__product-image" src="./images/components/user-card/product-2.jpg">
      </a>
      <a class="ncgr-user-card__product" href="#">
        <img class="ncgr-user-card__product-image" src="./images/components/user-card/product-3.jpg">
      </a>
      <a class="ncgr-user-card__product" href="#">
        <img class="ncgr-user-card__product-image" src="./images/components/user-card/product-4.jpg">
      </a>
    </div>
  </div>
  <div class="ncgr-user-card__info">
    <a class="ncgr-user-card__avatar">
      <img class="ncgr-user-card__avatar-image" src="./images/components/user-card/avatar.png">
    </a>
    <a class="ncgr-user-card__name" href="#">
      忍者スリスリくん ( surisurikun )
    </a>
    <p class="ncgr-user-card__profile ncgr-mar-t-8">
      こんにちは！SUZURI の公式忍者・スリスリくんです。キミも忍者にならないか？
    </p>
  </div>
</div>
```

*/

.ncgr-user-card {
  background-color: var(--color-secondary-grouped-background);
  box-sizing: border-box;
  color: var(--color-label);
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  @include shadow-2dp();
}
.ncgr-user-card__products-wrap {
  position: relative;
  width: 100%;
  &:before {
    content:'';
    display: block;
    padding-top: 100%;
  }
}
.ncgr-user-card__products {
  border-radius: 8px 8px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--color-tertiary-grouped-background);
}

.ncgr-user-card__product {
  box-sizing: border-box;
  display: block;
  width: 50%;
  &:nth-child(1) {
    border-radius: 8px 0 0 0;
    .ncgr-user-card__product-image {
      border-radius: 8px 0 0 0;
    }
  }
  &:nth-child(2) {
    border-radius: 0 8px 0 0;
    .ncgr-user-card__product-image {
      border-radius: 0 8px 0 0;
    }
  }
}

.ncgr-user-card__product-image {
  vertical-align: top;
  width: 100%;
  height: auto;
}

.ncgr-user-card__info {
  box-sizing: border-box;
  position: relative;
  padding: 38px 10px 10px 10px;
}

.ncgr-user-card__avatar {
  background-color: var(--color-tertiary-grouped-background);
  border-radius: 50%;
  border: 2px solid var(--color-separator);
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  position: absolute;
  overflow: hidden;
  top: -35px;
  left: 50%;
  margin-left: -35px;
  width: 70px;
  height: 70px;
}

.ncgr-user-card__avatar-image {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.ncgr-user-card__name {
  color: var(--color-label);
  display: block;
  font-weight: bold;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ncgr-user-card__profile {
  font-size: 14px;
}