/*doc
---
title: Nachiguro
name: 00-about-nachiguro
category: index
---

NachiguroとはSUZURIのCSSフレームワークです。
名前は硯の原料である那智黒石(なちぐろいし)が由来です。

*/

/*doc
---
title: 編集するには？
name: 01-about-edit
category: index
---

このスタイルガイドは、誰でも自由に編集することができます。

すべてのドキュメントは`assets/stylesheets/lib/nachiguro`にあるSCSSファイルのコメントにMarkdownで書かれています。

HTMLファイルは[Hologram](https://github.com/trulia/hologram)を利用して作られていますので、コメントの記法はHologramの仕様に準じます。
詳しくは Hologramの[README](https://github.com/trulia/hologram/blob/master/README.md)をご覧ください。

ドキュメントを追加したり編集したら、`$ docker-compose exec app hologram`を実行すると、このスタイルガイドに反映されます。

*/

/*doc
---
title: コーディングルール
name: 01-about-Rule
category: index
---

#### Nachiguroのコンポーネントであることを明示的にするため接頭辞`ncgr-`をつける

Nachiguroのコンポーネントであることを明示的にするため接頭辞`ncgr-`をつけます。
このルールは最近決めたので、まだ接頭辞がついていないコンポーネントがあります。
随時ついているものに置き換えていきます。

```scss
.ncgr-button {}
```

#### 記法はmindBEMdingに則る

記法は[mindBEMding](https://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/)に則ります。
以下のようにblockとelementはアンダースコア2つ、blockとmodifierはハイフン2つでつなぎます。
この記法にすることは最近決めたので、まだmindBEMdingで書かれていないものがあります。
随時この記法のものに変えていきます。

```scss
.ncgr-block__element {}
.ncgr-block--modifier {}
```

#### JSでDOMを操作する場合は接頭辞`js-`をつける

JSでDOMを操作する場合は接頭辞`js-`をつけます。
このセレクタはあくまでJSから操作する場合のみに使用し、
スタイルシートでスタイルを指定する場合は`js-`接頭辞のないものに指定し、役割を分離します。

```html
<div class="ncgr-block js-ncgr-block">ブロック</div>
```

```css
.ncgr-block {
  color: red;
}
```

```javascript
$('.js-ncgr-block').on('click', function() {
  console.log('クリック！');
});
```

#### margin,paddingの引数

margin, paddingの引数は省略せずに4つすべて書きます。
これはプリプロセッサ経由であればコンパイル時にミニファイ対象であることと、
ぱっと見てわかりやすいためです。
(この「わかりやすい」は人によって違いますが、SUZURIではすべて書くことにします)

```scss
.ncgr-block {
  padding: 10px 0 10px 0;
}
```

ただし、すべて0の場合は引数は1つのほうがわかりやすいので引数は1つにします。

```scss
.ncgr-block {
  padding: 0;
}
```

#### hamlのdivは明示的に書く

hamlのdivは省略可能ですがSUZURIでは明示的にdivであることをわかりやすくするため、
書くようにします。

```haml
%div.ncgr-block
  ブロック
```

#### Sassのrandom関数を使用しない

Sassのrandom関数を使うとdeployした際にCSSが適用されなくなるため、
random関数は使用しないでください。

#### 省略語をなるべく使わない

`btn`や`col`など省略語は使いません。
これは、`btn`と`button`を比べると誰が見ても`button`の方が「ボタンなんだな」とわかるからです。
コードはタイピングの文字数が少なくなることと天秤にかけてもわかることの方が大切です。

#### コンポーネントの命名に和名をなるべく使わない

ズッキュンの名前を`zukkyun`としたくなることがありますが、これは`favorites`とします。
この命名は基本的にはModelの名前と統一してコード内での表記ゆれを減らして考えることを少なくします。
また、違う言語を扱う人が同時にコードを書くときに、英語であればもっとも伝わるコストが少なくてすみます。

*/

@import 'sass-helpers';

//「Foundation」は、スタイルシートを読み込む順番が変わると、意図しない表示になる可能性があります。
@import 'foundation/animation';
@import 'foundation/breakpoint';
@import 'foundation/color';
@import 'foundation/normalize';
@import 'foundation/reset';
@import 'foundation/shadow';

//「Component」には、抽象化したさまざまなところで利用できる要素・パーツごとのスタイルシートを指定する。
@import 'components/alert';
@import 'components/avatar';
@import 'components/breadcrumbs';
@import 'components/button';
@import 'components/card';
@import 'components/checkbox';
@import 'components/choice-card';
@import 'components/color-selector';
@import 'components/credit-card-icon';
@import 'components/expansion-card';
@import 'components/grid';
@import 'components/heading';
@import 'components/hint';
@import 'components/icon-button';
@import 'components/image';
@import 'components/label';
@import 'components/list';
@import 'components/modal';
@import 'components/pagenation';
@import 'components/price-slider';
@import 'components/product-card';
@import 'components/radio';
@import 'components/section';
@import 'components/selectbox';
@import 'components/separator';
@import 'components/sequence';
@import 'components/share-buttons';
@import 'components/sheet';
@import 'components/square-radio';
@import 'components/tab';
@import 'components/table';
@import 'components/textfield';
@import 'components/text-link';
@import 'components/uploader';
@import 'components/user-card';

//「Layout」には、ページ・セクション・レイアウトごとのスタイルシートを指定する。
@import 'layout/footer';
@import 'layout/header';
@import 'layout/form';

//「Utility」には、抽象化したさまざまなところで利用できる要素・パーツごとのスタイルシートを指定する。
@import 'utility/align';
@import 'utility/border';
@import 'utility/cursor';
@import 'utility/device';
@import 'utility/is-hidden';
@import 'utility/is-sr-only';
@import 'utility/is-transparent';
@import 'utility/is-visible';
@import 'utility/mar';
@import 'utility/pad';
@import 'utility/typography';
@import 'utility/width';
