.ncgr-activity {
  margin: 0 0 2em 0;
  z-index: 0;
  position: absolute;
  top: 20em;
  left: 1em;
  width: 75%;
  @include mediaquery(tablet) {
    position: relative;
    width: 100%;
    top: auto;
    left: auto;
  }
}

.ncgr-activity__item {
  &.inserting {
    opacity: 0;
    transform: rotate(12deg) translate(240px, 100px);
  }
  transition: transform 0.1s linear 0.1s;
  opacity: 1;
  transform: rotate(12deg) translate(0, 0);
  border: none;
  color: var(--color-white);
  display: block;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 0.75em 0;
  padding: 0;
  @include mediaquery(tablet) {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 12px;
    line-height: 1.4;
    margin: 0 0 0.5em 0;
    padding: 0.5em 0 0 0;
  }
}

.ncgr-activity__link {
  color: var(--color-white);
}

.ncgr-activity__hint {
  position: absolute;
  top: 32px;
  left: 16px;
  @include mediaquery(tablet) {
    position: relative;
    top: auto;
    left: auto;
  }
}