.ncgr-choice-header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  position: relative;
  &:before {
    position: absolute;
    right: 0;
    left: 0;
    display: block;
    height: 100%;
    content: '';
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 40%, rgba(255, 255, 255, 0.5) 70%, rgba(255, 255, 255, 0) 100%);
  }
}

.ncgr-choice-header__inner {
  position: relative;
  max-width: 720px;
  margin: 0 auto;
  padding: 120px 0 120px 0;
  @include mediaquery(mobile) {
    padding: 60px 16px 40px 16px;
  }
}

.ncgr-choice-header__item-num {
  color: var(--color-default-800);
}

.ncgr-choice-header__heading {
  color: var(--color-default-800);
}

.ncgr-choice-header__edit-background-button {
  position: absolute;
  top: 16px;
  left: 16px;
}

.ncgr-choice-header__edit-info-button {
  position: absolute;
  top: 48px;
  right: 0;
  @include mediaquery(mobile) {
    right: 16px;
  }
}

.ncgr-choice-header__description {
  color: var(--color-default-800);
  a {
    color: var(--color-default-800);
    text-decoration: underline;
  }
}

.ncgr-choice-header__avatar {
  .ncgr-choice-header__avatar-name {
    color: var(--color-default-800);
  }
}