.ncgr-developer__brand {
  display: flex;
  align-items: center;
  color: var(--color-white);
}

.ncgr-developer__logo {
  width: 80px;
  height: auto;
}

.ncgr-developer__contents {
  padding: 96px 0 48px 0;
  position: relative;
}

.ncgr-developer__document {
  padding: 52px 16px 64px 16px;
  @include mediaquery(tablet) {
    padding: 104px 16px 64px 16px;
  }
}

.ncgr-developer__surisurikun {
  width: 240px;
  height: auto;
}

.ncgr-developer__app {
  position: relative;
}

.ncgr-developer__api-key {
  background: var(--color-default-800);
  color: var(--color-white);
  min-height: 100vh;
}

.ncgr-developer__app-icon {
  width: 500px;
  height: 500px;
}

.ncgr-developer__background {
  height: 100vh;
}

.ncgr-developer__action-buttons {
  display: flex;
  justify-content: center;
}

.ncgr-developer__edit-buttons {
  position: absolute;
  top: 72px;
  right: 16px;
  display: flex;
}

.ncgr-developer__footer-logo {
  width: 100px;
  height: auto;
}

body {
  &.controller-developer-apps {
    background: var(--color-default-800);
    color: var(--color-white);
    line-height: 2;
  }
  &.controller-developer-documentation {
    background: var(--color-default-800);
    color: var(--color-white);
    line-height: 2;
    h2 {
      display: block;
      border-bottom: 1px solid var(--color-white);
      font-size: 30px;
      font-weight: bold;
      margin: 0 0 16px 0;
      padding: 32px 0 8px 0;
      @include mediaquery(mobile) {
        font-size: 20px;
      }
    }
    h3 {
      display: inline-block;
      border-bottom: 1px solid var(--color-white);
      font-size: 18px;
      font-weight: bold;
      margin: 0 0 12px 0;
      padding: 16px 0 0 0;
      @include mediaquery(mobile) {
        font-size: 16px;
      }
    }
    h4 {
      display: block;
      font-size: 16px;
      font-weight: bold;
      margin: 0 0 12px 0;
      padding: 16px 0 0 0;
      @include mediaquery(mobile) {
        font-size: 14px;
      }
    }
    strong {
      font-weight: bold;
      white-space: nowrap;
    }
    em {
      font-style: italic;
      font-weight: normal;
      padding: 0 8px;
      white-space: nowrap;
    }
    p {
      font-size: 16px;
      margin: 0 0 24px 0;
    }
    pre {
      background: rgba(0, 0, 0, 0.35);
      border: 0;
      font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
      font-size: 12px;
      line-height: 1.5;
      margin: 0;
      overflow: scroll;
      padding: 16px;
      white-space: pre-wrap;
      border-radius: 4px;
      span {
        margin: 0;
      }
    }
    code {
      background: rgba(255, 255, 255, 0.1);
      font-style: italic;
      margin: 0 8px;
      padding: 4px 8px 4px 4px;
      border-radius: 4px;
    }
    table {
      table-layout: fixed;
      width: 100%;
      margin: 0 0 32px 0;
      th,
      td {
        border: 1px solid var(--color-default-100) !important;
        font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
        font-size: 12px;
        line-height: 1.5;
        padding: 16px 16px !important;
        vertical-align: middle;
        text-align: left;
      }
      th {
        background: rgba(0, 0, 0, 0.30);
      }
      td {
        background: rgba(255, 255, 255, 0.12);
      }
    }
    #document-contents {
      box-sizing: border-box;
      width: 75%;
      margin-left: 25%;
      @include mediaquery(tablet) {
        width: 100%;
        margin-left: 0;
      }
      a {
        text-decoration: underline;
        color: var(--color-white);
      }
    }
    .table-of-contents {
      display: block;
      width: 25%;
      line-height: 2;
      font-size: 18px;
      font-weight: bold;
      position: fixed;
      top: 160px;
      @include mediaquery(tablet) {
        font-size: 14px;
        overflow-x: auto;
        width: 100%;
        top: 52px;
        left: 0;
        height: 52px;
        border-bottom: 1px solid var(--color-default-600);
        background-color: var(--color-default-800);
      }
      li {
        @include mediaquery(tablet) {
          display: table-cell;
          white-space: nowrap;
        }
      }
      a {
        cursor: pointer;
        color: var(--color-white);
        padding: 0 12px 0 12px;
        @include mediaquery(tablet) {
          background-color: transparent;
          box-sizing: border-box;
          border-radius: 16px;
          display: inline-block;
          font-weight: bold;
          font-size: 13px;
          padding: 0 16px 0 16px;
          margin: 0;
          height: 52px;
          line-height: 52px;
          &:hover {
            opacity: 0.4;
          }
        }
      }
    }
    .highlight {
      margin: 0 0 1.5em 0;
    }
  }
}
