.ncgr-facebook-dpa-feed {
  line-height: 1.8;
}

.ncgr-facebook-dpa-feed__list-item {
  margin-bottom: 16px;
}

.ncgr-facebook-dpa-feed__second-list {
  padding-left: 16px;
}

.ncgr-facebook-dpa-feed__image-300 {
  border: 2px solid var(--color-separator);
  width: 100%;
  max-width: 300px;
}

.ncgr-facebook-dpa-feed__image-600 {
  border: 2px solid var(--color-separator);
  width: 100%;
  max-width: 600px;
}
