.ncgr-favorites__animations {
  max-width: 260px;
  margin: 0 auto;
}

.ncgr-favorites__heading {
  margin-left: 24px;
  @include mediaquery(tablet) {
    margin-left: 16px;
  }
}

.ncgr-favorites__shops {
  position: relative;
}

.ncgr-favorites__shops-more {
  position: absolute;
  top: 0;
  right: 24px;
  @include mediaquery(tablet) {
    right: 16px;
  }
}

.ncgr-favorites__shop-carousel{
  display: flex;
  justify-content: space-between;
  overflow: scroll;
  align-items: center;
}

.ncgr-favorites__shop-carousel--few {
  justify-content: start;
}

.ncgr-favorites__carousel-avatars {
  margin-right: 24px;
  width: 100px;
  text-align: center;
  @include mediaquery(tablet) {
    margin-right: 16px;
    width: 65px;
    font-size: 12px;
  }
  &:first-child {
    margin-left: 24px;
    @include mediaquery(tablet) {
      margin-left: 16px;
    }
  }
  &:last-child {
    padding-right: 24px;
    @include mediaquery(tablet) {
      padding-right: 16px;
    }
  }
}

.ncgr-favorites__carousel-avatar {
  img {
    width: 90px;
    height: 90px;
    border: 1px solid var(--color-separator);
    @include mediaquery(tablet) {
      width: 65px;
      height: 65px;
    }
  }
}

.ncgr-favorites__see-more-button {
  font-size: 14px;
  font-weight: bold;
  display: block;
  width: 100px;
  text-align: center;
  color: var(--color-secondary-label);
  margin-right: 16px;
}

.ncgr-favorites__see-more-arrow {
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 8px;
  display: inline-block;
  background-color: var(--color-tertiary-background);
  width: 56px;
  height: 56px;
  border-radius: 28px;
  @include shadow-2dp();
}

.ncgr-favorites__shop-columns {
  max-width: 800px;
  margin: 0 auto;
}

.ncgr-favorites__shop-heading {
  @include mediaquery(tablet) {
    margin-left: 16px;
  }
}

.ncgr-favorites__shop-list {
  border-bottom: 1px solid var(--color-separator);
}

.ncgr-favorites__shop-info {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  position: relative;
  padding: 24px 0 24px 0;
  @include mediaquery(tablet) {
    padding: 24px 16px 24px 16px;
  }
}

.ncgr-favorites__left {
  display: flex;
  width: 90%;
  @include mediaquery(mobile) {
    width: 85%;
  }
}

.ncgr-favorites__descriptions {
  overflow: hidden;
}

.ncgr-favorites__shop-name {
  color: var(--color-label);
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}

.ncgr-favorites__profile-description {
  color: var(--color-label);
  font-size: 13px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  margin-top: 6px;
  line-height: 1;
}

.ncgr-favorites__right {
  position: relative;
  width: 10%;
  @include mediaquery(mobile) {
    width: 15%;
  }
}

.ncgr-favorites__favarite-button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
