.ncgr-notification {
  text-align: center;
  z-index: 9;
}

.ncgr-notification__button {
  display: block;
  background-color: var(--color-black);
  border-bottom: 1px solid var(--color-separator);
  color: var(--color-white);
  padding: 16px 0 16px 0;
  font-weight: bold;
  &:hover {
    text-decoration: none;
  }
}