.ncgr-orders__contents {
  box-sizing: border-box;
  display: flex;
  @include mediaquery(tablet) {
    display: block;
  }
}

.ncgr-orders__left {
  box-sizing: border-box;
  width: 25%;
  padding: 0 16px 0 16px;
  @include mediaquery(tablet) {
    width: 100%;
    padding: 0;
  }
}

.ncgr-orders__right {
  box-sizing: border-box;
  width: 75%;
  padding: 0 16px 0 0;
  @include mediaquery(tablet) {
    width: 100%;
    padding: 0 16px 0 16px;
  }
}

.ncgr-orders__table-wrap {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.ncgr-orders__table {
  width: 100%;
  display: table;
}

.ncgr-orders__tr {
  display: table-row;
  @include mediaquery(mobile) {
    display: block;
    padding: 16px;
    border-bottom: 1px solid var(--color-separator);
    &:last-child {
      border: none;
    }
  }
}

.ncgr-orders__th {
  padding: 16px;
  vertical-align: middle;
  white-space: nowrap;
  display: table-cell;
  border-bottom: 1px solid var(--color-separator);
  font-weight: bold;
}

.ncgr-orders__th--amount,
.ncgr-orders__th--purchaser {
  display: table-cell;
  @include mediaquery(tablet) {
    display: none;
  }
}

.ncgr-orders__td {
  padding: 16px;
  vertical-align: middle;
  white-space: nowrap;
  display: table-cell;
  border-bottom: 1px solid var(--color-separator);
  @include mediaquery(mobile) {
    border-bottom: none;
    display: block;
    margin-bottom: 24px;
    padding: 0;
    vertical-align: baseline;
    white-space: normal;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.ncgr-orders__td--product-name,
.ncgr-orders__td--purchaser  {
  max-width: 200px;
  white-space: normal;
  @include mediaquery(tablet) {
    max-width: none;
  }
}

.ncgr-orders__td--amount-and-purchaser {
  display: none;
  @include mediaquery(tablet) {
    display: table-cell;
  }
  @include mediaquery(mobile) {
    display: none;
  }
}

.ncgr-orders__td--product-name,
.ncgr-orders__td--amount,
.ncgr-orders__td--purchaser {
  @include mediaquery(tablet) {
    display: none;
  }
  @include mediaquery(mobile) {
    display: block;
  }
}

.ncgr-orders__th--product-image,
.ncgr-orders__td--product-image {
  width: 100px;
  padding: 0;
  @include mediaquery(mobile) {
    width: 100%;
  }
}

.ncgr-orders__product-image {
  display: block;
  width: 100px;
  height: 100px;
  @include mediaquery(mobile) {
    width: 100%;
    height: initial;
  }
}

.ncgr-orders__tweet-button {
  width: 93px;
  iframe {
    vertical-align: top;
  }
}

.ncgr-orders__heading {
  @include mediaquery(tablet) {
    padding: 0 16px 0 16px;
  }
}

.ncgr-orders__radio {
  position: relative;
  border-bottom: 1px solid var(--color-separator);
  padding: 12px 16px 12px 16px;
  &:last-child {
    border-bottom: 0;
  }
}

.ncgr-orders__button-input-credit-card,
.ncgr-orders__button-cancel-input-credit-card {
  position: absolute;
  top: 16px;
  right: 16px;
}

.ncgr-orders__action-buttons {
  width: 320px;
  margin: 48px auto 0 auto;
  @include mediaquery(tablet) {
    margin: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: var(--color-secondary-grouped-background);
    padding: 12px;
    border-top: 1px solid var(--color-separator);
    box-sizing: border-box;
    display: flex;
    padding: 0;
    align-items: center;
    flex-direction: row-reverse;
  }
}

.ncgr-orders__action-button {
  &:last-child {
    margin-top: 16px;
  }
  button {
    width: 100% !important;
  }
  @include mediaquery(tablet) {
    box-sizing: border-box;
    &:first-child {
      width: 70%;
      padding:8px 8px 8px 4px;
    }
    &:last-child {
      width: 30%;
      padding:8px 4px 8px 8px;
      margin-top: 0;
    }
  }
}

.ncgr-orders__shipping-address-edit-button {
  position: absolute;
  top: 16px;
  right: 16px;
}