.ncgr-product__header {
  display: flex;
  align-items: center;
}

.ncgr-product__breadcrumbs {
  flex-grow: 1;
  @include mediaquery(mobile) {
    padding-left: 8px;
  }
}

.ncgr-product__contents {
  display: flex;
  margin-bottom: 24px;
  @include mediaquery(tablet) {
    display: block;
  }
}

.ncgr-product__left {
  width: 60%;
  position: relative;
  padding-right: 24px;
  @include mediaquery(tablet) {
    width: 100%;
    padding-right: 0;
  }
}

.ncgr-product__right {
  width: 40%;
  @include mediaquery(tablet) {
    width: 100%;
  }
}

.ncgr-product__description {
  a {
    color: var(--color-secondary-label);
    text-decoration: underline;
    display: inline;
  }
}

.ncgr-product__action-buttons {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 8px;
}

.ncgr-product__selected-badge {
  position: absolute;
  bottom: 0;
  width: 30%;
  z-index: 8;
  img {
    vertical-align: top;
  }
}

.ncgr-product__control-buttons {
  display: flex;
}

.ncgr-product__thumbs-container {
  @include mediaquery(tablet) {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.ncgr-product__thumbs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2px;
  margin-left: -2px;
  @include mediaquery(tablet) {
    display: inline-table;
  }
}

.ncgr-product__thumb {
  display: block;
  box-sizing: border-box;
  width: calc( 16.666666% - 2px );
  height: auto;
  margin: 0 0 2px 2px;
  overflow: hidden;
  @include mediaquery(tablet) {
    display: table-cell;
  }
}

.ncgr-product__thumb-image {
  display: block;
  width: 100%;
  height: auto;
  cursor: pointer;
  transition-duration: 0.3s;
  &:hover {
    transform: scale(1.1);
    transition-duration: 0.3s;
  }
  @include mediaquery(tablet) {
    width: 110px;
  }
}

.ncgr-product__wearing-image-description {
  bottom: 16px;
  left: 0;
  position: absolute;
  width: 100%;
  pointer-events: none;
  text-align: center;
}

.ncgr-product__wearing-image-description-label {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  box-sizing: border-box;
  color: var(--color-default-800);
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  height: 100%;
  line-height: 1.6;
  margin: 0 16px 0 16px;
  padding: 6px 16px 6px 16px;
}

.ncgr-product__product-choices-heading {
  padding: 0 24px 0 24px;
  @include mediaquery(tablet) {
    padding: 0 16px 0 16px;
  }
}

.ncgr-product__product-choice-card-carousel-list {
  display: flex;
  overflow-x: scroll;
}

.ncgr-product__product-choice-card-carousel-item {
  margin-right: 16px;
  width: 100%;
}

.ncgr-product__product-choice-card-carousel-item:last-child {
  padding-right: 16px;
  margin-right: 0;
}

.ncgr-product__product-choice-card-carousel-card {
  width: 230px;
  @include mediaquery(mobile) {
    width: 150px;
  }
}

.ncgr-product__image {
  overflow: hidden;
  position: relative;
}

.ncgr-product__main-image {
  height: auto;
  height: initial;
  width: 100%;
  display: block;
}

.ncgr-product__item-preview {
  position: absolute;
  bottom: 16px;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 60;
}

.ncgr-product__can-badge-preview-coin-image {
  left: 0;
  top: 0;
  position: absolute;
}
.ncgr-product__can-badge-preview-coin-image--roll-in {
  height: auto;
  @include animation(roll-in, 0.5s, 0, 1);
}

.ncgr-product__can-badge-preview-coin-image--roll-out {
  height: 0px;
  @include animation(roll-out, 0.5s, 0, 1);
}

.ncgr-product__favorite-users {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 50;
  a {
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

.ncgr-product__favorite-user {
  display: block;
  position: absolute;
  line-height: 0;
  margin: 0;
  padding: 0;
  width: 2.8%;
  img {
    height: auto;
    width: 100%;
  }
}

.ncgr-tweet-modal {
  position: fixed;
  top: 60px;
  left: 50%;
  width: 360px;
  margin: 0 0 0 -180px;
  z-index: 200;

  @include mediaquery(tablet) {
    left: 0;
    width: 100%;
    margin: 0;
  }
}

.ncgr-tweet-modal__inner {
  @include mediaquery(tablet) {
    padding: 0 16px;
  }
}

.ncgr-tweet-modal__wearing-images {
  margin-top: 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.ncgr-tweet-modal__wearing-images--center {
  justify-content: center;
}

.ncgr-tweet-modal__wearing-images__image {
  height: 48%;
  width: 48%;
}

.ncgr-product__admin-controls {
  position: fixed;
  bottom: 2em;
  right: 2em;
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
}

// tenso
a#tenso {
  font-size: 0;
  line-height: 0;
  img {
    max-width: 100%;
    height: auto;
  }
}
