.ncgr-top__banner-image {
  width: 600px;
  height: auto;
  border-radius: 8px;
  @include shadow-2dp();
  @include mediaquery(tablet) {
    width: 460px;
  }
  @include mediaquery(mobile) {
    width: 300px;
  }
}

.ncgr-top__section {
  padding: 48px 0 48px 0;
  &:first-child {
    padding: 0;
    &.ncgr-top__how-to-section {
      padding: 48px 0;
      @include mediaquery(tablet) {
        padding-left: 24px 0;
      }
    }
  }
  @include mediaquery(tablet) {
    padding: 24px 0 24px 0;
  }
}

.ncgr-top__section-header {
  padding-left: 24px;
  @include mediaquery(tablet) {
    padding-left: 16px;
  }
}
